Acao/blib/lib/Acao/schemas/classificacao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	elementFormDefault="qualified">

    <xs:complexType name="classificacoes">
       <xs:sequence>
           <xs:element name="classificacao" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
       </xs:sequence>
       <xs:attribute name="validacao" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:element name="classificacao" type="classificacoes" />

</xs:schema>
