acao-semas/schemas/PSE/semas-relatorio-gestao-pse.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-gestao-pse.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-gestao-pse.xsd"
	elementFormDefault="qualified">

	<xs:element name="formRelatorioGestaoPse" type="formRelatorioGestaoPse">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>Relatório Gestão - PSE</xhtml:label>
               <class:classificacoes>
                    <class:classificacao>cn=Relatórios Alta Complexidade,cn=Relatórios Média Complexidade,cn=Proteção Social Especial,cn=Assistencia Social</class:classificacao>
                </class:classificacoes>
				<idx:index>
				</idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formRelatorioGestaoPse">
		<xs:sequence>
<!--   Paradinha Inicio -->
			<xs:element name="exercicioAno" minOccurs="1" type="xs:integer">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Exercício/Ano</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
					
			<xs:element name="periodoMes"  minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Período/mês</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			        <xs:simpleType>
				    <xs:restriction base="xs:string">
					    <xs:enumeration value="Janeiro" />
					    <xs:enumeration value="Fevereiro" />
					    <xs:enumeration value="Março" />
					    <xs:enumeration value="Abril" />
					    <xs:enumeration value="Maio" />
					    <xs:enumeration value="Junho" />
					    <xs:enumeration value="Julho" />
					    <xs:enumeration value="Agosto" />
					    <xs:enumeration value="Setembro" />
					    <xs:enumeration value="outubro" />
					    <xs:enumeration value="Novembro" />
					    <xs:enumeration value="Dezembro" />
				    </xs:restriction>
				    </xs:simpleType>
			</xs:element>
			
			<xs:element name="coordena"  minOccurs="0" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>SEMAS - Coordenação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="identinstansemas"  minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Instância SEMAS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
                    <xs:sequence>

						<xs:element name="outraseccoord"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Serviços executados em parceria com outras Secretarias/Coordenadorias</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="secdirhumano"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Secretaria de Direitos Humanos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="coordpolpublmulh"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Coordenadoria de Políticas Públicas para Mulheres</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="equipamentopse"  minOccurs="0" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Equipamentos de PSE</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		    <xs:element name="identinstansquip"  minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Instância Equipamento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
                    <xs:sequence>

						<xs:element name="creasserii"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS SER II</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="creasseriii"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS SER III</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="creasserv"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS SER V</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="creaspop"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS CENTRO POP</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="espacolhnoturno"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Espaço de Acolhimento Noturno</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="casapassagem"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Casa de Passagem</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="fildsetServProgBenAcao"  minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Serviço/Programa/Projeto/Benefício/Ação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
                    <xs:sequence>

						<xs:element name="ServProgBenAcaoCreas"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em caso de marcar a opção CREAS:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Serviço de Proteção e Atendimento Especializado a Famílias e Indivíduos – PAEFI" />
									<xs:enumeration value="Programa de Erradicação do Trabalho Infantil- PETI" />
									<xs:enumeration value="Serviço Especializado em Abordagem Social" />
									<xs:enumeration value="Núcleo de Participação Popular - NUPP" />
								</xs:restriction>
							</xs:simpleType>	
						</xs:element>	

						<xs:element name="ServProgBenAcaoCreasOutro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="ServProgBenAcaoCreaspop"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em caso de marcar a opção CREASPOP:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Serviço Especializado para Pessoas em Situação de Rua" />
									<xs:enumeration value="Serviço Especializado em Abordagem Social" />
									<xs:enumeration value="Núcleo de Participação Popular - NUPP" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="ServProgBenAcaoCreasPopOutro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="ServProgBenAcaoCasaPass"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em caso de marcar a opção espaço de acolhimento noturno ou casa de passagem:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Serviço de Acolhimento Institucional" />
								</xs:restriction>
							</xs:simpleType>	
						</xs:element>	

						<xs:element name="ServProgBenAcaoCasaPassOutro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="ServProgBenAcaoSecDH"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em caso de marcar a opção secretaria de direitos humanos:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Serviço de Enfrentamento à Violência, ao Abuso e a Exploração Sexual de Crianças e Adolescentes " />													
									<xs:enumeration value="Serviço de Proteção Social a Adolescentes em Cumprimento de Medida Socioeducativa de Liberdade Assistida (LA), e de Prestação de Serviços à Comunidade (PSC): Programa Se Garanta" />																					
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="ServProgBenAcaoPolPubMul"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em caso de marcar a opção coordenadoria de políticas públicas para mulheres:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Serviço Especializado - Centro de Referência e Atendimento à Mulher em Situação de Violência Doméstica e Sexual Francisca Clotilde" />													
									<xs:enumeration value="Serviço de Acolhimento Institucional - Casa Abrigo para Mulheres em Eminente Risco de Morte" />																														
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="fildsetAtividadesRealizadas"  minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Atividades Realizadas </xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			
				<xs:complexType>
                    <xs:sequence>
						<xs:element name="fildsetAtividadesRealizadasCras"  minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>Em caso de marcar a opção CRAS - Serviço de Proteção e Atendimento Integral a Família – PAIF: </xhtml:label>
							</xs:appinfo>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>

								<xs:element name="recepAcolhida" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Recepção e acolhida</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="acompFamilias" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Acompanhamento de famílias</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="acompIndividuos" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Acompanhamento de indivíduos</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="convSocioEducFam" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Grupo/oficina de convivência e atividades socioeducativas com famílias</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="visitasDomic" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Visitas Domiciliares</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="deslEquipeAtenLocDist" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Deslocamento da Equipe para atendimento em localidades distantes</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="acompFamDescCondic" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Acompanhamento de famílias em descumprimento de condicionalidades</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="acompBenFamBpc" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Acompanhamento a beneficiários e famílias beneficiárias do BPC</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="acompFamPaefi" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Acompanhamento a famílias integrantes do PETI (após contrarreferenciamento do PAEFI)</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="acompFamAtenbenEventuais" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Acompanhamento a famílias atendidas com benefícios eventuais</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="encamiFamIndiredServSociass" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Encaminhamento de famílias ou indivíduos para a rede de serviço socioassistencial</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="encFamIndpoliticasPublicas" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Encaminhamento de famílias ou indivíduos para outras políticas públicas</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="encObtbenEventuais" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Encaminhamento para obtenção de Benefícios Eventuais</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="encInserCadUnico" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Encaminhamento para inserção de famílias no Cadastro Único</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="orienAcompInserBPC" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Orientação/acompanhamento para inserção do BPC</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="AcompEncaRealizados" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Acompanhamento dos encaminhamentos realizados</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="palestras" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Palestras</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="apoioDocPessoal" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Apoio para obtenção de Documentação pessoal</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="outrosAtivTealizadaCRAS" minOccurs="0">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Outros</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>


					<xs:element name="fildsetAtividadesRealizadasCreas"  minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>Em caso de marcar a opção CREAS 1 ou 2 - Serviço de Proteção e Atendimento Especializado a Famílias e Indivíduos – PAEFI: </xhtml:label>
							</xs:appinfo>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>

								<xs:element name="entrevAcolAvaliainicialCasos" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Entrevistas de acolhida para avaliação inicial dos casos</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="atendPsicossocialGrupo" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Atendimento psicossocial em grupo</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="atendPsicossocialIndFam" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Atendimento psicossocial individual/familiar</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="contrPlanoIndFamAtendimento" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Construção de Plano Individual e/ou Familiar de atendimento</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="acompFamIndEncRede" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Acompanhamento às famílias ou aos indivíduos encaminhados para a rede</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="acompFamCriaAdoleIdosoAfastados" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Acompanhamento de famílias com criança/adolescente ou idoso afastados do convívio familiar</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="orientacaoJuridicosocial" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Orientação jurídicosocial</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>	

								<xs:element name="reuniaoGruposFamInd" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Reuniões com grupos de famílias ou de indivíduos</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="visitiasDomCreas" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Visitas domiciliares</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="palestrasOficinas" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Palestras/ oficinas</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="encFamIndRedeServSocioass" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Encaminhamento de famílias ou indivíduos para a rede de serviços socioassistenciais</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="encUserDepSubstPsicoativasRedeSaude" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Encaminhamento de usuários/dependentes de substâncias psicoativas para serviços da rede de saúde</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="encFamIndOutrosServRedeSaude" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Encaminhamento de famílias ou indivíduos para outros serviços da rede de saúde</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="encFamIndServPoliticasPubCreas" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Encaminhamento de famílias ou indivíduos para serviços das demais políticas públicas</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="encConsTutelar" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Encaminhamento para o Conselho Tutelar</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="encOrgaosDefesaResp" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Encaminhamento para órgãos de defesa e responsabilização</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="acoesMobSensibEnfrentViolDireitos" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Ações de mobilização e sensibilização para o enfrentamento das situações de violação de direitos</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="elabRelatoriosTecCasosAcompanhamento" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Elaboração de relatórios técnicos sobre casos em acompanhamento</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="discCasosOutrosProfissRede" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Discussão de casos com outros profissionais da rede</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>

								<xs:element name="buscaAtiva" minOccurs="1" type="xs:boolean">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Busca ativa</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>								

								<xs:element name="outrosAtivTealizadaCREAS" minOccurs="0">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Outros - Especificar</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="255"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>		

							</xs:sequence>
						</xs:complexType>	
					</xs:element>
					
					<xs:element name="fieldsetMeta"  minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>Meta</xhtml:label>
							</xs:appinfo>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								
								<xs:element name="metaProgramada"  minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Meta - Programada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
								</xs:element>
								<xs:element name="metaExecutada"  minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Meta - Executada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
								</xs:element>

							</xs:sequence>
						</xs:complexType>	
					</xs:element>	

					<xs:element name="resulProdutosObtidos"  minOccurs="0" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>Resultados/Produtos Obtidos</xhtml:label>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="aspectosFacilitadores"  minOccurs="0" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>Aspectos facilitadores</xhtml:label>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="aspectosDificultadores"  minOccurs="0" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>Aspectos dificultadores</xhtml:label>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="propostaSuperDificuldades"  minOccurs="0" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>Proposta de superação das dificuldades</xhtml:label>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="demandasSetorEquipamento"  minOccurs="0" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>Demandas do setor/equipamento</xhtml:label>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
<!--   Paradinha Fim -->
		</xs:sequence>
	</xs:complexType>
</xs:schema>
