acao-semas/schemas/PSE/semas-ficha-atendimento-creas.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-ficha-atendimento-creas.xsd"
    xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
    xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
    xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-ficha-atendimento-creas.xsd"
    elementFormDefault="qualified">

    <xs:element name="formFichaAtendimentoCreas" type="formFichaAtendimentoCreas">
        <xs:annotation>
            <xs:appinfo>
                <xhtml:label>Ficha de Atendimento</xhtml:label>
                <class:classificacoes>
                    <class:classificacao>cn=Prog Atendimento a População em Situação de Rua,cn=Prog Enfrentamento a Violação de Direito,cn=Proteção Social Especial,cn=Assistencia Social</class:classificacao>
                </class:classificacoes>
                <idx:index>
                    <idx:hint key="pessoa.numeronis" xpath="formFichaAtendimentoCreas/numeronis"/>
                    <idx:hint key="pessoa.nome" xpath="formFichaAtendimentoCreas/nomresp"/>
                </idx:index>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>


	<xs:complexType name="formFichaAtendimentoCreas">
        <xs:sequence>


			<xs:element name="numeronis" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>NIS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="demanda"  minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Demanda expontânea</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Sim" />
					<xs:enumeration value="Não" />
				</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="identificaresp">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1. Identificação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
				        <xs:element name="nomresp" minOccurs="1">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.1 Nome</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="apelido" minOccurs="1">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Apelido</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="nomesocial" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.2 Nome social</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="nompai" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.4 Nome do Pai</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="nommae" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.4.1 Nome da mãe</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="natural" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.5 Naturalidade</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>
				        
				        <xs:element name="dtnasc" minOccurs="0" type="xs:date">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Data de Nascimento</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				        </xs:element>

				        <xs:element name="numrg" minOccurs="1">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.6 RG</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                    <xs:pattern value="[0-9]+[0-9]+"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="numcpf" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>CPF</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                    <xs:pattern value="[0-9]+"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="carteiraprof" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Carteira profissional</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                    <xs:pattern value="[0-9]+"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="interesseretdoc"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.7 Possui interesse para retirada de documentação?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Sim" />
								<xs:enumeration value="Não" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="interesseretdocqual"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.7.1 Qual?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Certidão de Nascimento" />
								<xs:enumeration value="RG" />
								<xs:enumeration value="CPF" />
								<xs:enumeration value="CTPS" />
								<xs:enumeration value="RG" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

				        <xs:element name="estcivil" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.8 Estado Civil</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solteiro" />
									<xs:enumeration value="Casado" />
									<xs:enumeration value="União estável" />
									<xs:enumeration value="Viúvo" />
									<xs:enumeration value="Separado" />
									<xs:enumeration value="Divorciado" />
								</xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="logradouro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2. Endereço/Local de Permanência</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/enderecos</xsdext:service>
								</xsdext:extensions>								
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="bairro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bairro</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/bairros</xsdext:service>
								</xsdext:extensions>											
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
				        <xs:element name="comunlocal" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Comunidade/localidade</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="orgaoexpedidor" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Órgão Expedidor</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="dataexpedicao" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data Expedição</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

				        <xs:element name="comunlocalresp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Comunidade/Localidade</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="regionalresp"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SER I" />
								<xs:enumeration value="SER II" />
								<xs:enumeration value="SER III" />
								<xs:enumeration value="SER IV" />
								<xs:enumeration value="SER V" />
								<xs:enumeration value="SER VI" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

				        <xs:element name="pontorefresp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Ponto de Referência</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>
				        
				        <xs:element name="numtelresp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.10 Telefone</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>
				        
						<xs:element name="telefoneresp"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Próprio" />
								<xs:enumeration value="Público" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

				        <xs:element name="recadocontresp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Recado</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="orientsex"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.11 Orientação Sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Homossexualidade/Lesbianidade" />
								<xs:enumeration value="Bissexualidade" />
								<xs:enumeration value="Heterossexualidade" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="identidadegenresp"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.12 Identidade de gênero</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Travesti" />
								<xs:enumeration value="Transsexual" />
								<xs:enumeration value="Trangênero" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="corracaresp"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.13 Cor/Raça</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Preta" />
								<xs:enumeration value="Branca" />
								<xs:enumeration value="Parda" />
								<xs:enumeration value="Amarela" />
								<xs:enumeration value="Indígena" />
								<xs:enumeration value="Não sei" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="religiao"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.14 Religião</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Católica" />
								<xs:enumeration value="Evangélica" />
								<xs:enumeration value="Umbanda" />
								<xs:enumeration value="Outros" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="origem"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.15 Origem</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Fortaleza / centro" />
								<xs:enumeration value="Fortaleza/outros bairros" />
								<xs:enumeration value="Região metropolitana" />
								<xs:enumeration value="Interior do estado" />
								<xs:enumeration value="Outro estado" />
								<xs:enumeration value="Outro país" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

		            </xs:sequence>
		        </xs:complexType>
	        </xs:element>

			<xs:element name="sitsocioecon">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2. Situação sócioeconômica</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:complexType>
					<xs:sequence>

						<xs:element name="profissao"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.1 Profissão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
						</xs:element>
						
				        <xs:element name="ocupacao" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Ocupação</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>


						<xs:element name="cartassinada"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.2 Carteira assinada</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tmpcontrib" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tempo de contribuição</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="gosttrab" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.3 Com que gostaria de trabalhar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="exercativrem"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.4 Exerce alguma atividade remunerada atualmente?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="qremun" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual atividade?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="qremun" minOccurs="0" type="xs:float">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Remuneração</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="rendamen"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.5 Renda Mensal</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sem renda" />
									<xs:enumeration value="Até 1SM" />
									<xs:enumeration value="De 1SM até 2SM" />
									<xs:enumeration value="Até 3SM" />
									<xs:enumeration value="Acima 3SM" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="aposent"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.6 Aposentado</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="pension"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.7 Pensionista</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="insccadunico"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.8 Possui inscrição no cadastro único</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="recbenef"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.9 Recebe algum benefício</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="BPC idoso" />
									<xs:enumeration value="BPC deficiente" />
									<xs:enumeration value="BPC" />
									<xs:enumeration value="Não possui" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

		            </xs:sequence>
		        </xs:complexType>
	        </xs:element>


			<xs:element name="historicoescolar">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3. Histórico escolar </xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="escolaridade"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.1 Escolaridade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Fundamental completo" />
									<xs:enumeration value="Fundamental incompleto" />
									<xs:enumeration value="Médio completo" />
									<xs:enumeration value="Médio incompleto" />
									<xs:enumeration value="Superior completo" />
									<xs:enumeration value="Superior incompleto" />
									<xs:enumeration value="Não analfabetizado" />
									<xs:enumeration value="Apenas assina o nome" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="estudaatual"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.2 Atualmente está estudando?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						

						<xs:element name="nomescola" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome da escola</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/escolas</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="enderecoescola" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Endereço da escola</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/enderecos</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="foneescola"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Telefone da escola</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="horarioescola"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Horário</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="condicsaude">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>4. Condições de Saúde </xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="probsaude"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.1 Problemas de saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="probsaudeespec"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="usomedic"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.2 Faz uso de medicação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="usomedicespec"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="cuidador"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.3 Cuidador</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="cuidadorespec"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="inditranstmental"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.4 Indícios de Transtorno Mental?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="inditranstmentalespec"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="compfamiliar" minOccurs="0" maxOccurs="20">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>5.Composição Familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						
						<xs:element name="nummembro" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:maxLength value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="nommembro" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="numnismembro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>NIS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="11"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="parentescomembro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Parentesco</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="tipobeneficio"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Benefício</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="BPC Idoso" />
								<xs:enumeration value="BPC Deficiente" />
								<xs:enumeration value="PETI" />
								<xs:enumeration value="Programa Bolsa Família" />
								<xs:enumeration value="Projovem Urbano" />
								<xs:enumeration value="Outro" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="dtnascmembro" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data Nascimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>


						<xs:element name="escolarmembro"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Escolaridade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="NA – Não Alfabetizado" />
								<xs:enumeration value="EMc – Ensino Médio completo " />
								<xs:enumeration value=" EFi – Ensino Fundamental incompleto" />
								<xs:enumeration value="Si – Superior incompleto" />
								<xs:enumeration value="Projovem Urbano" />
								<xs:enumeration value="Outro" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="rgmembro" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>RG</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="cpfmembro" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CPF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="temembro" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>TE</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="ctpsmembro" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CTPS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="cnmembro" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CN</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="ocupacaomembro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ocupação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="rendamembro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Renda</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value='2'/>
									<xs:maxExclusive value="1000000"/>
									<xs:minInclusive value="-1000000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="defic"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Deficiência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="usoalcooldrog"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Uso de álcool e droga</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>



			<xs:element name="acessopolitpublicas">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>6. Acesso às políticas públicas</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="atendservassistsocial"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>6.1 É atendido em algum serviço da política de Assistência Social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="atendservassistsocialespc"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="servsaudde" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="serveduca" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="servprevid" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Previdência Social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="servesplaz" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Esporte, Lazer e Cultura</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="servdirhum" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Direitos Humanos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="servtrabrend" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Trabalho e Renda</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="servseg" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Segurança</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="servassistjur" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Assistência jurídica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="servhabita" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Habitação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="servoutros" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="servbuscaacesso" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Não busca acesso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="acessopolitpublicas">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>7. Situação de risco apresentad</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="abuexplcriaadolesc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Abuso/exploração sexual de crianças e adolescentes</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="abandono" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Abandono</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="afastconvmedsocioeduca" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Afastamento do convívio familiar devido à aplicação de medida socioeducativa ou de proteção</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="vivtrabinf" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Vivência de Trabalho Infantil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="joveconflei" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Jovens em conflito com a lei</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="negviocriaadol" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência ou maus tratos contra crianças</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="negviolabufin" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra a pessoa idosa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="negviopessdefi" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra pessoa com deficiência </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="negviotransmental" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra pessoa com transtorno mental</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="defconvsocial" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas com deficiência afastadas do convívio social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="transmentafastconvsocial" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas com transtorno mental afastadas do convívio social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="famsitinsegalimentar" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Famílias em situação de insegurança alimentar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="violurbana" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Violência urbana</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="violdomestmulher" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Violência doméstica contra a mulher</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="rischabitacional" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Risco habitacional </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="sitriscmendic" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Mendicância</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pessitrua" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoa em situação de rua</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="drogalcool" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Drogadição/ alcoolismo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="carcpriv" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Cárcere privado</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="semdocumcivil" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoa sem documentação civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="sitriscdiscrim" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Discriminação (ex.: étnica, cultural, gênero, orientação sexual, religiosa)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>


						<xs:element name="semdocumcivil" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Descumprimento de condicionalidades do PBF e do PETI em decorrência de violação de direitos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="semdocumcivil" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tráfico de seres humanos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="semdocumcivil" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tráfico de seres humanos para fins sexuais</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="semdocumcivil" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Turismo sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criaadolforaescola" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Criança e/ou adolescente fora da escola</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="nulacessservpub" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Precário ou nulo acesso aos serviços públicos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="fragvincafet" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Fragilização de vínculos afetivos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="sitriscdesemprego" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Desemprego</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="sitriscoutros" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="nomertecresp" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Técnico(a) Responsável</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="datadocumento" minOccurs="1" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
