acao-semas/schemas/PSE/semas-relatorio-mensal-quantitativo-ultimo-creas.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-mensal-quantitativo-ultimo-creas.xsd"
    xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
    xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
    xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-mensal-quantitativo-ultimo-creas.xsd"
    elementFormDefault="qualified">

    <xs:element name="formRelatorioMensalQuantCreas" type="formRelatorioMensalQuantCreas">
        <xs:annotation>
            <xs:appinfo>
                <xhtml:label>Relatório Mensal Quantitativo-CREAS</xhtml:label>
               <class:classificacoes>
                    <class:classificacao>cn=Relatórios Média Complexidade,cn=Proteção Social Especial,cn=Assistencia Social</class:classificacao>
                </class:classificacoes>
                <idx:index>
                </idx:index>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="formRelatorioMensalQuantCreas">
        <xs:sequence>


            <xs:element name="equipservico" minOccurs="0" >
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Equipamento/Serviço:</xhtml:label>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="regionalref">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Regional referenciada</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="refser1"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER I</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="refser2"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER II</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="refser3"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER III</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="refser4"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER IV</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="refser5"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER V</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="refser6"  minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER VI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
					</xs:sequence>
				</xs:complexType>

            </xs:element>

            <xs:element name="numano" minOccurs="0" type="xs:integer">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Ano</xhtml:label>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
                    
            <xs:element name="nummes"  minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Mês</xhtml:label>
                    </xs:appinfo>
                </xs:annotation>
                    <xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Janeiro" />
							<xs:enumeration value="Fevereiro" />
							<xs:enumeration value="Março" />
							<xs:enumeration value="Abril" />
							<xs:enumeration value="Maio" />
							<xs:enumeration value="Junho" />
							<xs:enumeration value="Julho" />
							<xs:enumeration value="Agosto" />
							<xs:enumeration value="Setembro" />
							<xs:enumeration value="outubro" />
							<xs:enumeration value="Novembro" />
							<xs:enumeration value="Dezembro" />
						</xs:restriction>
                    </xs:simpleType>
            </xs:element>

            <xs:element name="ativfamindiv">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>1. Atividades com famílias e indivíduos </xhtml:label>
                    </xs:appinfo>
                </xs:annotation>
               <xs:complexType>
                    <xs:sequence>

                    <xs:element name="demcreas"  minOccurs="0" maxOccurs="8">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>1.1  Demandas do CREAS</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                       <xs:complexType>
                            <xs:sequence>
                                
                                <xs:element name="qtdedemexp" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Demanda espontânea</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                
                                <xs:element name="qtdedemencam" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Demanda encaminhada</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                
                                <xs:element name="demrepacolhinst" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Demanda reprimida de acolhimento institucional</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                
                                <xs:element name="demrepabordsoc" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Demanda reprimida de abordagem social</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                
                                <xs:element name="demrepbenevnkit" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Demanda reprimida de  benefícios eventuais - kit enxoval</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                
                                <xs:element name="demrepbenevntransp" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Demanda reprimida de  benefícios eventuais - transporte e passagens</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                
                                <xs:element name="demrepbenevncestab" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Demanda reprimida de  benefícios eventuais - Cesta Básica</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                
                                <xs:element name="demrepbenevnout" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Demanda reprimida de  benefícios eventuais - Outros</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>

                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="atendacomp"  minOccurs="0" maxOccurs="8">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>1.2 Atendimentos e acompanhamentos</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                       <xs:complexType>
                            <xs:sequence>
                                <xs:element name="atendacompopt"  minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>
                                        <xhtml:label>Atendimentos e acompanhamentos</xhtml:label>
                                    </xs:appinfo>
                                </xs:annotation>
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Acolhida" />
                                        <xs:enumeration value="Atendimento psicossocial" />
                                        <xs:enumeration value="Atendimento Social" />
                                        <xs:enumeration value="Atendimento Psicológico" />
                                        <xs:enumeration value="Orientação sociofamiliar" />
                                        <xs:enumeration value="Orientação jurídica" />
                                        <xs:enumeration value="Acompanhamento jurídico" />                                
                                    </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="qtdatendacomp" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Quantidade</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>    
                                <xs:element name="insccadunico" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Inscritos no CadÚnico</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>        
                                <xs:element name="benepbf" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Beneficíários/as -PBF</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>    
                                <xs:element name="desccondiceduc" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Descumprimento condicionalidades - Educ.</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>    
                                <xs:element name="desccondicas" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Descumprimento condicionalidades - A.S.</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>    
                                <xs:element name="desccondicsaude" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Descumprimento condicionalidades - Saúde</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="benebe" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Beneficíários/as -BE</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="bpcidoso" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Beneficíários/as -BPC idoso</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="bpcpcd" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Beneficíários/as -BPC/PCD</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="benepeti" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Beneficíários/as - PETI</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        
                    <xs:element name="atendacompbeneevent"  minOccurs="0" maxOccurs="8">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.3 Benefícios eventuais</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						   <xs:complexType>
								<xs:sequence>

									<xs:element name="solbeneev"  minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>1.3.1 Benefícios eventuais solicitações</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="kit enxoval" />
												<xs:enumeration value="Auxílio Viagem" />
												<xs:enumeration value="Cesta Básica" />
												<xs:enumeration value="Carteira Nacional do Idoso" />                                                                    
												<xs:enumeration value="Outros" />    
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element name="qdeatendacompbe" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quantidade</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>    
									
									<xs:element name="insccadunicobe" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>        
									
									<xs:element name="benepbfbe" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as-PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>    
									
									<xs:element name="desccondiceducbe" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - Educ.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>    
									
									<xs:element name="desccondicasbe" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - A.S.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>    
									
									<xs:element name="desccondicsaudebe" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - Saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									
									<xs:element name="benebe" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									
									<xs:element name="bpcidosobe" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								   
									<xs:element name="bpcpcdbe" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BPC/PCD</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									
									<xs:element name="petibe" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as - PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									
									<xs:element name="outrsolicbe" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Em caso de marcar a opção Outros em benefícios eventuais solicitações:</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

					<xs:element name="atendacompconc"  minOccurs="0" maxOccurs="8">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>1.3.2 Concessões</xhtml:label>
							</xs:appinfo>
						</xs:annotation>
                       <xs:complexType>
                            <xs:sequence>
                                <xs:element name="beneeventconc"  minOccurs="0">
                                <xs:annotation>
                                    <xs:appinfo>
                                        <xhtml:label>Benefícios eventuais solicitações</xhtml:label>
                                    </xs:appinfo>
                                </xs:annotation>
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="kit enxoval" />
                                        <xs:enumeration value="Auxílio Viagem" />
                                        <xs:enumeration value="Cesta Básica" />
                                        <xs:enumeration value="Carteira Nacional do Idoso" />                                                                    
                                        <xs:enumeration value="Outros" />    
                                    </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="qtdatendacomconc" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Quantidade</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>    
                                <xs:element name="insccadunicoconc" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Inscritos no CadÚnico</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>        
                                <xs:element name="benepbf" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Beneficíários/as -PBF</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>    
                                <xs:element name="desccondeduccon" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Descumprimento condicionalidades - Educ.</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>    
                                <xs:element name="desccondasconcon" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Descumprimento condicionalidades - A.S.</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>    
                                <xs:element name="desccondsaudecon" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Descumprimento condicionalidades - Saúde</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="benenecon" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Beneficíários/as -BE</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="bpcidosocon" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Beneficíários/as -BPC idoso</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="bpcpcdcon" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Beneficíários/as -BPC/PCD</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="peticon" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Beneficíários/as - PETI</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="outrsolicitcon" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Em caso de marcar a opção Outros em benefícios eventuais solicitações:</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="255"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>

							</xs:sequence>
						</xs:complexType>
					</xs:element>
                        
                    <xs:element name="denuncias"  minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>1.4 Denúncias</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                       <xs:complexType>
                            <xs:sequence>                                
                                <xs:element name="denunrecebden" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Denúncias recebidas (FRD’s) </xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>    
                                <xs:element name="dencontren" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Denúncias constatadas (NIC’s)</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>        
                                <xs:element name="denimprocden" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Denúncias improcedentes </xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>    
                                <xs:element name="denreprimabordsoccon" minOccurs="0" type="xs:integer">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Denúncias reprimidas  para abordagem social</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                                        
							</xs:sequence>
						</xs:complexType>
					</xs:element>
                        
                    <xs:element name="atendacompanhcon"  minOccurs="0" maxOccurs="8">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.5 Visitas domiciliares</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						   <xs:complexType>
								<xs:sequence>

									<xs:element name="VDSolicitacoes"  minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Benefícios eventuais solicitações</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Visitas  de verificação de violação de direitos" />
												<xs:enumeration value="Visita domiciliar de acompanhamento do caso" />
												<xs:enumeration value="Visitas de verificação de situações de trabalho infantil" />
												<xs:enumeration value="Visitas de pré-cadastro PETI" />                                                                                                        
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="qtdatendacompanvd" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quantidade</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>    
									<xs:element name="inscrcadunicovd" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>        
									<xs:element name="benepbfvd" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>    
									<xs:element name="desccondeducVD" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - Educ.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>    
									<xs:element name="desccondasvd" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - A.S.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>    
									<xs:element name="desccondsaudevd" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - Saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="benebevd" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="bpcidosovd" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="bpcpcdvd" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BPC/PCD</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="benepetivd" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as - PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

					<xs:element name="encaminhamentos">
						 <xs:annotation>
							<xs:appinfo>
								<xhtml:label>1.6 Encaminhamentos </xhtml:label>
							</xs:appinfo>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>

								<xs:element name="encamorgaoent"  minOccurs="0" >
										 <xs:annotation>
											<xs:appinfo>
												<xhtml:label>1.6.1 Órgãos/Entidades </xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:complexType>
											<xs:sequence>

												<xs:element name="redsocasscreas2" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Rede Socioassistêncial - CREAS II</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="redsocasscreas3" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Rede Socioassistêncial - CREAS III</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="redsocasscreas5" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Rede Socioassistêncial - CREAS V</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="redsocasscenpop" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Rede Socioassistêncial - CENTRO POP</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="redsocassredconv" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Rede Socioassistêncial - Rede Conveniada</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="polintsau" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Políticas Intersetoriais - Saúde</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="polinteduc" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Políticas Intersetoriais - SDE</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="polintsdh" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Políticas Intersetoriais - SDH</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												
												<xs:element name="polintprevsoc" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Políticas Intersetoriais - Previdência Social</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="polintersdg" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Políticas Intersetoriais - SDG</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												
												<xs:element name="polintersout" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Outros</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>


											</xs:sequence>
										</xs:complexType>
									</xs:element>
									
								<xs:element name="encamtipo">
										 <xs:annotation>
											<xs:appinfo>
												<xhtml:label>1.6.2 Tipos de Encaminhamentos </xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:complexType>
											<xs:sequence>
											
												<xs:element name="encjurid" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Jurídicos</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												
												<xs:element name="encreqbpc" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Requisição de BPC</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												
												<xs:element name="encgratdef" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>ETUFOR – Gratuidade para Pessoa com Deficiência</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												
												<xs:element name="encdocciv" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Provisão de documentação civil</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												
												<xs:element name="encoutr" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Outros</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
											
											</xs:sequence>
										</xs:complexType>
									</xs:element>

							</xs:sequence>
						</xs:complexType>
					</xs:element>
						
					<xs:element name="dadosatendimento">
						 <xs:annotation>
							<xs:appinfo>
								<xhtml:label>1.7. Dados dos atendimentos PAEFI ( Resolução 04/2011 CIT)</xhtml:label>
							</xs:appinfo>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>

								<xs:element name="fam_acomp_paefi">
										 <xs:annotation>
											<xs:appinfo>
												<xhtml:label>A. Volume de famílias em acompanhamento pelo PAEFI </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="a_totalcaso" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>A.1. Total de casos(famílias ou indivíduos) em acompanhamento pelo PAEFI </xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												
												<xs:element name="a_novocaso" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>A.2. Novos casos(famílias ou indivíduos) inseridos em acompanhamento do PAEFI durante o mês de referência</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												
												<xs:element name="a_casoencerr" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>A.3. Casos Encerrados</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												
												<xs:element name="a_casoencam" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>A.4. Casos  encaminhados ao CRAS</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

								<xs:element name="fam_indivins_acomp_paefi">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>B. Perfil de famílias ou indivíduos inseridos no acompanhamento do PAEFI, no mês</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>

											<xs:element name="b_benepsb" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>B.1. Famílias beneficiárias do Programa Bolsa Família</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="b_benebpc" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>B.2. Famílias com membros beneficiários do BPC </xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="b_criaadolpeti" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>B.3. Famílias com crianças ou adolescentes no PETI</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="b_servacolh" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>B.4. Famílias com crianças ou adolescentes nos Serviços de Acolhimento</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								<xs:element name="vit_viol_intrafam">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>C.1. Crianças ou adolescentes vítimas de violência intrafamiliar (física ou psicológica)</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="c1criadolmasc012" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>MASCULINO - 0 a 12 anos</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="c1criadolfem012" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>FEMININO - 0 a 12 anos</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="c1criadolmasc1317" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>MASCULINO - 13 a 17 anos</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="c1criadolfem1317" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>FEMININO - 13 a 17 anos</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="c1criadolmasc012nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>MASCULINO - 0 a 12 anos(Novos)</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="c1criadolfem012nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>FEMININO - 0 a 12 anos(Novos)</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="c1criadolmasc1317nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>MASCULINO - 13 a 17 anos(Novos)</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="c1criadolfem1317nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>FEMININO - 13 a 17 anos(Novos)</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

								<xs:element name="vit_abuso_sexual">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>C.2. Crianças ou adolescentes vítimas de abuso sexual </xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>

											<xs:element name="c2criadolmasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c2criadolfem012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c2criadolmasc1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c2criadolmasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c2criadolmasc012nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c2criadolfem012nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c2criadolmasc1317nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c2criadolfem1317nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								<xs:element name="vit_explor_sexual">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>C.3. Crianças ou adolescentes vítimas de exploração sexual</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>

											<xs:element name="c3criaadolmasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c3criaadolfam012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c3criaadolmasc1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c3criaadolfem012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c3criaadolmasc012n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c3criaadolfem012n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c3criaadolmasc1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c3criaadolfem1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>
									
								<xs:element name="vit_neglig_abandono">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>C.4. Crianças ou adolescentes vítimas de negligência ou abandono </xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>

											<xs:element name="c4negligabondmasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c4negligabondfem012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c4negligabondmasc1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c4negligabondfem1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c4negligabondmasc012n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c4negligabondfem012n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c4negligabondmasc1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c4negligabondfem1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>
									
								<xs:element name="sit_trab_infantil">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>C.5. Crianças ou adolescentes em situação de trabalho infantil </xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>

											<xs:element name="c5sittraninfmasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c5sittraninffem012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c5sittraninfmasc1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c5sittraninffem1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c5sittraninfmasc012n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c5sittraninffem012n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c5sittraninfmasc1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO - 13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="c5sittraninffem1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO - 13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>
									
								<xs:element name="vitviol_intrafam">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>D.1. Pessoas idosas vítimas de violência intrafamiliar (física, psicológica ou sexual)</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>

											<xs:element name="d1violintrafammasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="d1violintrafamfam012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="d1violintrafammasc012n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="d1violintrafamfam012n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								<xs:element name="vitneglig_abondon">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>D.2. Pessoas idosas vítimas de negligência ou abandono</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>

											<xs:element name="d2violintrafammasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="d2violintrafamfam012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="d2violintrafammasc012n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="d2violintrafamfam012n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								<xs:element name="defvit_violintrafam">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>E.1. Pessoas com deficiência vítimas de violência intrafamiliar (física, psicológica ou sexual) </xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>

											<xs:element name="e1criadolmasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e1criadolfem012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e1criadolmasc1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e1criadolfem1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e1criadolmasc012nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e1criadolfem012nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e1criadolmasc1317nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e1criadolfem1317nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								<xs:element name="defvit_negligabond">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>E.2. Pessoas com deficiência vítimas de negligência ou abandono</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
										
											<xs:element name="e2criadolmasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolfem012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolmasc1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolfem1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolmasc1859" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-18 a 59 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolfem1859" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-18 a 59 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="e2criadolmasc60" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-60 anos ou mais</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolfem60" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-60 anos ou mais</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolmasc012nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolfem012nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolmasc1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolfem1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="e2criadolmasc1859n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-18 a 19 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolfem1859n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-18 a 59 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="e2criadolmasc60n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-60 anos ou mais(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="e2criadolfem60n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-60 anos ou mais(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								<xs:element name="mulhvit_violintrafam">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>F.1. Mulheres adultas (18 a 59 anos) vítimas de violência intrafamiliar (física, psicológica ou sexual) </xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
										
											<xs:element name="mulhvittotal" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>Total</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="mulhvitnovo" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>Novos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								<xs:element name="vittraf_serhum">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>G.1. Pessoas vítimas de tráficos de seres humanos</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
										
											<xs:element name="g1criadolmasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolfem012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolmasc1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolfem1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolmasc1859" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-18 a 59 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolfem1859" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-18 a 59 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="e2criadolmasc60" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-60 anos ou mais</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolfem60" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-60 anos ou mais</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolmasc012nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolfem012nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolmasc1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolfem1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="g1criadolmasc1859n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-18 a 19 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolfem1859n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-18 a 59 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="g1criadolmasc60n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-60 anos ou mais(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolfem60n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-60 anos ou mais(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								<xs:element name="vitdiscrim_oriesexual">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>H.1. Pessoas vítimas de discriminação por orientação sexual </xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
										
											<xs:element name="discoriesexualtot" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>Total</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								<xs:element name="pess_sitrua">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>I.1. Pessoas em situação de rua </xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
										
											<xs:element name="i1criadolmasc012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="i1criadolfem012" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-0 a 12 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="i1criadolmasc1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolfem1317" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-13 a 17 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="i1criadolmasc1859" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-18 a 59 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="iicriadolfem1859" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-18 a 59 anos</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="i1criadolmasc60" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-60 anos ou mais</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="i1criadolfem60" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-60 anos ou mais</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolmasc012nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="g1criadolfem012nov" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-0 a 12 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="i1criadolmasc1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="i1criadolfem1317n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-13 a 17 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="i1criadolmasc1859n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-18 a 19 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="i1criadolfem1859n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-18 a 59 anos(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											
											<xs:element name="i1criadolmasc60n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>MASCULINO-60 anos ou mais(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="i1criadolfem60n" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>FEMININO-60 anos ou mais(Novos)</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								<xs:element name="adolcump_medsoceduc">
									 <xs:annotation>
										<xs:appinfo>
											<xhtml:label>J. Volume de adolescentes em cumprimento de Medidas Socioeducativas acompanhados pelo CREAS</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>

											<xs:element name="j1totmedsoc" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>J.1. Total de adolescentes em cumprimento de Medidas Socioeducativas (MSE) em acompanhamento pelo CREAS </xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="j2cumplibassist" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>J.2. Quantidade de adolescentes em cumprimento de Liberdade Assistida - LA</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="j3prestservcom" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>J.3. Quantidade de adolescentes em cumprimento de Prestação de Serviços à Comunidade - PSC </xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="j4ingracompmascmse" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>J.4. Total adolescentes em cumprimento de MSE que ingressaram em acompanhamento no mês - MASCULINO</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="j4ingracompfemmse" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>J.4. Total adolescentes em cumprimento de MSE que ingressaram em acompanhamento no mês - FEMININO</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="j5ingracompmascla" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>J.5. Quantidade de adolescentes em cumprimento de LA que ingressaram em acompanhamento no mês - MASCULINO</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="j5ingracompfemla" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>J.5. Quantidade de adolescentes em cumprimento de LA que ingressaram em acompanhamento no mês - FEMININO</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="j6ingracompmascpsc" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>J.6. Quantidade de adolescentes em cumprimento de PSC que ingressaram em acompanhamento no mês - MASCULINO</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

											<xs:element name="j6ingracompfempsc" minOccurs="0" type="xs:integer">
												<xs:annotation>
													<xs:appinfo>
														<xhtml:label>J.6. Quantidade de adolescentes em cumprimento de PSC que ingressaram em acompanhamento no mês - FEMININO</xhtml:label>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>

										</xs:sequence>
									</xs:complexType>
								</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

        </xs:sequence>
    </xs:complexType>
</xs:schema>
