acao-semas/schemas/PSE/semas-relatorio-mensal-quantitativo-centropop.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-mensal-quantitativo-centropop.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-mensal-quantitativo-centropop.xsd"
	elementFormDefault="qualified">

	<xs:element name="formRelatorioMensalQuantCentroPop" type="formRelatorioMensalQuantCentroPop">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>Relatório Mensal Quantitativo Centro Pop</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Relatórios Média Complexidade,cn=Proteção Social Especial,cn=Assistencia Social</class:classificacao>
				</class:classificacoes>
				<idx:index>
				</idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formRelatorioMensalQuantCentroPop">
		<xs:sequence>

			<xs:element name="equipservico" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Equipamento/Serviço:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>


			<xs:element name="regionref">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Regional referenciada</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="refser1" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER I</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="refser2" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER II</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="refser3" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER III</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="refser4" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER IV</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="refser5" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER V</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="refser6" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER VI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>


			<xs:element name="numano" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>ANO</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>


			<xs:element name="nummes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Mês</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Janeiro" />
						<xs:enumeration value="Fevereiro" />
						<xs:enumeration value="Março" />
						<xs:enumeration value="Abril" />
						<xs:enumeration value="Maio" />
						<xs:enumeration value="Junho" />
						<xs:enumeration value="Julho" />
						<xs:enumeration value="Agosto" />
						<xs:enumeration value="Setembro" />
						<xs:enumeration value="outubro" />
						<xs:enumeration value="Novembro" />
						<xs:enumeration value="Dezembro" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>


			<xs:element name="ativfamindiv" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1. Atividades com famílias e indivíduos </xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="demcentropop" minOccurs="0" maxOccurs="8">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.1 DEMANDA DO CENTRO POP</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="demespont" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Demanda espontânea</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="demandaencam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Demanda encaminhada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="demarepriacolinst" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Demanda reprimida de acolhimento institucional</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="demrepriaborsoc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Demanda reprimida de abordagem social</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="demrepribenfeventkitenx" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Demanda reprimida de benefícios eventuais - kit enxoval</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="demrepribenefevetpass" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Demanda reprimida de benefícios eventuais - transporte e passagens</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="demrepbeneevencestbas" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Demanda reprimida de benefícios eventuais - Cesta Básica</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="demrepribeneeventout" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Demanda reprimida de benefícios eventuais - Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>


						<xs:element name="servofertados12" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.2 SERVIÇOS OFERTADOS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="provdoccivil" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Provisão de documentação civil </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="higpess" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Higiene Pessoal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="aliment" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Alimentação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="denunc13" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.3 DENÚNCIAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="denuncreceb" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Denúncias recebidas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="denunconst" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Denúncias constatadas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="denunimproc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Denúncias improcedentes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="atendacompto" minOccurs="0" maxOccurs="8">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.4 ATENDIMENTOS/ACOMPANHAMENTOS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="atendacomp" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Atendimentos e acompanhamentos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Acolhida" />
												<xs:enumeration value="Atendimento psicossocial" />
												<xs:enumeration value="Atendimento Social" />
												<xs:enumeration value="Atendimento Psicológico" />
												<xs:enumeration value="Orientação sociofamiliar" />
												<xs:enumeration value="Orientação jurídica" />
												<xs:enumeration value="Acompanhamento jurídico" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="qtdatendacompanha" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quantidade</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="insccadunico" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="benepbf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiários/as -PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="descumcondiceduc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - Educ.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="descumcondicas" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - A.S.
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="descumCondicionalSaude" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - Saúde
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="benBE" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiários/as -BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="benebpcIdoso" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiários/as -BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="benebpcPcd" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiários/as -BPC/PCD</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="benepeti" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiários/as - PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>


						<xs:element name="beneevent15" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.5 Benefícios eventuais</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="solicitacoes151" minOccurs="0" maxOccurs="8">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>1.5.1 Solicitações</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="beneeventsolicit" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Benefícios eventuais Solicitações
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="kit enxoval" />
															<xs:enumeration value="Auxílio Viagem" />
															<xs:enumeration value="Cesta Básica" />
															<xs:enumeration value="Carteira Nacional do Idoso" />
															<xs:enumeration value="Outros" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="qtdatendacompanha" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Quantidade</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="insccadunicocon" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Inscritos no CadÚnico</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="pmfCON" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -PBF</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="descumCondicionalEducCON" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Descumprimento condicionalidades - Educ.
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="descumCondicionalASCON" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Descumprimento condicionalidades - A.S.
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="descumCondicionalSaudeCON" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Descumprimento condicionalidades - Saúde
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="beBE" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -BE</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="bpcIdosoCON" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -BPC idoso</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="bpcPcdCON" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -BPC/PCD</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="petiCON" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as - PETI</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="outrasSolicitacoesCON" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Em caso de marcar a opção Outros em
																benefícios eventuais solicitações:
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="255" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>


									<xs:element name="concessoes" minOccurs="0" maxOccurs="8">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>1.5.2 Concessões</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="solictcon" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Benefícios eventuais Concessões
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="kit enxoval" />
															<xs:enumeration value="Auxílio Viagem" />
															<xs:enumeration value="Cesta Básica" />
															<xs:enumeration value="Carteira Nacional do Idoso" />
															<xs:enumeration value="Outros" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="qdecon" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Quantidade</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="insccadunicon" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Inscritos no CadÚnico</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="benepbfcon" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -PBF</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="desccondcon" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Descumprimento condicionalidades - Educ.
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="desccondascon" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Descumprimento condicionalidades - A.S.</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="desccondsaucon" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Descumprimento condicionalidades - Saúde</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="benebecon" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -BE</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="benebpxidocon" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -BPC idoso</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="benebpcpcbcon" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -BPC/PCD</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="petiCON" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as - PETI</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="outrasSolicitacoesCON" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Em caso de marcar a opção 'Outros' em Benefícios Eventuais Solicitações:
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="255" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>


									<xs:element name="visitdomiciliar" minOccurs="0" maxOccurs="8">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>1.5.3 Visitas domiciliares</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="solictvd" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Benefícios eventuais solicitações
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Visitas domiciliares(equipe técnica)" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="qdevd" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Quantidade</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="insccadunivd" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Inscritos no CadÚnico</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="benepbfvd" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -PBF</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="desccondeduvd" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Descumprimento condicionalidades - Educ.
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="desccondasvd" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Descumprimento condicionalidades - A.S.
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="desccondsauvd" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Descumprimento condicionalidades - Saúde
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="benebevd" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -BE</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="benebpcidovd" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -BPC idoso</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="benebpcpcdvd" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as -BPC/PCD</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
												<xs:element name="benepetivd" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Beneficíários/as - PETI</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>


								</xs:sequence>

							</xs:complexType>
						</xs:element>

						<xs:element name="encaminhamento">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.6 Encaminhamentos </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="orgent161" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>1.6.1 Órgãos/Entidades </xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:complexType>
											<xs:sequence>

												<xs:element name="redsocasscreas2" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Rede Socioassistêncial - CREAS II
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="redsocasscreas3" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Rede Socioassistêncial - CREAS III
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="redsocasscreas5" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Rede Socioassistêncial - CREAS V
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="redsocasscenpop" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Rede Socioassistêncial - CENTRO POP
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="redsocassredconv" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Rede Socioassistêncial - Rede Conveniada
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="polintsau" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Políticas Intersetoriais - Saúde
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="polinteduc" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Políticas Intersetoriais - SDE</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="polintsdh" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Políticas Intersetoriais - SDH</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="polintprevsoc" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Políticas Intersetoriais - Previdência
																Social
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="polintersdg" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Políticas Intersetoriais - SDG</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="polintersout" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Outros</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="tipoencamtos">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>1.6.2 Tipos de Encaminhamentos </xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:complexType>
											<xs:sequence>

												<xs:element name="juridte" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Jurídicos</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="reqbpcte" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Requisição de BPC</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="gratpessdefte" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>ETUFOR – Gratuidade para Pessoa com Deficiência
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="outrote" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Outros</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>


						<xs:element name="indivfamilia" minOccurs="0" maxOccurs="3">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.7. Indivíduos e/ou Famílias acompanhadas pelo PAI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="beneevenconifam" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Benefícios eventuais Concessões
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Inclusão de usuários ou famílias no PAI" />
												<xs:enumeration value="Desligamento de usuários ou famílias no PAI" />
												<xs:enumeration value="Usuários ou Famílias acompanhadas pelo PAI" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="qdeifam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quantidade</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="insccaduniifam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="benepbfifam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="desccondeduifam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - Educ.
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="desccondasifam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - A.S.
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="desccondsauifam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento condicionalidades - Saúde
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="benebeifam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="bpcidoifam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="bpcpcdifam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BPC/PCD</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="petiifam" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as - PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="outrsolifam" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Em caso de marcar a opção 'Outros' em
													Benefícios Eventuais Solicitações:
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="acompanrealizado">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.8. Acompanhamentos Realizados (famílias ou indivíduos que não possuem o PAI)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="beneevnconAR" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Benefícios eventuais Concessões
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Usuários ou famílias acompanhadas" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="qdeAR" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quantidade Total</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="insccaduniAR" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="benepbfAR" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcidoAR" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcpcdAR" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficíários/as -BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="ativcoletiva" minOccurs="0" maxOccurs="6">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.9. Atividades Coletivas (Grupos)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="ativpubliAR" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Atividades/ Públicos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Atendimento psicossocial em grupo" />
												<xs:enumeration value="Realização de oficinas  socioeducativa" />
												<xs:enumeration value="Realização de Oficinas de Arte Educação" />
												<xs:enumeration value="Rodas de conversa" />
												<xs:enumeration value="Núcleo de Participação Popular" />
												<xs:enumeration value="Total" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="qdeencrealAC" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quantidade de Encontros - Realizada
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="insccadunicoAC" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quantidade de Encontros - Meta Proposta
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="partenconAC" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participantes nos Encontros - Média
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcidosoac" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participantes nos Encontros - Nº de inscritos
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcpcdac" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcpcdca" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento Condicionalidade - Educ
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="desccondasac" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento Condicionalidade - A.S</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="desc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Descumprimento Condicionalidade - Saúde
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="benepbfac" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiários/as - PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="be" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiários/as - BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcPcdCON" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiários/as - BPC - Idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcPcdCON" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiários/as - BPC - Deficiente
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="servespecializabordsoc110">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.10. Serviço Especializado em Abordagem Social (SEAS)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="abordlogpub" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Abordagem em logradouros públicos </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="buscativ" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Busca ativa</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="pessatend" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas atendidas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="elabrelat" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Elaboração de relatórios</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="acoessensib" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ações de sensibilização</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="identfamiliasindivdirviolados" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Identificação de famílias e/ou indivíduos com seus direitos violados</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="oficinassocieduc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Oficinas socioeducativas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="identiffamindivsitrua" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Identificação de famílias e indivíduos em situação de rua
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="abordcompartprofoutraspol" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Abordagens compartilhadas com profissionais de outras políticas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="denuncreprim" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Denúncias reprimidas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="volumetotcasoacompCP">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.11.1 Volume Total dos Casos em Acompanhamento pelo CENTRO POP ( Possuem PAI e não possuem PAI)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="ativpubCP" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Atividades/ Públicos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Quantidade total Geral" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="antigCP" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>ANTIGOS</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="novoCP" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>NOVOS</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="volumeperfilcasoatendCP">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.11.2 Volume e Perfil dos Casos Atendidos em Acompanhamento pelo CENTRO POP
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="pesssitrua">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas em situação de rua – Casos Antigos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="masc012ant" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Masculino - 0 a 12</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="masc1317ant" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Masculino - 13 a 17</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="masc1859ant" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Masculino - 18 a 59</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="masc60ant" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Masculino - 60+</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="fem012ant" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Feminino - 0 a 12</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="fem1317ant" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Feminino - 13 a 17</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="fem1859ant" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Feminino - 18 a 59</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="fem60ant" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Feminino - 60+</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>


									<xs:element name="pesssitruanov">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas em situação de rua – Casos Novos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="masc012nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Masculino - 0 a 12</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="masc1317nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Masculino - 13 a 17</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="masc1859nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Masculino - 18 a 59</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="masc60nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Masculino - 60+</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="fem012nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Feminino - 0 a 12</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="fem1317nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Feminino - 13 a 17</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="fem1859nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Feminino - 18 a 59</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="fem60nov" minOccurs="0" type="xs:integer">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Feminino - 60+</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

								</xs:sequence>

							</xs:complexType>
						</xs:element>

						<xs:element name="sitriscoident">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.12 Situações de Riscos Identificadas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="abusoexplsex" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Abuso/exploração sexual de crianças e adolescentes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="trabinfantjuven" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Trabalho infanto-juvenil</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="jovconflitlei" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Jovens em conflito com a lei</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="neglviolmaustratoscrianc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Negligência, violência ou maus tratos contra crianças
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="negviolmaustratosidoso" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra a pessoa idosa</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="maustratoscontradefic" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra pessoa com deficiência ou transtorno mental
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="negviolmaustratos" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Negligência, violência, maus tratos ou abuso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="financcontrtranstmental" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Financeiro contra pessoa com transtorno mental</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pessdeficafastconviv" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas com deficiência afastadas do convívio social</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesstranstmentafast" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas com transtorno mental afastadas do convívio social</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="sitinsegaliment" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Famílias em situação de insegurança alimentar</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="violurban" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Violência urbana</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="violdomestmul" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Violência doméstica contra mulher</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="desemprego" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Desemprego</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdepessrischab" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Risco habitacional</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdepessitmendic" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Mendicância</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdepesssitrua" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoa em situação de rua</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="quantidadeDemandaCreas" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Drogadição/ alcoolismo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdecarcpriv" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cárcere privado</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdediscrim" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Discriminação (ex.: étnica, cultural, gênero, religiosa)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdepesssemdoc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoa sem documentação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdedemcreacivil" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Civil</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdetrafserhum" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tráfico de seres humanos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdetrafserhumsex" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tráfico de seres humanos para fins sexuais</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdedemcreatursex" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Turismo sexual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdedemcreascriaforaescol" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Criança e/ou adolescente fora da escola</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdedemcreasoutr" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qdedemcrestot" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Total</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="articinterinst" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2. Articulação Interinstitucional</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ativAII" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Reuniões" />
									<xs:enumeration value="Oficinas" />
									<xs:enumeration value="Fóruns" />
									<xs:enumeration value="Seminários" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="publiAII" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Público (lideranças- formais e informais, famílias, outros ou profissionais)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="inscaduniconAII" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quantidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="articulrede" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.1 Articulação da Rede</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ativAR" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Visitas institucionais" />
									<xs:enumeration value="Reuniões" />
									<xs:enumeration value="Eventos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="redesocialcras" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede Socioassistencial  CRAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="redesocialcreas" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede Socioassistencial - CREAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="redesociassisean" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede Socioassistencial - EAN</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="cenrefermul" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Centro de Refer. da Mulher</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="casapassagem" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CASA DE PASSAGEM</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="redeconveniada" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede Conveniada</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="redeoutros" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>



			<xs:element name="articulrede" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.2 Articulação da Rede</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="atividade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Visitas institucionais" />
									<xs:enumeration value="Reuniões" />
									<xs:enumeration value="Eventos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="politintersetsau" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas Intersetoriais - Saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politinterseteduc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas Intersetoriais - Educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politintersetsde" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas Intersetoriais - SDE</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="polinterssdh" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas Intersetoriais - SDH</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politintersetcca" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas Intersetoriais - CCA</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politintershab" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas Intersetoriais - Habitação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politinterset" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas Intersetoriais - Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>



			<xs:element name="outraativ" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>4. Outras atividades</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="outravisit" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.1 Outras visitas (ex:mobilização, articulação)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="orietinfo" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.2 Orientação/Informações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="reuniaoequip" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.3 Reunião interna de equipe</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="capacform" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.4 Capacitações/Formações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="reuniaoplan" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.5 Reuniões de planejamentos (Programas, Projetos e Serviços)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="elabrelateducsoc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.6 Elaboração de relatórios (Educadores Sociais)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="reuncoordcp" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.7 Reuniões de Coordenação de CENTRO POP/SEMAS
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="partgtforum" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.8 Participação em GT’s, Fóruns, etc.
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="estudocaso" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.9 Estudos de Caso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="elabrelatpront" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.10 Elaboração de relatórios e/ou prontuários(equipe técnica)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="outros411" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>4.11 Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="observacoes" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>5. Observações</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="observitem" minOccurs="0"  type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="especoutros" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>ASSINATURA DO COORDENADOR(A):</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="especoutros" minOccurs="0" type="xs:integer">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nº do CRESS / CRP:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>


		</xs:sequence>
	</xs:complexType>
</xs:schema>
