acao-sdh/schemas/sdh-fichaCadastral-identificacao-CCA.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-cca-fichacadastral-identificacao.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-cca-fichacadastral-identificacao.xsd"
	elementFormDefault="qualified">

	<xs:element name="formIdentCriancaAdolescente" type="formIdentCriancaAdolescente">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>02. IDENTIFICAÇÃO DA CRIANÇA/ADOLESCENTE</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Educação e Arte,cn=Criança e Adolescente,cn=Direitos Humanos</class:classificacao>
				</class:classificacoes>
                <idx:index>
                    <idx:hint key="pessoa.nome" xpath="formIdentCriancaAdolescente/nome" />
                    <idx:hint key="pessoa.apelido" xpath="formIdentCriancaAdolescente/comoGostaSerChamado" />
                    <idx:hint key="pessoa.rg" xpath="formIdentCriancaAdolescente/rg" />
                    <idx:hint key="pessoa.rg" xpath="formIdentCriancaAdolescente/rgResponsavel" />
                    <idx:hint key="pessoa.cpf" xpath="formIdentCriancaAdolescente/cpf" />
                    <idx:hint key="pessoa.cpf" xpath="formIdentCriancaAdolescente/cpfResponsavel" />
                    <idx:hint key="pessoa.nome" xpath="formIdentCriancaAdolescente/nomemae" />
                    <idx:hint key="pessoa.nome" xpath="formIdentCriancaAdolescente/nomepai" />
                    <idx:hint key="pessoa.nome" xpath="formIdentCriancaAdolescente/responsavel" />
                </idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formIdentCriancaAdolescente">
		<xs:sequence>

			<xs:element name="numeroAtendimento" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número do atendimento:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="nome" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nome</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="comoGostaSerChamado">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Como gosta de ser chamado</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="sexo" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<xhtml:label>Sexo</xhtml:label>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Masculino" />
							<xs:enumeration value="Feminino" />
						</xs:restriction>
					</xs:simpleType>
			</xs:element>
			
			<xs:element name="especificarSexo">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Outros</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="etniaRaca" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Etnia/Raça</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Preto" />
						<xs:enumeration value="Branco" />
						<xs:enumeration value="Indígena" />
						<xs:enumeration value="Pardo" />
						<xs:enumeration value="Amarelo" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="dataNascimento" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data de Nascimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>		
			
			<xs:element name="registroNascimento" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Registro de nascimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>		
			
			<xs:element name="livro" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Livro</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="pag" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Pág</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>				
			
			<xs:element name="rg" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>RG</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>		
			
			<xs:element name="orgaoExpedidor" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Órgão expedidor</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>		
			
			<xs:element name="dataExpedicao" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data de expedição</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="cpf" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>CPF</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>							
			
			<xs:element name="enderecoEducando" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Endereço do(a) educando(a)</xhtml:label>
					</xs:appinfo>
					<xsdext:extensions>
						<xsdext:engine>autoComplete</xsdext:engine>
						<xsdext:service>/enderecos</xsdext:service>
					</xsdext:extensions>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>		
			
			<xs:element name="bairro" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Bairro</xhtml:label>
					</xs:appinfo>
					<xsdext:extensions>
						<xsdext:engine>autoComplete</xsdext:engine>
						<xsdext:service>/bairros</xsdext:service>
					</xsdext:extensions>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>		
			
			<xs:element name="cep" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>CEP</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="regional" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Regional</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="telefone" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Telefone</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="referencia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Referência</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="nomePai" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nome de pai</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="nomeMae" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nome da mãe</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="responsavel" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Responsável</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="parentesco" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Parentesco</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="rgResponsavel" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>RG do responsável</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="orgaoExpedidor" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Órgão expedidor</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="dataExpedicao" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data de expedição</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="cpfResponsavel" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>CPF do responsável</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="pessoaComDeficiencia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Pessoa com deficiência</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim"/>
						<xs:enumeration value="Não"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="casoRespostaSim" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Caso a resposta seja sim, qual</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Cegueira"/>
						<xs:enumeration value="Mudez"/>
						<xs:enumeration value="Surdez"/>
						<xs:enumeration value="Mental"/>
						<xs:enumeration value="Física"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="doencasCronicas" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Doenças crônicas</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim"/>
						<xs:enumeration value="Não"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="especificarDoencasCronicas" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se sim, especifique</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="procedimentoIniciais" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Procedimentos iniciais para serem adotados</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="educandoPossuiAlergia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>O educando possui alergia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim"/>
						<xs:enumeration value="Não"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="seSimQual" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se sim, qual</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="tipoSangue" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tipo de sangue</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="situacaoDrogadicao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Situação de drogadição</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Fez uso"/>
						<xs:enumeration value="USa"/>
						<xs:enumeration value="Nunca usou"/>
						<xs:enumeration value="Não quis informar"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="especificarDrogadicao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se sim, especifique</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="observacoes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Observações</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

		</xs:sequence>

	</xs:complexType>

</xs:schema>
