acao-sdh/schemas/sdh-cadernob.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/habitafor/sdh-cadernob.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/habitafor/sdh-cadernob.xsd"
	elementFormDefault="qualified">

	<xs:element name="formCadernoA" type="formCadernoA">
		<xs:annotation>
			<xs:appinfo>
				<label>Proposta de Cadastro Único</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formCadernoA">
		<xs:sequence>

			<xs:element name="atendimentoEspecificoSeGaranta">
				<xs:annotation>
					<xs:appinfo>
						<label>Atendimento Especifico Se Garanta</label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="encaminhamentoJudiciario">
							<xs:annotation>
								<xs:appinfo>
									<label>Encaminhamento judiciario</label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="tipoEncaminhamento" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<label>Tipo encaminhamento</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Admissão" />
												<xs:enumeration value="Readmissão" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="medidaDoEncaminhamento" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<label>Medida do encaminhamento </label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Progressão de medida" />
												<xs:enumeration value="Regressão de medida" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>


						<xs:element name="atoInfracional">
							<xs:annotation>
								<xs:appinfo>
									<label>Ato Infracional</label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="numeroDoProcesso" minOccurs="0"
										type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<label>Numero do processo</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="tipoAtoInfracional" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<label>Tipo de Ato Infracional </label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Ameaça" />
												<xs:enumeration value="Apropriação Indébita" />
												<xs:enumeration value="Arremesso (Modalidade do art.37)" />
												<xs:enumeration value="Atentado Violento ao Pudor" />
												<xs:enumeration value="Comunicação falsa" />
												<xs:enumeration value="Contravenção Penal" />
												<xs:enumeration value="Corrupção Ativa" />
												<xs:enumeration value="Crime Ambiental" />
												<xs:enumeration value="Crime contra administração Publica" />
												<xs:enumeration value="Crime contra Família" />
												<xs:enumeration value="Crime contra Fé Pública" />
												<xs:enumeration value="Crime contra a Paz Publica" />
												<xs:enumeration value="Crime contra a propriedade imaterial" />
												<xs:enumeration value="Crime de trânsito" />
												<xs:enumeration value="Dano" />
												<xs:enumeration value="Dano Qualificado" />
												<xs:enumeration value="Dano ao Patrimônio Público" />
												<xs:enumeration value="Desacato" />
												<xs:enumeration value="Desobediência" />
												<xs:enumeration value="Direção Perigosa" />
												<xs:enumeration value="Dirigir sem Habilitação" />
												<xs:enumeration value="Disparo com Arma de Fogo" />
												<xs:enumeration value="Disparo em Via Pública" />
												<xs:enumeration value="Estelionato" />
												<xs:enumeration value="Estupro" />
												<xs:enumeration value="Extorsão" />
												<xs:enumeration value="Extorsão Mediante Sequestro" />
												<xs:enumeration value="Extorsão Qualificada" />
												<xs:enumeration value="Falsa Identidade" />
												<xs:enumeration value="Falsificação de documentos" />
												<xs:enumeration value="Favorecimento Real" />
												<xs:enumeration value="Formação de Quadrilha" />
												<xs:enumeration value="Furto" />
												<xs:enumeration value="Furto de Veiculo" />
												<xs:enumeration value="Furto Qualificado" />
												<xs:enumeration value="Homicídio" />
												<xs:enumeration value="Homicídio Culposo" />
												<xs:enumeration value="Homicídio Doloso" />
												<xs:enumeration value="Homicídio Qualificado" />
												<xs:enumeration value="Injúria" />
												<xs:enumeration value="Invasão de Domicilio" />
												<xs:enumeration value="Latrocínio" />
												<xs:enumeration value="Lesão Corporal" />
												<xs:enumeration value="Lesão Corporal Culposa" />
												<xs:enumeration value="Lesão corporal dolosa" />
												<xs:enumeration value="Moeda Falsa" />
												<xs:enumeration value="Motim" />
												<xs:enumeration value="ocultação de cadáver" />
												<xs:enumeration value="Perturbação da Tranquilidade" />
												<xs:enumeration value="Pichação" />
												<xs:enumeration value="Porte de Drogas" />
												<xs:enumeration value="Porte Ilegal de Arma Branca" />
												<xs:enumeration value="Porte Ilegal de Arma de Fogo" />
												<xs:enumeration value="Porte Ilegal de Munição" />
												<xs:enumeration value="Posse de Arma de Fogo" />
												<xs:enumeration value="Receptação" />
												<xs:enumeration value="Resistência à Prisão" />
												<xs:enumeration value="Roubo" />
												<xs:enumeration value="Roubo de Veículos" />
												<xs:enumeration value="Roubo Qualificado" />
												<xs:enumeration value="Sequestro" />
												<xs:enumeration value="Tentativa de Estupro" />
												<xs:enumeration value="Tentativa de Fulga Mediante Violência" />
												<xs:enumeration value="Tentativa de Furto" />
												<xs:enumeration value="Tentativa de Furto Qualificado" />
												<xs:enumeration value="Tentativa de Homicídio" />
												<xs:enumeration value="Tentativa de Homicídio Doloso" />
												<xs:enumeration value="Tentativa de invasão de domicilio" />
												<xs:enumeration value="Tentativa de Latrocínio" />
												<xs:enumeration value="Tentativa de Lesão Corporal" />
												<xs:enumeration value="Tentativa de Roubo" />
												<xs:enumeration value="Tentativa de Roubo Qualificado" />
												<xs:enumeration value="Tráfico de Drogas" />
												<xs:enumeration value="Uso de Drogas" />
												<xs:enumeration value="Vias de Fato" />
												<xs:enumeration value="Violação de Domicilio" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="status" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<label>Status </label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Aguardando decisão judicial" />
												<xs:enumeration value="Aguardando acolhida" />
												<xs:enumeration value="Desistência" />
												<xs:enumeration value="Desligado/arquivado" />
												<xs:enumeration value="Em atendimento" />
												<xs:enumeration value="Interno" />
												<xs:enumeration value="Preso(acima de 18 anos)" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="documentacao">
										<xs:annotation>
											<xs:appinfo>
												<label>Documentação</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="comprovanteDeResidencia" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<label>Comprovante de residência</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="declaracaoDoTrabalho" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<label>Declaração do trabalho</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="declaracaoDeMatriculaEFrequenciaEscolar"
													type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<label>Declaração de matricula e freqüência escolar
															</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="individualFamiliar">
										<xs:annotation>
											<xs:appinfo>
												<label>Individual - Familiar</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="relacoesFamiliares">
													<xs:annotation>
														<xs:appinfo>
															<label>Relações familiares</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element
																name="relateUmPoucodaHistoriaDoAdolescenteDesdeInfancia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Relate um pouco da história de vida do
																			adolescente desde a infância</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="comportamentoDoAdolescenteEmcasa"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como é o comportamento do adolescente em casa
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="relacaoEntreFamiliares"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como é a relação entre os familiares
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="violenciaIntraextraFamiliar">
													<xs:annotation>
														<xs:appinfo>
															<label>Relações intra e/ou extra-familiar</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="membrodaFamiliaSofreouSofreuViolencia"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Algum membro da família sofre ou sofreu algum
																			tipo de violência intra e/ou extra-familiar </label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Sim, sofre" />
																		<xs:enumeration value="Sim, sofreu" />
																		<xs:enumeration value="Nunca sofreu" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="duranteQuantoTempoSofreOuSofreuViolencia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Durante quanto tempo </label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="quemPraticouViolencia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quem praticou </label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="tipoDeViolenciaQueSofreOuSofreu"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Qual o tipo de violência </label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Discursão verbal" />
																		<xs:enumeration value="Agressão física" />
																		<xs:enumeration value="Violência doméstica" />
																		<xs:enumeration value="Abuso sexual" />
																		<xs:enumeration value="Exploração sexual" />
																		<xs:enumeration value="Agressão psicológica" />
																		<xs:enumeration value="Ameaça de morte" />
																		<xs:enumeration value="Outros" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element
																name="especifiqueQueOutroTipodeViolênciaSofreOuSofreu"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label> Especifique que outro tipo de violência
																			sofrida </label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="freqüenciaQueSofreOuSofreuViolencia"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Com que freqüência </label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="freqüentemente" />
																		<xs:enumeration value="às vezes" />
																		<xs:enumeration value="raramente" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="tipoDeProvidenciaTomadaContraViolencia"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Que tipo de providencia ou atitude foi tomada
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="procurouAlgumaInstituicaoContraViolencia"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Procurou ajuda em alguma instituição </label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element
																			name="especifiqueInstituicaoCotraViolenciaProcurou"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Especifique a instituição procurada </label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="resolveuPorContraPropriaAViolencia"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Resolveu a situação por conta própria
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="especifiqueComoResolveuAViolencia"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Como foi resolvido </label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="procurouAmigosEParentesContraViolencia"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Procurou a ajuda de amigos(as) e/ou parentes
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="naoTomouProvidenciaContraViolencia"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Não tomou nenhuma providência
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="teveOuEstaTendoAtendimento"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Teve ou está tendo algum tipo de atendimento
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="teveAtendimentoEspecializado"
																			minOccurs="0" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Sim, ja teve atendimento especializado
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="atendimentoEspecializadoFoiSuficente"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>O atendimento especializado foi suficiente
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="estaTendoAtendimentoEspecializado"
																			minOccurs="0" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Sim, ja está tendo atendimento
																						especializado
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="ondeEstaTendoAtendimentoEspecializado"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Onde está tendo atendimento
																						especializado
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="naoTemAtendimentoMasQuer"
																			minOccurs="0" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Não, porém gostaria de ser encaminhado/a
																						para atendimento especializado
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="naoTemInteresseEmTerAtendimento"
																			minOccurs="0" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Não tem interesse no atendimento
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>


														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="sobreOAtoInfracional">
													<xs:annotation>
														<xs:appinfo>
															<label>Sobre o ato infracional</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="emQueOAtoInfracionalAfetouAFamilia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>De que forma o ato infracional afetou a família
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="oQueMotivouOAdolescenteACometerInfracaoSegundoAFamilia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Segundo a família, o que motivou o adolescente
																			a cometer ato infracional
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="contribuicaoDaFamiliaParaFacilitarOCumprimentoMSE"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como a família pretende contribuir para
																			facilitar o cumprimrnto da MSE(Aproveitar o momento
																			para co-responsabilizar a familia acerca das
																			determinações quanto ao cumprimento da medida)
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="impressaoDoAtendimento"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Impressões do atendimento
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="tecnicoResponsavel"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Técnico responsável
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="dataDocumento" minOccurs="0"
																type="xs:date">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Data
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="servicoSocial">
										<xs:annotation>
											<xs:appinfo>
												<label>Serviço Social</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="relacionamentoFamiliar">
													<xs:annotation>
														<xs:appinfo>
															<label>Relacionamento familiar</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="hitoricoFamiliar" minOccurs="0"
																type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Histórico familiar(verificar existência de
																			conflitos, configurações de relações afetivas,
																			responsãveis pelo adolescente ao longo de sua vida)
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="relacionamentoDosPais"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Relacionamento dos pais
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Casados" />
																		<xs:enumeration value="Separados" />
																		<xs:enumeration value="Nunca viveram juntos" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="responsaveisAtualmentePeloAdolescente"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Responsáveis atualmente pelo adolescente
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Pais" />
																		<xs:enumeration value="Pai" />
																		<xs:enumeration value="Mãe" />
																		<xs:enumeration value="Avós paternos" />
																		<xs:enumeration value="Avós maternos" />
																		<xs:enumeration value="Avô paterno" />
																		<xs:enumeration value="Avô materno" />
																		<xs:enumeration value="Avó paterna" />
																		<xs:enumeration value="Avó materna" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="beneficios">
													<xs:annotation>
														<xs:appinfo>
															<label>Benefícios</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="beneficioRecebidoPelaFamilia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Se a família ou algum membro da família é
																			favorecido por algum benefício, quais 
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="esferaDoBeneficioRecebidoPelaFamilia"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Esfera do benefício 
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="municipal" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Municipal
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="estadual" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Estadual
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="federal" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Federal
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="situacaoAtualDoBeneficioRecebidoPelaFamilia"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Situação atual do benefício
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Ativo" />
																		<xs:enumeration value="Bloqueado" />
																		<xs:enumeration value="Suspenso" />
																		<xs:enumeration value="Cancelado" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>


														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="relacionamentoComunitario">
													<xs:annotation>
														<xs:appinfo>
															<label>Relacionamento Comunitário</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="historicoConvivenciaComunitaria"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Histórico de convivência comunitária(analisar
																			período de residẽncia no endereço, informando,
																			composição de circulo de amizades, apresentação de
																			relações afetivas - namoro, noivado, casamento)
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="violencia">
													<xs:annotation>
														<xs:appinfo>
															<label>Violência</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="territorialidade">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Territorialidade</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="noSeuBairroHaConflitosGruposRivais"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>No seu bairro ha conflitos de grupos rivais
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="qualRivalidadeHaNoSeuBairro"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Qual rivalidade há no seu bairro	</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="participacaoEmGruposRivais"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Participação em grupos rivais
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Participa" />
																					<xs:enumeration value="Participou" />
																					<xs:enumeration value="Nunca participou" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="rotinaDiaria">
													<xs:annotation>
														<xs:appinfo>
															<label>Diária</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="comoESeuDia">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como é seu dia</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="comoESuaManha" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Manha</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="comoESuaTarde" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Tarde</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="comoESuaNoite" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Noite</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="praticaAtividadesSocioCulturaisEsportivas">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quais atividades sócio-culturais e esportivas
																			você pratica(público ou privado)</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="esportes" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Esportes</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="lazer" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Lazer</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="cultura" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Cultura</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>


														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="expectativas">
													<xs:annotation>
														<xs:appinfo>
															<label>Expectativas</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="quaisSuasExpectativas" minOccurs="0"
																type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quais suas expectativas em relação a medida sócio-educativa </label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															
															<xs:element name="impressaoDoAtendimento"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Impressões do atendimento
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="tecnicoResponsavel"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Técnico responsável
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="dataDocumento" minOccurs="0"
																type="xs:date">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Data
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
															
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>


								</xs:sequence>
							</xs:complexType>
						</xs:element>









					</xs:sequence>
				</xs:complexType>

			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
