acao-sdh/schemas/sdh-visitaDomiciliar.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-visitaDomiciliar.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-visitaDomiciliar.xsd"
	elementFormDefault="qualified">

	<xs:element name="formVisitaDomiciliar" type="formVisitaDomiciliar">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>VISITA DOMICILIAR</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formVisitaDomiciliar">
		<xs:sequence>

			<xs:element name="identificacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Identificação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nomeEntrevistado" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome entrevistado
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="parentescoComAdolescente" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Parentesco com o adolescente
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="idadeEntrevistado" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Idade entrevistado
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="convivenciaComunitaria">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Convivência Comunitaria </xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="alguemDaFamiliaParticipaOuParticipouGrupoSocial "
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>alguem da família participa ou participou de
										algum grupo social
																					</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim, participa" />
									<xs:enumeration value="Sim, participou" />
									<xs:enumeration value="Não, Nunca participou" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="quemDaFamiliaParticipaOuParticipouGrupoSocial"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quem da família participa ou participou
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="tipoGrupoSocialAlguemDaFamiliaParticipaOuParticipou "
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo grupo social alguem da família participa
										ou participou 
																					</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Grupo religioso" />
									<xs:enumeration value="Grêmio/Movimento estudantil" />
									<xs:enumeration value="Associação de bairro" />
									<xs:enumeration value="Movimento político/partidário" />
									<xs:enumeration value="Grupo musical" />
									<xs:enumeration value="Grupo esportivo" />
									<xs:enumeration value="Grupo de teatro" />
									<xs:enumeration value="Grupo de dança" />
									<xs:enumeration value="Grupo de defesa do meio ambiente" />
									<xs:enumeration value="Cooperativa" />
									<xs:enumeration value="ONG" />
									<xs:enumeration value="Grupos produtivos" />
									<xs:enumeration value="Movimento cultural" />
									<xs:enumeration value="Organizações LGBTT" />
									<xs:enumeration value="Movimento de mulheres" />
									<xs:enumeration value="Movimento negro" />
									<xs:enumeration value="Grupo de RPG" />
									<xs:enumeration value="Grupos rivais(gangues)" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="alguemDaFamiliaDesenvolveAtividadeComunitaria"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em caso de negativo, algum membro da família
										desenvolve alguma atividade comunitária
																					</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element
							name="qualAtividadeComunitariaEDesenvolvidaPorMembroDaFamilia"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual atividade é desenvolvida
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="qualAtividadeComunitariaGostariamDeDesenvolver"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em caso de negativo, qual atividade gostariam
										de desenvolver
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="comoIdentificaRelacaoFamiliaComunidade"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Como identifica a relação da famíla com a
										comunidade(vínculos com vizinhos e amigos)
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="recursosComunitarios">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Recursos comunitários</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="recursosUtilizados" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quais recursos utilizados 
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="escola" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Escola</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="postoDeSaude" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Posto de saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="CRAS" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> CRAS </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="conselhoTutelar" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Conselho tutelar</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="ONGs" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> ONG's</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="associacoesMoradores" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Associação de moradores </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="especifiqueOutrosRecursoscomunitarios"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique outros recursos comunitarios
																					</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="dinamicaFamiliar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Dinâmica familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="comoEstaRelacaoEntreFamiliares"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Como está a relação entre os familiares
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="comoAFamiliaEstaContribuindoParafacilitarMSE"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Como a família está contribuindo para facilitar
										o cumprimendo da MSE(aproveitar para responsabilizar
										a família acerca das determinações quanto ao
										cumprimento da medida)
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element
							name="queProvidenciasFOramTomadasEmRelacaoAoEncaminhamentoDoNucleo"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Que providências foram tomadas em relação à
										documentação, escola, profissionalização, drogadição,
										e demais encaminhamentos realizados pelo núcleo
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element
							name="familiapercebeMudancaNoComportamentoDoAdolescenteDepoisDoInicioDaMedida"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>A família percebe a mudança de comportamento do
										adolescente depois do início da medida? O que pensa
										disso
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="impressaoDoAtendimento" minOccurs="0"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Impressões do atendimento
																		</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="tecnicoResponsavel" minOccurs="0"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Técnico responsável</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="dataDocumento" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
