acao-sdh/schemas/sdh-profissionalizacaoHabilidades.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-profissionalizacaoHabilidades.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-profissionalizacaoHabilidades.xsd"
	elementFormDefault="qualified">

	<xs:element name="formProfissionalizacaoHabilidades" type="formProfissionalizacaoHabilidades">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>PROFISSIONALIZAÇÃO / HABILIDADES</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formProfissionalizacaoHabilidades">
		<xs:sequence>

			<xs:element name="jaEstagiouAlgumaVez" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Já estagiou alguma vez</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="tipoAtividadeEstagio" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tipo de Atividade</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="quantoTempoEstagio" type="xs:integer"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Durante quanto tempo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="jaTrabalhouAlgumaVez" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Já trabalhou alguma vez</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="tipoAtividadeTrabalhou" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tipo de Atividade que trabalhou</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="seJaTabalhou">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se já trabalhou</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="fromalmente" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Fromalmente</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="informalmente" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Informalmente</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="quantoTempoTrabalhou" type="xs:integer"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Durante quanto tempo trabalhou</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>


			<xs:element name="estaTrabalhandoAtualmente" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Está trabalhando atualmente</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="seEstaTabalhando">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se está trabalhando</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="fromalmente" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Fromalmente</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="informalmente" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Informalmente</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="tipoAtividadeTrabalho" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tipo de Atividade que está trabalhando</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="desdeQuandoTrabalha" type="xs:integer"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Desde quando está trabalhando</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="cargaHorariaTrabalho" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Carga horária que está Trabalhando</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="valorRendaMensal" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Valor Mensal da Renda</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Abaixo do Salário Mínimo" />
						<xs:enumeration value="Salário Mínimo" />
						<xs:enumeration value="1 a 2 Salários Mínimos" />
						<xs:enumeration value="2 a 3 Salários Mínimos" />
						<xs:enumeration value="Acima dos Valores Citados" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="possuiAlgumasDestahabilidades">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Possui Algumas destas habilidades</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="desenho" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Desenho</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="grafite" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Grafite</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="musica" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Música</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="teatro" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Teatro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="danca" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Dança</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pintura" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pintura</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="artesanato" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Artesanato</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="costura" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Costura</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="literatura" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Literatura</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="culinaria" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Culinária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="outras" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Lutras</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="especifiqueOutrasHabilidades" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outras habilidades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="nossoesInformatica" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Possui noções de informática</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Não" />
						<xs:enumeration value="Sim, básica" />
						<xs:enumeration value="Sim, Avançada" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="cursosProficionalizantes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Já fez algum curso profissionalizante</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="especifiqueCursosProfissionaliantes"
				type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique cursos profissionalizantes</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="casoNaoTenhacursosProficionalizantes"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>caso não tenha feito ainda, gostaria desta
							oportunidade
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="especifiqueCursosProfissionaliantesQueDesejafazer"
				type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique cursos profissionalizantes que deseja
							fazer
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>


		</xs:sequence>
	</xs:complexType>

</xs:schema>
