acao-sdh/schemas/sdh-condicoesDeMoradia.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-condicoesDeMoradia.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-condicoesDeMoradia.xsd"
	elementFormDefault="qualified">

	<xs:element name="formCondicoesDeMoradia" type="formCondicoesDeMoradia">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>10.CONDIÇÕES DE MORADIA</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formCondicoesDeMoradia">
		<xs:sequence>

			<xs:element name="situacaoMoradia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Situação da Moradia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Própria" />
						<xs:enumeration value="Alugada" />
						<xs:enumeration value="Ocupação" />
						<xs:enumeration value="Cedida" />
						<xs:enumeration value="Outros" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="tempoMoradia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tempo de Moradia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ate 01 ano" />
						<xs:enumeration value="1 a 5 anos" />
						<xs:enumeration value="5 a 10 anos" />
						<xs:enumeration value="10 a 15 anos" />
						<xs:enumeration value="15 a 20 anos" />
						<xs:enumeration value="20 anos ou mais" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="tiposConstrucao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tipos de Construção</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tijoloAlvenaria" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tijolo/Alvenaria</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="taipaRevestida" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Taipa/Revestida</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="taipaNaoResvestida" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Taipa não revestida</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="madeira" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Madeira</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="materialAproveitado" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Material Aproveitado</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="outros" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="especifiqueOutrosTiposConstrucao" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique Outros</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="quantidadeComodos" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Quantidade de Cômodos</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="possuiBanheiro" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Possui Banheiro</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="tipoAbastecimentoAgua">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tipo Abastecimento de Água</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="redePublica" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede Pública</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pocoProfundo" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Poço Profundo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="cacimba" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Cacimba</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="carroPipa" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Carro Pipa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nascenteRioLagoa" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nascente (Rio ou Lagoa)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="outros" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="especifiqueOutrosTiposAbastecimentoAgua"
				type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique Outros</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="tratamentoAgua">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tratamento da Água</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="filtracao" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Filtração</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="fervura" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Fervura</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="cloracao" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Cloração</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="semTratamento" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sem Tratamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="outros" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="especifiqueOutrosTratamentoAgua" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique Outros</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="tipoIluminacao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tipo de Iluminação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Regularizada" />
						<xs:enumeration value="Não Regularizada" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="escoamentoSanitario">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Escoamento Sanitário</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="redePublica" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede Pública</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="fossaRudimentar" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Fossa Rudimentar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="fossaSeptica" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Fossa Séptica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="ceuAberto" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Céu Aberto</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="outros" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="especifiqueOutrosEscoamentoSanitario"
				type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique Outros</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="destinoLixo">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Destino do Lixo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="coleta" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Coleta</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="queima" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Queima</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="enterramento" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Enterramento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="ceuAberto" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Céu Aberto</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="outros" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>