acao-sdh/schemas/sdh-fichaAcompanhamento-situacaoMoradiaLGBT.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
  xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-lgbt-fichaacompanhamento-situacaomoradia.xsd"
  xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
  targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-lgbt-fichaacompanhamento-situacaomoradia.xsd"
  elementFormDefault="qualified">

  <xs:element name="formSituacaoMoradia" type="formSituacaoMoradia">
    <xs:annotation>
      <xs:appinfo>
        <xhtml:label>07. SITUACAO DE MORADIA</xhtml:label>
        <class:classificacoes>
          <class:classificacao>cn=Diversidade Sexual,cn=Direitos Humanos</class:classificacao>
        </class:classificacoes>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="formSituacaoMoradia">
    <xs:sequence>

			<xs:element name="numeroAtendimento" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número atendimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

            <xs:element name="tipoImovelSit"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Imóvel
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Alugado" />
                  <xs:enumeration value="Cedido" />
                  <xs:enumeration value="Ocupado" />
                  <xs:enumeration value="Próprio" />
                  <xs:enumeration value="Outro" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="imovelAlugado"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Se Alugado especifique o valor
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="imovelProprietario"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Se Cedido especifique o
                    proprietário
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="imovelTempoMoradia"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Tempo de Moradia
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="tipoImovel" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Tipo</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Alvenaria" />
                  <xs:enumeration value="Taipa" />
                  <xs:enumeration value="Madeira" />
                  <xs:enumeration
                    value="Material Aproveitado" />
                  <xs:enumeration value="Outros" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="tipoImoveloutro"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Se Outros epecifique o tipo:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="coberturaImovel"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Cobertura</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Telha" />
                  <xs:enumeration value="Plástico" />
                  <xs:enumeration value="Palha" />
                  <xs:enumeration value="Papelão" />
                  <xs:enumeration value="Outros" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="coberturaImoveloutro"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Se Outros epecifique o tipo:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="pisoImovel" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Piso</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Cimento" />
                  <xs:enumeration value="Tijolo" />
                  <xs:enumeration value="Cerâmica" />
                  <xs:enumeration
                    value="Barro Batido" />
                  <xs:enumeration value="Outros" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="pisoImoveloutro"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Se Outros epecifique o tipo:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="comodosImovel"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Número de comodos:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="banheiroImovel"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Possue Banheiro:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Sim" />
                  <xs:enumeration value="Não" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="aguaImovel" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Abastecimento de Água:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration
                    value="CAGECE com Tarifa Social" />
                  <xs:enumeration
                    value="CAGECE sem Tarifa Social" />
                  <xs:enumeration value="Cacimba" />
                  <xs:enumeration value="Chafariz" />
                  <xs:enumeration
                    value="Ligação Clandestina" />
                  <xs:enumeration value="Outro" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="aguaImoveloutro"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Se Outro epecifique o tipo:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="aguaTratamentoImovel"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Tratamento de Água:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Filtrada" />
                  <xs:enumeration value="Fervida" />
                  <xs:enumeration value="Clorada" />
                  <xs:enumeration value="Nenhum" />
                  <xs:enumeration value="Outro" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="aguaTratamentoImoveloutro"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Se Outro epecifique o tipo:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="saneamentoImovel"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Saneamento:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration
                    value="Rede Pública" />
                  <xs:enumeration
                    value="Fossa Séptica" />
                  <xs:enumeration
                    value="Fossa Rudimentar" />
                  <xs:enumeration
                    value="Sem tratamento" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="energiaImovel"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Abastecimento de Energia:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration
                    value="COELCE com Tarifa Social" />
                  <xs:enumeration
                    value="COELCE sem Tarifa Social" />
                  <xs:enumeration
                    value="Ligação Clandestina" />
                  <xs:enumeration value="Outro" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="energiaImoveloutro"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Se Outro epecifique o tipo:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="lixoImovel" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Destino do lixo:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration
                    value="Coleta Pública" />
                  <xs:enumeration value="Queimada" />
                  <xs:enumeration value="Enterrado" />
                  <xs:enumeration value="Céu aberto" />
                  <xs:enumeration value="Outro" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="lixoImoveloutro"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Se Outro epecifique o destino:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

    </xs:sequence>
  </xs:complexType>
</xs:schema>
