acao-sdh/schemas/sdh-protecaoEspecial.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-protecaoEspecial.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-protecaoEspecial.xsd"
	elementFormDefault="qualified">

	<xs:element name="formProtecaoEspecial" type="formProtecaoEspecial">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>11.PROTEÇÃO ESPECIAL</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formProtecaoEspecial">
		<xs:sequence>

			<xs:element name="violenciaNoAmbitoIntrafamiliar"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Violência no Âmbito Intrafamiliar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="sofreAlgumTipoDeViolenciaIntrafamiliar"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sofre algum tipo de violência intrafamiliar?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="haQuantoTempo" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Há Quanto Tempo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="sofreuAlgumTipoDeViolenciaIntrafamiliar"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sofreu algum tipo de violência intrafamiliar?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="duranteQuantoTempo" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Durante Quanto Tempo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nuncaSofreuNenhumTipoDeViolenciaIntrafamiliar"
							type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nunca sofreu nenhum tipo de violência intrafamiliar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="casoTenhaSofridoViolenciaEspecifique"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso Sofra Violência Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="discussaoVerbal" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Discussão Verbal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="agressaoFisica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Agressão Física</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="violenciaDomestica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Violência Domestica</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="abusoSexual" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Abuso Sexual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="exploracaoSexual" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Exploração Sexual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="agressaoPsicologica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Agressão Psicológica</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="ameacadeMorte" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ameaça de Morte</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element
										name="especifiqueOutroCasoTenhaSofridoViolenciaEspecifique"
										type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="frequencia" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Frequência</xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:complexType>
											<xs:sequence>

												<xs:element name="frequentemente" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Frequentemente</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="asVezes" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Às Vezes</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="raramente" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Raramente</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>

									</xs:element>

									<xs:element name="queTipoDeProvidenciaOuAtitudeFoiTomada"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Que Tipo De Providencia Ou Atitude Foi Tomada
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:complexType>
											<xs:sequence>

												<xs:element name="procurouAjudaEmAlgumaInstituicao"
													type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Procurou ajuda em alguma instituição?
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="qual" type="xs:string"
													minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Qual?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="resouveuASituacaoPorContaPropria"
													type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Resolveu a situação por conta própria?
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="como" type="xs:string"
													minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Como?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="procurouAjudaDeAmigosOuParentes"
													type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Procurou ajuda de amigos(as) e/ou parentes?
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="naoTomouNenhumaAtitudeOuProvidencia"
													type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Não tomou nenhuma atitude ou providencia.
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>

									</xs:element>

									<xs:element name="teveOuEstaTendoAlgumTipoDeAtendimento"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Teve Ou Esta Tendo Algum Tipo De Atendimento?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:complexType>
											<xs:sequence>

												<xs:element name="simJaTeveAtendimentoEspecializado"
													type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Sim, já teve atendimento especializado.
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="foiSuficiente" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Foi Suficiente?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>

													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Sim" />
															<xs:enumeration value="Não" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="simJaEstaTendoAtendimentoEspecializado"
													type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Sim, já esta tendo atendimento
																especializado. </xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="onde" type="xs:string"
													minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Onde?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element
													name="naoPoremGostariaDeSerEncaminhadoParaAtendimentoEspecializado"
													type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Não, porem gostaria de ser encaminhado para
																atendimento especializado.</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="naoTtemInteresseNoAtendimento"
													type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Não tem interesse no atendimento.
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="violenciaNoAmbitoInstitucional"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Violência no Âmbito Institucional</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="sofreAlgumTipoDeViolenciaInstitucional"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sofre algum tipo de violência institucional?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="haQuantoTempo" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Há Quanto Tempo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="sofreuAlgumTipoDeViolenciaInstitucional" 	minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sofreu algum tipo de violência institucional?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="duranteQuantoTempo" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Durante Quanto Tempo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nuncaSofreuNenhumTipoDeViolenciaInstitucional" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nunca sofreu nenhum tipo de violência institucional </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="instituicaoOndeSofreViolencia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Instituição onde sofre violência
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="policia" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Polícia</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="guardaMunicipal" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Guarda municipal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="escola" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Escola</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="postoDeSaude" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Posto de saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" type="xs:string"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="tipoDeViolenciaQueSofre" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de violência que sofre</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="discussaoVerbal" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Discussão Verbal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="agressaoFisica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Agressão Física</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="abusoSexual" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Abuso Sexual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="exploracaoSexual" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Exploracao Sexual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="agressaoPsicologica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Agressão psicologica</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="ameacaDeMorte" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ameaça de Morte</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" type="xs:string"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="instituicaoOndeSofreuViolencia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Instituição onde sofreu violência
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="policia" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Polícia</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="guardaMunicipal" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Guarda municipal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="escola" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Escola</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="postoDeSaude" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Posto de saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" type="xs:string"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="tipoDeViolenciaSofrida" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de violência sofrida</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="discussaoVerbal" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Discussão Verbal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="agressaoFisica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Agressão Física</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="abusoSexual" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Abuso Sexual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="exploracaoSexual" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Exploracao Sexual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="agressaoPsicologica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Agressão psicologica</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="ameacaDeMorte" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ameaça de Morte</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" type="xs:string"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="queTipoDeProvidenciaOuAtitudeFoiTomada"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Que tipo de providencia ou atitude foi tomada
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="procurouAjudaEmAlgumaInstituicao"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Procurou ajuda em alguma instituição?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qual" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="resouveuASituacaoPorContaPropria"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Resouveu a situação por conta própria?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="como" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Como?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="procurouAjudaDeAmigosOuParentes"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Procurou ajuda de amigos(as) e/ou parentes?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="naoTomouNenhumaAtitudeOuProvidencia"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não tomou nenhuma atitude ou providencia.
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>

						</xs:element>

						<xs:element name="teveOuEstaTendoAlgumTipoDeAtendimento"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Teve Ou Esta Tendo Algum Tipo De Atendimento?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="simJaTeveAtendimentoEspecializado"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim, já teve atendimento especializado.
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="foiSuficiente" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Foi Suficiente?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="simJaEstaTendoAtendimentoEspecializado"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim, já esta tendo atendimento especializado.
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="onde" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Onde?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element
										name="naoPoremGostariaDeSerEncaminhadoParaAtendimentoEspecializado"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não, porém gostaria de ser encaminhado(a) para
													atendimento especializado.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="naoTtemInteresseNoAtendimento"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não tem interesse no atendimento.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="violenciaNoAmbitoComunitario" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Violência no Âmbito Comunitário</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="sofreAlgumTipoDeViolenciaComunitaria"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sofre algum tipo de violência comunitária?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="haQuantoTempo" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Há Quanto Tempo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="sofreuAlgumTipoDeViolenciaComunitaria"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sofreu algum tipo de violência comunitária?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="duranteQuantoTempo" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Durante Quanto Tempo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nuncaSofreuNenhumTipoDeViolenciaComunitaria"
							type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nunca sofreu nenhum tipo de violência comunitária </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="tipoDeViolenciaQueSofre" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de violência que sofre</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="discussaoVerbal" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Discussão Verbal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="agressaoFisica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Agressão Física</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="abusoSexual" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Abuso Sexual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="exploracaoSexual" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Exploracao Sexual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="agressaoPsicologica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Agressão psicologica</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="ameacaDeMorte" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ameaça de Morte</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" type="xs:string"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="frequencia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Frequência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="frequentemente" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Frequentemente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="asVezes" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Às Vezes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="raramente" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Raramente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="queTipoDeProvidenciaOuAtitudeFoiTomada"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Que Tipo De Providencia Ou Atitude Foi Tomada
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="procurouAjudaEmAlgumaInstituicao"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Procurou ajuda em alguma instituição?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="qual" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="resouveuASituacaoPorContaPropria"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Resouveu a situação por conta própria?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="como" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Como?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="procurouAjudaDeAmigosOuParentes"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Procurou ajuda de amigos(as) e/ou parentes?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="naoTomouNenhumaAtitudeOuProvidencia"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não tomou nenhuma atitude ou providencia.
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="teveOuEstaTendoAlgumTipoDeAtendimento"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Teve Ou Esta Tendo Algum Tipo De Atendimento?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="simJaTeveAtendimentoEspecializado"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim, já teve atendimento especializado.
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="foiSuficiente" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Foi Suficiente?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="simJaEstaTendoAtendimentoEspecializado"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim, já esta tendo atendimento especializado.
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="onde" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Onde?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element
										name="naoPoremGostariaDeSerEncaminhadoParaAtendimentoEspecializado"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não, porem gostaria de ser encaminhado para
													atendimento especializado.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="naoTtemInteresseNoAtendimento"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não tem interesse no atendimento.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="violenciaNoAmbitoDaExploracaoDoTrabalhoInfantil"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Violência dos direitos no âmbito da exploração do trabalho infantil</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="sofreOuSofreuAlgumTipoDeViolencia"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Teve violado algum direito no âmbito da exploração
										do
										trabalho infantil?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoDeTrabalho" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de Trabalho</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="trabalhoInfantilDomestico" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Trabalho infantil doméstico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="catador" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Catador</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pedinte" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pedinte</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="malabarista" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Malabarista</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="engraxate" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Engraxate</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="flanelinha" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Flanelinha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="jornaleiro" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Jornaleiro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="ajudanteDePedreiro" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ajudante De Pedreiro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="comercioDeDrogas" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Comércio De Drogas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesca" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pesca</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="carvoaria" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Carvoaria</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="outros" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="cargaHorariaMensal" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Carga Horária Mensal</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="estaInscritoNoPeti" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Esta Inscrito No PETI</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="sim" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sim</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nao" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Não</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="vivenciaNaRua" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Vivencia Na Rua</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="sim" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sim</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nao" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Não</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="seSim" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se Sim</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="esteveEmVivenciaDeRua" type="xs:boolean"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Esteve em vivência de rua</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="duranteQuantoTempo" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Durante quanto tempo?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="estaEmVivenciaDeRua" type="xs:boolean"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Está em vivência de rua</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="haQuantoTempo" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Há quanto tempo?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="motivacao" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Motivação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="teveOuEstaTendoAlgumTipoDeAtendimento"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Teve ou esta tendo algum tipo de atendimento?
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="simJaTeveAtendimentoEspecializado"
							type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sim, já teve atendimento especializado
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="simEstaTendoAtendimentoEspecializado"
							type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sim, está tendo atendimento especializado
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="onde" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Onde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element
							name="naoPoremGostariaDeSerEncaminhadoParaAtendimentoEspecializado"
							type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Não porém gostaria de ser encaminhado para
										atendimento/a especializado</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="naoTemInteressenoNoAtendimento" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Não tem interesse no atendimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>
</xs:schema>