acao-sdh/schemas/sdh-juridico.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-juridico.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-juridico.xsd"
	elementFormDefault="qualified">

	<xs:element name="formJuridico" type="formJuridico">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>SG 07.ATENDIMENTO JURÍDICO</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formJuridico">
		<xs:sequence>

			<xs:element name="jaCumpriuOutraMedidaSocioeducativa"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Já cumpriu outra medida socioeducativa?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Não" />
						<xs:enumeration value="Sim" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="qualMedidaSocioeducativa">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Qual(is)?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="obrigacaoDeRepararODano" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Obrigação de reparar o dano</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="prestacaoDeServicosAComunidade" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Prestação de Serviços à Comunidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="liberdadeAssistida" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Liberdade Assistida</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="semiliberdade" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Semiliberdade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="privacaoDeLiberdade" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Privação de Liberdade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="advertencia" type="xs:boolean"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Advertência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="historicoInfracional">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Histórico Infracional</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="porQueEstaCumprindomedida" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Por que está cumprindo a medida?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="oQueOMotivou" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>O que o motivou?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="foiPlanejadoOuImpulso" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Foi planejado ou impulso?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="comoSeSenteEmRelacaoAoAto" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Como se sente em relação ao ato?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="valeuAPena" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Valeu a pena?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="jaCometeuOutrosAtosInfracionaisForamApurados"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Já cometeu outros atos infracionais? Foram
										apurados?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="apuracaoDoAtoInfracional">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Apuração do Ato Infracional</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="daAbordagemPolicialEApreensao"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Da abordagem policial e apreensão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="sofreuAgressaoInstitucional"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sofreu agressão institucional?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="quaisAgressoes">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quais agressões?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="verbal" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Verbal</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="fisica" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Física</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>


									<xs:element name="foiAlgemado" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Foi Algemado?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element
										name="foiConduzidoDeManeiraAdequadaParaAUnidadeDeRecepcao"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Foi conduzido de maneira adequada para a
													Unidade de
													Recepção?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="foiConduzidoDiretoParaAUnidadeDeRecepcao"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Foi conduzido direto para a Unidade de
													Recepção?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element
										name="foiConduzidoParaOImlFimDeRealizarOExameDeCorpoDeDelito"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Foi conduzido para o IML, a fim de realizar
													o
													exame de Corpo de Delito?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="foiConduzidoDeManeiraAdequadaParaOIml"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Foi conduzido de maneira adequada para o
													IML?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="observacoesIml" type="xs:string"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Observações</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element
										name="osPoliciaisQueRealizaramSuaApreencaoSaoOsMesmosQueOConduziuParaOIml"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Os policiais que realizaram sua apreensão
													são
													os
													mesmos que o conduziu para o IML?
																		</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="voceFoiApreendidoEmFlagrante"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você foi apreendido em flagrante?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="observacoesFlagrante" type="xs:string"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Observações</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element
										name="houvePresencaDeAdvogadoOuDefensorPublicoNoAtoDaApreensaoEmFlagrante"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Houve presença de advogado ou defensor
													público
													no ato da apreensão em flagrante?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="daDelegaciaDaCriancaEDoAdolescente"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Da Delegacia da Criança e do Adolescente
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element
										name="avaliarAPassagemDoAdolescentePelaDelegaciaFeituraDeExamesPericiais"
										type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Avaliar a passagem do adolescente pela
													Delegacia,
													feitura de exames periciais, etc</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="daUnidadeDeRecepcao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Da Unidade de Recepção</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element
										name="investigarSobrePeriodoDePermanenciaDoAdolescenteApreendidoNaUnidadeDeRecepcao"
										type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Investigar sobre período de permanência do
													adolescente apreendido na Unidade de Recepção
																					</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="daApresentacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Da Apresentação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="contatoDoAdolescenteComOMembroDoMinisterioPublico"
										type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Contato do adolescente com o Membro do
													Ministério Público, a Representante da Defensoria Pública e
													Juiz e a adequada observância dos direitos e garantias
													fundamentais</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="remissao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Remissão:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element
										name="saberSeOAdolescenteFoiDevidamenteInformadoSobreOInstitutoDaRemissao"
										type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Saber se o adolescente foi devidamente
													informado sobre o instituto da remissão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="progressaoOuRegressao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Progressão ou regressão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="investigarSobreAProgressaoOuRegressaoDaMedida"
										type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Investigar sobre a progressão ou regressão
													da
													medida</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="julgamento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Julgamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="observacoes" type="xs:string"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Observaçõees</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="privacaoDeLiberdade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Privação de Liberdade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element
										name="saberSeOAdolescenteJaEstaEmCentroEducacionalEOTempoDePermanencia"
										type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Saber se o adolescente já esteve em centro
													educacional e o tempo de permanência</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="abrigamento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Abrigamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element
										name="saberSeOAdolescenteJaEsteveEmAbrigoQualAbrigoEOMotivoDaPermanencia"
										type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Saber se o adolescente já esteve em abrigo,
													qual abrigo e o motivo de permanência</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="impressoesDoAtendimento" type="xs:string"
							minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Impressões do atendimento:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="tecnicoResponsavel" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Técnico responsável:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="data" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
