acao-sdh/schemas/sdh-fichaAtendimento-encaminhamentosRede-CCA.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-fichaatendimento-encaminhamentosrede.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-fichaatendimento-encaminhamentosrede.xsd"
	elementFormDefault="qualified">

	<xs:element name="formEncaminhamentosRede" type="formEncaminhamentosRede">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>06. ENCAMINHAMENTOS À REDE</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Exploração Sexual,cn=Direitos Humanos</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formEncaminhamentosRede">
		<xs:sequence>

			<xs:element name="numeroAtendimento" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número do atendimento:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="servicos" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Serviços</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="assistenciaSocial" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Assistência Social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="instituicaoAssistenciaSocial">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="motivoAssistenciaSocial">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Motivo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="dataAssistenciaSocial" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Data</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="atendPsicoterapico" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atendimento Psicoterápico na Saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="instituicaoAtendPsicoterapico">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="motivoAtendPsicoterapico">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Motivo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="dataAtendPsicoterapico" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Data</xhtml:label>
											</xs:appinfo>
										</xs:annotation>	
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="escola" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Escola</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="instituicaoEscola">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="motivoEscola">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Motivo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="dataEscola" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Data</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ativGeracaoTrabalhoRenda" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ativ. de geração trabalho e renda</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="instituicaoAtivGeracaoTrabalhoRenda">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="motivoAtivGeracaoTrabalhoRenda">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Motivo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="dataAtivGeracaoTrabalhoRenda" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Data</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="lazer" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Lazer</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="instituicaoLazer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="motivoLazer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Motivo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="dataLazer" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Data</xhtml:label>
											</xs:appinfo>
										</xs:annotation>	
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="esporte" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Esporte</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="instituicaoEsporte">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="motivoEsporte">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Motivo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="dataEsporte" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Data</xhtml:label>
											</xs:appinfo>
										</xs:annotation>	
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="outroEspacoAcolhimento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outro espaço de acolhimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="instituicaoOutroEspacoAcolhimento">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="motivoOutroEspacoAcolhimento">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Motivo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="dataOutroEspacoAcolhimento" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Data</xhtml:label>
											</xs:appinfo>
										</xs:annotation>	
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="outrosEncaminhamentos" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros encaminhamentos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="instituicaoOutrosEncaminhamentos">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="motivoOutrosEncaminhamentos">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Motivo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>				
										</xs:simpleType>	
									</xs:element>
									<xs:element name="dataOutrosEncaminhamentos" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Data</xhtml:label>
											</xs:appinfo>
										</xs:annotation>	
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>	
				</xs:complexType>
			</xs:element>
			
			<xs:element name="instituicoesAdolescenteAtendida">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Instituições onde a adolescente já foi atendida</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="instituicoesAdolescenteAtendida">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Instituições</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>				
							</xs:simpleType>	
						</xs:element>
						<xs:element name="periodoAdolescenteAtendida">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Período</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>				
							</xs:simpleType>	
						</xs:element>
						<xs:element name="pessoaReferenciaAdolescenteAtendida">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoa de referência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>				
							</xs:simpleType>	
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
