acao-sdh/schemas/sdh-saude.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-saude.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-saude.xsd"
	elementFormDefault="qualified">

	<xs:element name="formSaude" type="formSaude">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>13.SAUDE DA FAMÍLIA / ADOLESCENTE</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formSaude">
		<xs:sequence>

			<xs:element name="saude">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Saúde</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="suaFamiliaVaiAtendimentoMedicoRegularmente"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sua família vai ao atendimento médico regularmente
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Não sei" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="especifiqueQuantasVezesAFamiliaVaiAtendimentoMedico"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique quantas vezes </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="recebeMedicamentoQuandonecessario"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Recebe medicamento quando necessário</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Não sei" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element
							name="aFamiliaPossuiPessoasComHistoricoDeTranstornosMentais"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>A familia possui pessoas com histórico de
										transtornos
										mentais</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Não sei" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element
							name="especifiqueQuemdaFamiliaPossuiHistoricoDeTranstornosMentais"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique quem da familia possui histórico de
										transtornos mentais </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="recebeAlgumAcompanhamentoInstitucional"
							type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Recebe algum acompanhamento institucional
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element
							name="especifiqueAQuantoTemporecebeAlgumAcompanhamentoInstitucional"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique a quanto tempo recebe algum
										acompanhamento institucional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="onderecebeAlgumAcompanhamentoInstitucional">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Onde recebe algum acompanhamento institucional
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CAPS" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>CAPS</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="hospitalMental" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Hospital mental</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="naoRecebeAcompanhamento" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não recebe acompanhamento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element
							name="especifiqueOnderecebeAlgumAcompanhamentoInstitucional"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique onde recebe algum acompanhamento
										institucional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="naFamiliaExistemPessoasComAlgumaDeficiencia"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Na família existem pessoas com alguma deficiência
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoDeDeficienciaComPessoasDaFamilia">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de deficiência com pessoas da família
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="sensorialSurdo" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sensorial Surdo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="sensorialCego" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sensorial Cego</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="deficiênciaFisicoMotor" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Deficiência Físico/Motor</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="mobilidadeReduzida" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Mobilidade Reduzida</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="deficienciaIntelectual" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Deficiência Intelectual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="asCriancasEstaoComVacinasEmDia"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>As crianças estão com as vacinas em dias
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="especifiqueAsvacinasQueAsCriancasTomaram"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique quais vacinas as crianças tomaram
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="aPartirDe12Anos">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>* A Partir De 12 Anos
										___________________________________________________________________________________________
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="utilizaAlgumMetodoContaceptivoOuContraDSTAIDS"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>
													* Utiliza algum método contraceptivo e/ou contra
													DST/AIDS
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="qualContaceptivoUsa" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> * Se usa contraceptivo, qual?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="preservativoMasculino" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Preservativo masculino</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="preservativoFeminino" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Preservativo feminino</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="pilulaAnticoncpcional" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Pílula anticoncepcional</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="diu" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>DIU</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="tabela" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Tabela</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="temperaturaBasal" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Temperatura basal</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="metododeBilling" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Método de Billing</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="coitoInterrompido" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Coito interrompido</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="porqueNaoUsaContaceptivo"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> * Se não usa contraceptivo, por que?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="naoSeiOQueEIsso" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Não sei o que é isso</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="naoTenhoInteresseEmUsar" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Não tenho Interesse em utilizá-los
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="tenhoMedoDeUsar" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Tenho medo de usar</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="frequentaGinecologistaRegularmente"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> * Freqüenta o ginecologista regularmente
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
												<xs:enumeration value="Nunca fui" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="quantasVezesVaiAoGinecologistaAoAno"
										type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> * Quantas vezes vai ao ginecologista ao ano
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="frequenteUrologistaRegularmente"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> * Freqüenta urologista regularmente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
												<xs:enumeration value="Nunca fui" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="quantasVezesVaiAoUrologistaAoAno"
										type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> * Quantas vezes vai ao urologista ao ano
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="avaliacaoDoAcessoAosServicosDeSaude">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Avaliação do acesso aos serviços de saúde
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="acessoDaFamiliaAoServicoDeSaude"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Acesso da família ao serviço de Saude
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Ruim" />
												<xs:enumeration value="Regular" />
												<xs:enumeration value="Bom" />
												<xs:enumeration value="Ótimo" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="acessoAmedicacao" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Acesso a medicação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Ruim" />
												<xs:enumeration value="Regular" />
												<xs:enumeration value="Bom" />
												<xs:enumeration value="Ótimo" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="condicoesDeSaudeDaFamilia"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Condições de Saúde da família</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Ruim" />
												<xs:enumeration value="Regular" />
												<xs:enumeration value="Bom" />
												<xs:enumeration value="Ótimo" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>
</xs:schema>
