acao-sdh/schemas/sdh-visitaDomiciliar.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-visitaDomiciliar.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-visitaDomiciliar.xsd"
	elementFormDefault="qualified">

	<xs:element name="formVisitaDomiciliar" type="formVisitaDomiciliar">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>VISITA DOMICILIAR</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formVisitaDomiciliar">
		<xs:sequence>

			<xs:element name="identificacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Identificação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nomeEntrevistado" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome entrevistado
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="parentescoComAdolescente" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Parentesco com o adolescente
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="idadeEntrevistado" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Idade entrevistado
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="convivenciaComunitaria">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Convivência Comunitaria </xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="alguemDaFamiliaParticipaOuParticipouGrupoSocial "
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Alguem da família participa ou participou de
										algum
										grupo social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim, participa" />
									<xs:enumeration value="Sim, participou" />
									<xs:enumeration value="Não, Nunca participou" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="quemDaFamiliaParticipaOuParticipouGrupoSocial"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quem da família participa ou participou
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="tipoGrupoSocialAlguemDaFamiliaParticipaOuParticipou">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo grupo social que alguem da família participa
										ou
										participou</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="grupoReligioso" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grupo religioso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="gremioMovimentoEstudantil" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grêmio/Movimento estudantil</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="associacaoDeBairro" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Associação de bairro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="movimentoPoliticoOartidario" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Movimento político/partidário</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="grupoMusical" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grupo musical</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="grupoEsportivo" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grupo esportivo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="grupoDeTeatro" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grupo de teatro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="grupoDeDanca" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grupo de dança</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="grupoDeDefesaDoMeioAmbiente" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grupo de defesa do meio ambiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="cooperativa" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cooperativa</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="ONG" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>ONG</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="gruposProdutivos" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grupos produtivos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="movimentoCultural" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Movimento cultural</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="organizaçõesLGBTT" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Organizações LGBTT</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="movimentoDeMulheres" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Movimento de mulheres</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="movimentoNegro" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Movimento negro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="grupoDeRPG" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grupo de RPG</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="gruposRivaisGangues" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grupos rivais(gangues)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="especifiqueOutrosGrupos" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique grupo
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="alguemDaFamiliaDesenvolveAtividadeComunitaria"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em caso de negativo, algum membro da família
										desenvolve alguma atividade comunitária
																					</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element
							name="qualAtividadeComunitariaEDesenvolvidaPorMembroDaFamilia"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual atividade é desenvolvida
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="qualAtividadeComunitariaGostariamDeDesenvolver"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em caso de negativo, qual atividade gostariam
										de
										desenvolver
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="comoIdentificaRelacaoFamiliaComunidade"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Como identifica a relação da famíla com a
										comunidade(vínculos com vizinhos e amigos)
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="recursosComunitarios">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Recursos comunitários</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="recursosUtilizados" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quais recursos utilizados 
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="escola" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Escola</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="postoDeSaude" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Posto de saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="CRAS" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> CRAS </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="conselhoTutelar" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Conselho tutelar</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="ONGs" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> ONG's</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="associacoesMoradores" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Associação de moradores </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="especifiqueOutrosRecursoscomunitarios"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique outros recursos comunitarios
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="frequenciaDosRecursosComunitarios"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Com que freqüência</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="dinamicaFamiliar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Dinâmica familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="comoEstaRelacaoEntreFamiliares"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Como está a relação entre os familiares
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="comoAFamiliaEstaContribuindoParafacilitarMSE"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Como a família está contribuindo para facilitar
										o cumprimendo da MSE</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element
							name="queProvidenciasFOramTomadasEmRelacaoAoEncaminhamentoDoNucleo"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Que providências foram tomadas em relação à
										documentação, escola, profissionalização, drogadição,
										e demais
										encaminhamentos realizados pelo núcleo
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element
							name="familiapercebeMudancaNoComportamentoDoAdolescenteDepoisDoInicioDaMedida"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>A família percebe a mudança de comportamento do
										adolescente depois do início da medida? O que pensa
										disso?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="impressaoDaVisita" minOccurs="1"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Impressões da visita</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="tecnicoResponsavel" minOccurs="0"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Técnico responsável</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="dataDocumento" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>