acao-sdh/schemas/sdh-pedagogia.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-pedagogia.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml" 
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-pedagogia.xsd"
	elementFormDefault="qualified">

	<xs:element name="formPedagogia" type="formPedagogia">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>PEDAGOGIA</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formPedagogia">
		<xs:sequence>

			<xs:element name="situacaoEscolar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Situacao escolar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="leEscreve" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Lê e escreve</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim. Ruim." />
									<xs:enumeration value="Sim. Regular." />
									<xs:enumeration value="Sim. Bem." />
									<xs:enumeration value="Sim. Ótimo." />
									<xs:enumeration value="Não." />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="repetiuAlgumAno" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Repetiu algum ano</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim." />
									<xs:enumeration value="Não." />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="especificarOMotivoSerieQueRepetiu"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar o motivo e a série em que repetiu
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="temAlgumaDificuldadeDeAprendisagem">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tem alguma dificuldade de aprendizagem?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="atencao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Atenção</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="concentracao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Concentração</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="compreensao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Compreensão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="outros" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="observacao" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="emRelacaoADificuldadeOQueFezOuFazParaSuperala"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em relação a dificuldade o que fez ou faz para
										superá-la?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="historicoEscolar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Histórico Escolar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="frequentouEscolaQuandoCrianca"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Frequentou a Escola quando criança?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim." />
									<xs:enumeration value="Não." />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="quemOrientavaNasSuasTarefas" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quem o orientava nas suas tarefas?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="voceGostaDeEstudar" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Você gosta de estudar?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="temOHabitoDeEstudar" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tem o hábito de estudar?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="quaisOsConteudosEDisciplinasQueVoceMaisSeInteressa"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quais os conteúdos e disciplinas que você mais
										se
										interessa?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="seNaoFrequentouAEscolaCiteOsMotivos"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se não frequentou a Escola, cite os motivos:
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="relacionamentoNoAmbienteEscolar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Relacionamento no ambiente escolar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="oQueVoceMaisGostaNaEscola" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>O que você mais gosta na Escola?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="oQueVoceNaoGostaNaEscola" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>O que você não gosta na Escola?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="aEscolaOfereceCondicoesDePesquisaTaisComo"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>A Escola oferece condições de pesquisa tais
										como:
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="biblioteca" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Biblioteca</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="laboratorioDeInformatica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Laboratório de Informática </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="reforcoEscolar" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reforço escolar</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="comoESuaRelacaoComOsProfissionaisDaEscola"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Como é a sua relação com os profissionais da
										Escola?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="participaDeAtividadesColetivasNaEscola"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Participa de atividades coletivas na escola?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim." />
									<xs:enumeration value="Não." />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="qual" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="temInteresseEmPratica" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tem interesse em praticá-las (esportiva,
										artística
										ou recreativa)?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="familia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Família</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="alguemDaSuaFamiliaTeEstimulaAEstudar"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Alguém da sua família te estimula a estudar?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim." />
									<xs:enumeration value="Não." />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="quem" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quem?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="impressoesDoAtendimento" type="xs:string"
				minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Impressões do atendimento:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="tecnicoResponsavel" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Técnico responsável:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="data" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
