acao-sdh/schemas/sdh-servicoSocial.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-servicoSocial.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-servicoSocial.xsd"
	elementFormDefault="qualified">

	<xs:element name="formServicoSocial" type="formServicoSocial">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>SG 04.ATENDIMENTO SERVIÇO SOCIAL</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formServicoSocial">
		<xs:sequence>

			<xs:element name="relacionamentoFamiliar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Relacionamento familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="historicoDoSeuEnvolvimentoComAtoInfracionalMotivacao"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Histórico do seu envolvimento com ato infracional
										(Motivação)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="hitoricoFamiliar" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Histórico familiar (verificar existência de
										conflitos, configurações de relações afetivas, responsáveis
										pelo adolescente ao longo de sua vida)
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="relacionamentoDosPais" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Relacionamento dos pais
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Casados" />
									<xs:enumeration value="Vivem juntos" />
									<xs:enumeration value="Separados" />
									<xs:enumeration value="Viúvo(a)" />
									<xs:enumeration value="Nunca viveram juntos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="responsaveisAtualmentePeloAdolescente">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Responsáveis atualmente pelo adolescente:
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Pais" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pais</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="Pai" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pai</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="mae" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Mãe</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="avosPaternos" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Avós paternos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="avosMaternos" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Avós maternos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="avoPaterno" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Avô paterno</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="avoMaterno" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Avô materno</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="avoPaterna" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Avó paterna</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="avoMaterna" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Avó materna</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outros" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="epecifiqueOutrosResponsaveis" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="beneficios">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Benefícios</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="beneficioRecebidoPelaFamilia"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se a família ou algum membro da família é
										favorecido por
										algum benefício, quais são?
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="esferaDoBeneficioRecebidoPelaFamilia"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Esfera do benefício 
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="municipal" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Municipal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element
										name="situacaoAtualDoBeneficioMunicipalRecebidoPelaFamilia"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Situação atual do benefício municipal
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Ativo" />
												<xs:enumeration value="Bloqueado" />
												<xs:enumeration value="Suspenso" />
												<xs:enumeration value="Cancelado" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="estadual" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Estadual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element
										name="situacaoAtualDoBeneficioEstadualRecebidoPelaFamilia"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Situação atual do benefício estadual
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Ativo" />
												<xs:enumeration value="Bloqueado" />
												<xs:enumeration value="Suspenso" />
												<xs:enumeration value="Cancelado" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="federal" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Federal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="situacaoAtualDoBeneficioRecebidoPelaFamilia"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Situação atual do benefício federal
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Ativo" />
									<xs:enumeration value="Bloqueado" />
									<xs:enumeration value="Suspenso" />
									<xs:enumeration value="Cancelado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="relacionamentoComunitario">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Relacionamento Comunitário</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="historicoConvivenciaComunitaria"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Histórico de convivência comunitária (analisar
										período de residência no endereço, informando, composição de
										círculo de amizades, apresentação de relações afetivas -
										namoro, noivado, casamento)
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="violencia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Violência</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="territorialidade">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Territorialidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="noSeuBairroHaConflitosGruposRivais"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>No seu bairro ha conflitos de grupos rivais?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="qualRivalidadeHaNoSeuBairro"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual a rivalidade?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="participacaoEmGruposRivais"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participação em grupos rivais
																					</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Participa" />
												<xs:enumeration value="Participou" />
												<xs:enumeration value="Nunca participou" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="rotinaDiaria">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Rotina diária</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="comoESeuDia">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Como é seu dia?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="comoESuaManha" minOccurs="0"
										type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Manhã</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="comoESuaTarde" minOccurs="0"
										type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tarde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="comoESuaNoite" minOccurs="0"
										type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Noite</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="praticaAtividadesSocioCulturaisEsportivas">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quais atividades socioculturais e esportivas você
										pratica (público ou privado)?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="esportes" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Esportes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="lazer" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Lazer</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="cultura" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cultura</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="expectativas">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Expectativas</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="quaisSuasExpectativas" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quais suas expectativas em relação à medida
										socioeducativa?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="impressaoDoAtendimento" minOccurs="1"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Impressões do atendimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="tecnicoResponsavel" minOccurs="0"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Técnico responsável</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="dataDocumento" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
