acao-sdh/schemas/sdh-atendimentoEspecificoSEGARANTA.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-atendimentoEspecificoSEGARANTA.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-atendimentoEspecificoSEGARANTA.xsd"
	elementFormDefault="qualified">

	<xs:element name="formAtendimentoEspecificoSEGARANTA" type="formAtendimentoEspecificoSEGARANTA">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>ATENDIMENTO ESPECÍFICO SE GARANTA</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formAtendimentoEspecificoSEGARANTA">
		<xs:sequence>

			<xs:element name="encaminhamentoJudiciario">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Encaminhamento judiciario</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="tipoEncaminhamento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo encaminhamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Admissão" />
									<xs:enumeration value="Readmissão" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="medidaDoEncaminhamento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Medida do encaminhamento </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Progressão de medida" />
									<xs:enumeration value="Regressão de medida" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="atoInfracional">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Ato Infracional</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="numeroDoProcesso" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Numero do processo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="tipoAtoInfracional" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de Ato Infracional </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Ameaça" />
									<xs:enumeration value="Apropriação Indébita" />
									<xs:enumeration value="Arremesso (Modalidade do art.37)" />
									<xs:enumeration value="Atentado Violento ao Pudor" />
									<xs:enumeration value="Comunicação falsa" />
									<xs:enumeration value="Contravenção Penal" />
									<xs:enumeration value="Corrupção Ativa" />
									<xs:enumeration value="Crime Ambiental" />
									<xs:enumeration value="Crime contra administração Publica" />
									<xs:enumeration value="Crime contra Família" />
									<xs:enumeration value="Crime contra Fé Pública" />
									<xs:enumeration value="Crime contra a Paz Publica" />
									<xs:enumeration value="Crime contra a propriedade imaterial" />
									<xs:enumeration value="Crime de trânsito" />
									<xs:enumeration value="Dano" />
									<xs:enumeration value="Dano Qualificado" />
									<xs:enumeration value="Dano ao Patrimônio Público" />
									<xs:enumeration value="Desacato" />
									<xs:enumeration value="Desobediência" />
									<xs:enumeration value="Direção Perigosa" />
									<xs:enumeration value="Dirigir sem Habilitação" />
									<xs:enumeration value="Disparo com Arma de Fogo" />
									<xs:enumeration value="Disparo em Via Pública" />
									<xs:enumeration value="Estelionato" />
									<xs:enumeration value="Estupro" />
									<xs:enumeration value="Extorsão" />
									<xs:enumeration value="Extorsão Mediante Sequestro" />
									<xs:enumeration value="Extorsão Qualificada" />
									<xs:enumeration value="Falsa Identidade" />
									<xs:enumeration value="Falsificação de documentos" />
									<xs:enumeration value="Favorecimento Real" />
									<xs:enumeration value="Formação de Quadrilha" />
									<xs:enumeration value="Furto" />
									<xs:enumeration value="Furto de Veiculo" />
									<xs:enumeration value="Furto Qualificado" />
									<xs:enumeration value="Homicídio" />
									<xs:enumeration value="Homicídio Culposo" />
									<xs:enumeration value="Homicídio Doloso" />
									<xs:enumeration value="Homicídio Qualificado" />
									<xs:enumeration value="Injúria" />
									<xs:enumeration value="Invasão de Domicilio" />
									<xs:enumeration value="Latrocínio" />
									<xs:enumeration value="Lesão Corporal" />
									<xs:enumeration value="Lesão Corporal Culposa" />
									<xs:enumeration value="Lesão corporal dolosa" />
									<xs:enumeration value="Moeda Falsa" />
									<xs:enumeration value="Motim" />
									<xs:enumeration value="ocultação de cadáver" />
									<xs:enumeration value="Perturbação da Tranquilidade" />
									<xs:enumeration value="Pichação" />
									<xs:enumeration value="Porte de Drogas" />
									<xs:enumeration value="Porte Ilegal de Arma Branca" />
									<xs:enumeration value="Porte Ilegal de Arma de Fogo" />
									<xs:enumeration value="Porte Ilegal de Munição" />
									<xs:enumeration value="Posse de Arma de Fogo" />
									<xs:enumeration value="Receptação" />
									<xs:enumeration value="Resistência à Prisão" />
									<xs:enumeration value="Roubo" />
									<xs:enumeration value="Roubo de Veículos" />
									<xs:enumeration value="Roubo Qualificado" />
									<xs:enumeration value="Sequestro" />
									<xs:enumeration value="Tentativa de Estupro" />
									<xs:enumeration value="Tentativa de Fulga Mediante Violência" />
									<xs:enumeration value="Tentativa de Furto" />
									<xs:enumeration value="Tentativa de Furto Qualificado" />
									<xs:enumeration value="Tentativa de Homicídio" />
									<xs:enumeration value="Tentativa de Homicídio Doloso" />
									<xs:enumeration value="Tentativa de invasão de domicilio" />
									<xs:enumeration value="Tentativa de Latrocínio" />
									<xs:enumeration value="Tentativa de Lesão Corporal" />
									<xs:enumeration value="Tentativa de Roubo" />
									<xs:enumeration value="Tentativa de Roubo Qualificado" />
									<xs:enumeration value="Tráfico de Drogas" />
									<xs:enumeration value="Uso de Drogas" />
									<xs:enumeration value="Vias de Fato" />
									<xs:enumeration value="Violação de Domicilio" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="status" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Status </xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Aguardando decisão judicial" />
						<xs:enumeration value="Aguardando acolhida" />
						<xs:enumeration value="Desistência" />
						<xs:enumeration value="Desligado/arquivado" />
						<xs:enumeration value="Em atendimento" />
						<xs:enumeration value="Interno" />
						<xs:enumeration value="Preso(acima de 18 anos)" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="documentacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Documentação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="comprovanteDeResidencia" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Comprovante de residência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="declaracaoDoTrabalho" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Declaração do trabalho</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="declaracaoDeMatriculaEFrequenciaEscolar"
							type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Declaração de matricula e freqüência escolar
															</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="individualFamiliar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Individual - Familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="relacoesFamiliares">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Relações familiares</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="relateUmPoucodaHistoriaDoAdolescenteDesdeInfancia"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Relate um pouco da história de vida do
													adolescente
													desde a infância</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="comportamentoDoAdolescenteEmcasa"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Como é o comportamento do adolescente em casa
															</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="relacaoEntreFamiliares" minOccurs="0"
										type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Como é a relação entre os familiares
																		</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="violenciaIntraextraFamiliar">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Relações intra e/ou extra-familiar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="membrodaFamiliaSofreouSofreuViolencia"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Algum membro da família sofre ou sofreu algum
													tipo de
													violência intra e/ou extra-familiar </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim, sofre" />
												<xs:enumeration value="Sim, sofreu" />
												<xs:enumeration value="Nunca sofreu" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="duranteQuantoTempoSofreOuSofreuViolencia"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Durante quanto tempo </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="quemPraticouViolencia" minOccurs="0"
										type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quem praticou </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="tipoDeViolenciaQueSofreOuSofreu"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual o tipo de violência </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Discursão verbal" />
												<xs:enumeration value="Agressão física" />
												<xs:enumeration value="Violência doméstica" />
												<xs:enumeration value="Abuso sexual" />
												<xs:enumeration value="Exploração sexual" />
												<xs:enumeration value="Agressão psicológica" />
												<xs:enumeration value="Ameaça de morte" />
												<xs:enumeration value="Outros" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="especifiqueQueOutroTipodeViolênciaSofreOuSofreu"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Especifique que outro tipo de violência
													sofrida
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="freqüenciaQueSofreOuSofreuViolencia"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Com que freqüência </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="freqüentemente" />
												<xs:enumeration value="às vezes" />
												<xs:enumeration value="raramente" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="tipoDeProvidenciaTomadaContraViolencia"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Que tipo de providencia ou atitude foi tomada
															</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="procurouAlgumaInstituicaoContraViolencia"
													minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Procurou ajuda em alguma instituição </xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="especifiqueInstituicaoCotraViolenciaProcurou"
													minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label> Especifique a instituição procurada </xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="resolveuPorContraPropriaAViolencia"
													minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Resolveu a situação por conta própria
																					</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="especifiqueComoResolveuAViolencia"
													minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label> Como foi resolvido </xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="procurouAmigosEParentesContraViolencia"
													minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Procurou a ajuda de amigos(as) e/ou parentes
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="naoTomouProvidenciaContraViolencia"
													minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Não tomou nenhuma providência
																					</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="teveOuEstaTendoAtendimento"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Teve ou está tendo algum tipo de atendimento
															</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="teveAtendimentoEspecializado"
													minOccurs="0" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label> Sim, ja teve atendimento especializado
																					</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="atendimentoEspecializadoFoiSuficente"
													minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>O atendimento especializado foi suficiente
																		</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Sim" />
															<xs:enumeration value="Não" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="estaTendoAtendimentoEspecializado"
													minOccurs="0" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label> Sim, ja está tendo atendimento
																especializado
															</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="ondeEstaTendoAtendimentoEspecializado"
													minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Onde está tendo atendimento
																especializado
																					</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="naoTemAtendimentoMasQuer"
													minOccurs="0" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label> Não, porém gostaria de ser encaminhado/a
																para
																atendimento especializado
																					</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="naoTemInteresseEmTerAtendimento"
													minOccurs="0" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label> Não tem interesse no atendimento
																					</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>


								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="sobreOAtoInfracional">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sobre o ato infracional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="emQueOAtoInfracionalAfetouAFamilia"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>De que forma o ato infracional afetou a família
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element
										name="oQueMotivouOAdolescenteACometerInfracaoSegundoAFamilia"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Segundo a família, o que motivou o adolescente
													a
													cometer ato infracional
																		</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="contribuicaoDaFamiliaParaFacilitarOCumprimentoMSE"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Como a família pretende contribuir para
													facilitar o
													cumprimrnto da MSE(Aproveitar o momento
													para
													co-responsabilizar a familia acerca das
													determinações quanto
													ao cumprimento da medida)
																		</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="impressaoDoAtendimento" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Impressões do atendimento
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="tecnicoResponsavel" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Técnico responsável
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="dataDocumento" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
