acao-sdh/schemas/sdh-cadernob.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/habitafor/sdh-cadernob.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/habitafor/sdh-cadernob.xsd"
	elementFormDefault="qualified">

	<xs:element name="formCadernoA" type="formCadernoA">
		<xs:annotation>
			<xs:appinfo>
				<label>Proposta de Cadastro Único</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formCadernoA">
		<xs:sequence>

			<xs:element name="atendimentoEspecificoSeGaranta">
				<xs:annotation>
					<xs:appinfo>
						<label>Atendimento Especifico Se Garanta</label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="encaminhamentoJudiciario">
							<xs:annotation>
								<xs:appinfo>
									<label>Encaminhamento judiciario</label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="tipoEncaminhamento" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<label>Tipo encaminhamento</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Admissão" />
												<xs:enumeration value="Readmissão" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="medidaDoEncaminhamento" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<label>Medida do encaminhamento </label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Progressão de medida" />
												<xs:enumeration value="Regressão de medida" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>


						<xs:element name="atoInfracional">
							<xs:annotation>
								<xs:appinfo>
									<label>Ato Infracional</label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="numeroDoProcesso" minOccurs="0"
										type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<label>Numero do processo</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="tipoAtoInfracional" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<label>Tipo de Ato Infracional </label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Ameaça" />
												<xs:enumeration value="Apropriação Indébita" />
												<xs:enumeration value="Arremesso (Modalidade do art.37)" />
												<xs:enumeration value="Atentado Violento ao Pudor" />
												<xs:enumeration value="Comunicação falsa" />
												<xs:enumeration value="Contravenção Penal" />
												<xs:enumeration value="Corrupção Ativa" />
												<xs:enumeration value="Crime Ambiental" />
												<xs:enumeration value="Crime contra administração Publica" />
												<xs:enumeration value="Crime contra Família" />
												<xs:enumeration value="Crime contra Fé Pública" />
												<xs:enumeration value="Crime contra a Paz Publica" />
												<xs:enumeration value="Crime contra a propriedade imaterial" />
												<xs:enumeration value="Crime de trânsito" />
												<xs:enumeration value="Dano" />
												<xs:enumeration value="Dano Qualificado" />
												<xs:enumeration value="Dano ao Patrimônio Público" />
												<xs:enumeration value="Desacato" />
												<xs:enumeration value="Desobediência" />
												<xs:enumeration value="Direção Perigosa" />
												<xs:enumeration value="Dirigir sem Habilitação" />
												<xs:enumeration value="Disparo com Arma de Fogo" />
												<xs:enumeration value="Disparo em Via Pública" />
												<xs:enumeration value="Estelionato" />
												<xs:enumeration value="Estupro" />
												<xs:enumeration value="Extorsão" />
												<xs:enumeration value="Extorsão Mediante Sequestro" />
												<xs:enumeration value="Extorsão Qualificada" />
												<xs:enumeration value="Falsa Identidade" />
												<xs:enumeration value="Falsificação de documentos" />
												<xs:enumeration value="Favorecimento Real" />
												<xs:enumeration value="Formação de Quadrilha" />
												<xs:enumeration value="Furto" />
												<xs:enumeration value="Furto de Veiculo" />
												<xs:enumeration value="Furto Qualificado" />
												<xs:enumeration value="Homicídio" />
												<xs:enumeration value="Homicídio Culposo" />
												<xs:enumeration value="Homicídio Doloso" />
												<xs:enumeration value="Homicídio Qualificado" />
												<xs:enumeration value="Injúria" />
												<xs:enumeration value="Invasão de Domicilio" />
												<xs:enumeration value="Latrocínio" />
												<xs:enumeration value="Lesão Corporal" />
												<xs:enumeration value="Lesão Corporal Culposa" />
												<xs:enumeration value="Lesão corporal dolosa" />
												<xs:enumeration value="Moeda Falsa" />
												<xs:enumeration value="Motim" />
												<xs:enumeration value="ocultação de cadáver" />
												<xs:enumeration value="Perturbação da Tranquilidade" />
												<xs:enumeration value="Pichação" />
												<xs:enumeration value="Porte de Drogas" />
												<xs:enumeration value="Porte Ilegal de Arma Branca" />
												<xs:enumeration value="Porte Ilegal de Arma de Fogo" />
												<xs:enumeration value="Porte Ilegal de Munição" />
												<xs:enumeration value="Posse de Arma de Fogo" />
												<xs:enumeration value="Receptação" />
												<xs:enumeration value="Resistência à Prisão" />
												<xs:enumeration value="Roubo" />
												<xs:enumeration value="Roubo de Veículos" />
												<xs:enumeration value="Roubo Qualificado" />
												<xs:enumeration value="Sequestro" />
												<xs:enumeration value="Tentativa de Estupro" />
												<xs:enumeration value="Tentativa de Fulga Mediante Violência" />
												<xs:enumeration value="Tentativa de Furto" />
												<xs:enumeration value="Tentativa de Furto Qualificado" />
												<xs:enumeration value="Tentativa de Homicídio" />
												<xs:enumeration value="Tentativa de Homicídio Doloso" />
												<xs:enumeration value="Tentativa de invasão de domicilio" />
												<xs:enumeration value="Tentativa de Latrocínio" />
												<xs:enumeration value="Tentativa de Lesão Corporal" />
												<xs:enumeration value="Tentativa de Roubo" />
												<xs:enumeration value="Tentativa de Roubo Qualificado" />
												<xs:enumeration value="Tráfico de Drogas" />
												<xs:enumeration value="Uso de Drogas" />
												<xs:enumeration value="Vias de Fato" />
												<xs:enumeration value="Violação de Domicilio" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="status" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<label>Status </label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Aguardando decisão judicial" />
												<xs:enumeration value="Aguardando acolhida" />
												<xs:enumeration value="Desistência" />
												<xs:enumeration value="Desligado/arquivado" />
												<xs:enumeration value="Em atendimento" />
												<xs:enumeration value="Interno" />
												<xs:enumeration value="Preso(acima de 18 anos)" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="documentacao">
										<xs:annotation>
											<xs:appinfo>
												<label>Documentação</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="comprovanteDeResidencia" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<label>Comprovante de residência</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="declaracaoDoTrabalho" type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<label>Declaração do trabalho</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="declaracaoDeMatriculaEFrequenciaEscolar"
													type="xs:boolean">
													<xs:annotation>
														<xs:appinfo>
															<label>Declaração de matricula e freqüência escolar
															</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="individualFamiliar">
										<xs:annotation>
											<xs:appinfo>
												<label>Individual - Familiar</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="relacoesFamiliares">
													<xs:annotation>
														<xs:appinfo>
															<label>Relações familiares</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element
																name="relateUmPoucodaHistoriaDoAdolescenteDesdeInfancia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Relate um pouco da história de vida do
																			adolescente desde a infância</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="comportamentoDoAdolescenteEmcasa"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como é o comportamento do adolescente em casa
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="relacaoEntreFamiliares"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como é a relação entre os familiares
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="violenciaIntraextraFamiliar">
													<xs:annotation>
														<xs:appinfo>
															<label>Relações intra e/ou extra-familiar</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="membrodaFamiliaSofreouSofreuViolencia"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Algum membro da família sofre ou sofreu algum
																			tipo de violência intra e/ou extra-familiar </label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Sim, sofre" />
																		<xs:enumeration value="Sim, sofreu" />
																		<xs:enumeration value="Nunca sofreu" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="duranteQuantoTempoSofreOuSofreuViolencia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Durante quanto tempo </label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="quemPraticouViolencia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quem praticou </label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="tipoDeViolenciaQueSofreOuSofreu"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Qual o tipo de violência </label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Discursão verbal" />
																		<xs:enumeration value="Agressão física" />
																		<xs:enumeration value="Violência doméstica" />
																		<xs:enumeration value="Abuso sexual" />
																		<xs:enumeration value="Exploração sexual" />
																		<xs:enumeration value="Agressão psicológica" />
																		<xs:enumeration value="Ameaça de morte" />
																		<xs:enumeration value="Outros" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element
																name="especifiqueQueOutroTipodeViolênciaSofreOuSofreu"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label> Especifique que outro tipo de violência
																			sofrida </label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="freqüenciaQueSofreOuSofreuViolencia"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Com que freqüência </label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="freqüentemente" />
																		<xs:enumeration value="às vezes" />
																		<xs:enumeration value="raramente" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="tipoDeProvidenciaTomadaContraViolencia"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Que tipo de providencia ou atitude foi tomada
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="procurouAlgumaInstituicaoContraViolencia"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Procurou ajuda em alguma instituição </label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element
																			name="especifiqueInstituicaoCotraViolenciaProcurou"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Especifique a instituição procurada </label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="resolveuPorContraPropriaAViolencia"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Resolveu a situação por conta própria
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="especifiqueComoResolveuAViolencia"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Como foi resolvido </label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="procurouAmigosEParentesContraViolencia"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Procurou a ajuda de amigos(as) e/ou parentes
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="naoTomouProvidenciaContraViolencia"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Não tomou nenhuma providência
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="teveOuEstaTendoAtendimento"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Teve ou está tendo algum tipo de atendimento
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="teveAtendimentoEspecializado"
																			minOccurs="0" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Sim, ja teve atendimento especializado
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="atendimentoEspecializadoFoiSuficente"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>O atendimento especializado foi suficiente
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="estaTendoAtendimentoEspecializado"
																			minOccurs="0" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Sim, ja está tendo atendimento
																						especializado
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="ondeEstaTendoAtendimentoEspecializado"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Onde está tendo atendimento
																						especializado
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="naoTemAtendimentoMasQuer"
																			minOccurs="0" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Não, porém gostaria de ser encaminhado/a
																						para atendimento especializado
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="naoTemInteresseEmTerAtendimento"
																			minOccurs="0" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Não tem interesse no atendimento
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>


														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="sobreOAtoInfracional">
													<xs:annotation>
														<xs:appinfo>
															<label>Sobre o ato infracional</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="emQueOAtoInfracionalAfetouAFamilia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>De que forma o ato infracional afetou a família
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="oQueMotivouOAdolescenteACometerInfracaoSegundoAFamilia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Segundo a família, o que motivou o adolescente
																			a cometer ato infracional
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="contribuicaoDaFamiliaParaFacilitarOCumprimentoMSE"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como a família pretende contribuir para
																			facilitar o cumprimrnto da MSE(Aproveitar o momento
																			para co-responsabilizar a familia acerca das
																			determinações quanto ao cumprimento da medida)
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="impressaoDoAtendimento"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Impressões do atendimento
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="tecnicoResponsavel"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Técnico responsável
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="dataDocumento" minOccurs="0"
																type="xs:date">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Data
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="juridico">
										<xs:annotation>
											<xs:appinfo>
												<label>Jurídico</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="origem" minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<label>Origem</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Admissão LA" />
															<xs:enumeration value="Admissão LAM" />
															<xs:enumeration value="Readmissão L.A" />
															<xs:enumeration value="Admissão PSC" />
															<xs:enumeration value="Admissão PSCM" />
															<xs:enumeration value="Readmissão PSC" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="jaCumpriuOutraMedidaSocioeducativa"
													minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<label>Já cumpriu outra medida socioeducativa?</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Não" />
															<xs:enumeration value="Sim" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="qualMedidaSocioeducativa"
													minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<label>Qual(is)?</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Obrigação de reparar o dano" />
															<xs:enumeration value="Prestação de Serviços à Comunidade" />
															<xs:enumeration value="Liberdade Assistida" />
															<xs:enumeration value="Semiliberdade" />
															<xs:enumeration value="Privação de Liberdade" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="qualMedidaSocioeducativa"
													minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<label>Qual(is)?</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Obrigação de reparar o dano" />
															<xs:enumeration value="Prestação de Serviços à Comunidade" />
															<xs:enumeration value="Liberdade Assistida" />
															<xs:enumeration value="Semiliberdade" />
															<xs:enumeration value="Privação de Liberdade" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="historicoInfracional">
													<xs:annotation>
														<xs:appinfo>
															<label>Histórico Infracional</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="porQueEstaCumprindomedida"
																minOccurs="0" type="xs:date">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Por que está cumprindo a medida?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="oQueOMotivou" minOccurs="0"
																type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>O que o motivou?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="foiPlanejadoOuImpulso?"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Foi planejado ou impulso?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="comoSeSenteEmRelacaoAoAto"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como se sente em relação ao ato?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="valeuAPena" minOccurs="0"
																type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Valeu a pena?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="jaCometeuOutrosAtosInfracionaisForamApurados"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Já cometeu outros atos infracionais? Foram
																			apurados?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="apuracaoDoAtoInfracional">
													<xs:annotation>
														<xs:appinfo>
															<label>Apuração do Ato Infracional</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="daAbordagemPolicialEApreensao"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>a) Da abordagem policial e apreensão</label>
																	</xs:appinfo>
																</xs:annotation>

																<xs:complexType>
																	<xs:sequence>

																		<xs:element name="sofreuAgressaoInstitucional"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Sofreu agressão institucional?</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="quaisAgressões"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Quais Agressões?</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Verbal" />
																					<xs:enumeration value="Física" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="foiAlgemado" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Foi Algemado?</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element
																			name="foiConduzidoDeManeiraAdequadaParaAUnidadeDeRecepcao"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Foi conduzido de maneira adequada para a
																						Unidade de
																						Recepção?</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="foiConduzidoDiretoParaAUnidadeDeRecepção"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Foi conduzido direto para a Unidade de
																						Recepção?</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element
																			name="foiConduzidoParaOImlFimDeRealizarOExameDeCorpoDeDelito"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Foi conduzido para o IML, a fim de realizar
																						o
																						exame de Corpo de Delito?</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="foiConduzidoDeManeiraAdequadaParaOIml"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Foi conduzido de maneira adequada para o
																						IML?
																		</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="observacoesIml" type="xs:string"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Observações</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element
																			name="osPoliciaisQueRealizaramSuaApreencaoSaoOsMesmosQueOConduziuParaOIml"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Os policiais que realizaram sua apreenção
																						são
																						os mesmos que o conduziu para o IML?
																		</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="voceFoiApreendidoEmFlagrante?"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Você foi apreendido em flagrante?</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="observacoesFlagrante"
																			type="xs:string" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Observações</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element
																			name="houvePresencaDeAdvogadoOuDefensorPublicoNoAtoDaApreensaoEmFlagrante"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Houve presenca de advogado ou defensor
																						publico
																						no ato da apreensão em flagrante?</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="daDelegaciaDaCriancaEDoAdolescente"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>b) Da delegacia da crianca e do adolescente
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element
																			name="avaliarAPassagemDoAdolescentePelaDelegaciaFeituraDeExamesPericiais"
																			type="xs:string" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Avaliar a passagem do adolescente pela
																						Delegacia,
																						feitura de exames periciais, etc</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="daUnidadeDeRecepcao"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>c) Da unidade de recepcao</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element
																			name="investigarSobrePeriodoDePermanênciaDoAdolescenteApreendidoNaUnidadeDeRecepcao"
																			type="xs:string" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Investigar sobre período de permanência do
																						adolescente apreendido na Unidade de Recepção
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>d) Da apresentação</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element
																			name="contatoDoAdolescenteComOMembroDoMinistérioPublico"
																			type="xs:string" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Contato do adolescente com o Membro do
																						Ministério Publico, a Representante da Defensoria
																						Publica e Juiz e a adequada observância dos
																						direitos
																						e garantias fundamentais</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="remissao" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>e) Remissao:</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element
																			name="(saberSeOAdolescenteFoiDevidamenteInformadoSobreOInstitutoDaRemissao"
																			type="xs:string" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Saber se o adolescente foi devidamente
																						informado sobre o instituto da remissão</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="progressaoOuRegressao"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>f) Progressão ou regressão</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element
																			name="investigarSobreAProgressaoOuRegressãoDaMedida"
																			type="xs:string" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Investigar sobre a progressão ou regressão
																						da
																						medida</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="julgamento" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>g) Julgamento</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="observacoes" type="xs:string"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Observaçõees</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="privacaoDeLiberdade"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>h) Privação de Liberdade</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element
																			name="saberSeOAdolescenteJaEstaEmCentroEducacionalEOTempoDePermanencia"
																			type="xs:string" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Saber se o adolescente já este em centro
																						educacional e o tempo de permanência</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="abrigamento" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>i) Abrigamento</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element
																			name="saberSeOAdolescenteJaEsteveEmAbrigoQualAbrigoEOMotivoDaPermanencia."
																			type="xs:string" minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Saber se o adolescente já este em centro
																						educacional e o tempo de permanência</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="impressoesDoAtendimento"
																type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Impressões do atendimento:</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="técnicoResponsavel" type="xs:string"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Técnico responsável:</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="data" minOccurs="0" type="xs:date">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Data</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="servicoSocial">
										<xs:annotation>
											<xs:appinfo>
												<label>Serviço Social</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="relacionamentoFamiliar">
													<xs:annotation>
														<xs:appinfo>
															<label>Relacionamento familiar</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="hitoricoFamiliar" minOccurs="0"
																type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Histórico familiar(verificar existência de
																			conflitos, configurações de relações afetivas,
																			responsãveis pelo adolescente ao longo de sua vida)
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="relacionamentoDosPais"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Relacionamento dos pais
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Casados" />
																		<xs:enumeration value="Separados" />
																		<xs:enumeration value="Nunca viveram juntos" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="responsaveisAtualmentePeloAdolescente"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Responsáveis atualmente pelo adolescente
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Pais" />
																		<xs:enumeration value="Pai" />
																		<xs:enumeration value="Mãe" />
																		<xs:enumeration value="Avós paternos" />
																		<xs:enumeration value="Avós maternos" />
																		<xs:enumeration value="Avô paterno" />
																		<xs:enumeration value="Avô materno" />
																		<xs:enumeration value="Avó paterna" />
																		<xs:enumeration value="Avó materna" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="beneficios">
													<xs:annotation>
														<xs:appinfo>
															<label>Benefícios</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="beneficioRecebidoPelaFamilia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Se a família ou algum membro da família é
																			favorecido por algum benefício, quais 
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="esferaDoBeneficioRecebidoPelaFamilia"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Esfera do benefício 
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="municipal" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Municipal</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="estadual" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Estadual</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="federal" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Federal</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="situacaoAtualDoBeneficioRecebidoPelaFamilia"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Situação atual do benefício
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Ativo" />
																		<xs:enumeration value="Bloqueado" />
																		<xs:enumeration value="Suspenso" />
																		<xs:enumeration value="Cancelado" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>


														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="relacionamentoComunitario">
													<xs:annotation>
														<xs:appinfo>
															<label>Relacionamento Comunitário</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="historicoConvivenciaComunitaria"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Histórico de convivência comunitária(analisar
																			período de residẽncia no endereço, informando,
																			composição de circulo de amizades, apresentação de
																			relações afetivas - namoro, noivado, casamento)
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="violencia">
													<xs:annotation>
														<xs:appinfo>
															<label>Violência</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="territorialidade">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Territorialidade</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="noSeuBairroHaConflitosGruposRivais"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>No seu bairro ha conflitos de grupos rivais
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Sim" />
																					<xs:enumeration value="Não" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																		<xs:element name="qualRivalidadeHaNoSeuBairro"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Qual rivalidade há no seu bairro	</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="participacaoEmGruposRivais"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Participação em grupos rivais
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Participa" />
																					<xs:enumeration value="Participou" />
																					<xs:enumeration value="Nunca participou" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="rotinaDiaria">
													<xs:annotation>
														<xs:appinfo>
															<label>Diária</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="comoESeuDia">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como é seu dia</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="comoESuaManha" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Manha</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="comoESuaTarde" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Tarde</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="comoESuaNoite" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Noite</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="praticaAtividadesSocioCulturaisEsportivas">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quais atividades sócio-culturais e esportivas
																			você pratica(público ou privado)</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="esportes" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Esportes</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="lazer" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Lazer</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="cultura" minOccurs="0"
																			type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Cultura</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>


														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="expectativas">
													<xs:annotation>
														<xs:appinfo>
															<label>Expectativas</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="quaisSuasExpectativas"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quais suas expectativas em relação a medida
																			sócio-educativa </label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="impressaoDoAtendimento"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Impressões do atendimento
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="tecnicoResponsavel"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Técnico responsável
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="dataDocumento" minOccurs="0"
																type="xs:date">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Data
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="pedagogia">
										<xs:annotation>
											<xs:appinfo>
												<label>Pedagogia</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="situacaoEscolar">
													<xs:annotation>
														<xs:appinfo>
															<label>Situacao escolar</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="leEscreve" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Lê e escreve</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Sim. Ruim." />
																		<xs:enumeration value="Sim. Regular." />
																		<xs:enumeration value="Sim. Bem." />
																		<xs:enumeration value="Sim. Ótimo." />
																		<xs:enumeration value="Não." />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="repetiuAlgumAno" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Repetiu algum ano</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Sim." />
																		<xs:enumeration value="Não." />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="especificarOMotivoSerieQueRepetiu "
																type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Especificar o motivo e a série em que repetiu
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="temAlgumaDificuldadeDeAprendisagem"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Tem alguma dificuldade de aprendizagem?</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Atenção" />
																		<xs:enumeration value="Concentração" />
																		<xs:enumeration value="Compreensão" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="outros" type="xs:string"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Outros</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="observacao" type="xs:string"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Observação</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="emRelaçãoADificuldadeOQueFezOuFazParaSuperala"
																type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Em relação a dificuldade o que fez ou faz para
																			superá-la?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="historicoEscolar">
													<xs:annotation>
														<xs:appinfo>
															<label>Histórico Escolar</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="frequentouEscolaQuandoCrianca"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Frequentou a Escola quando criança?</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Sim." />
																		<xs:enumeration value="Não." />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="quemOrientavaNasSuasTarefas"
																type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quem o orientava nas suas tarefas?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="voceGostaDeEstudar" type="xs:string"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Você gosta de estudar?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="temOHabitoDeEstudar" type="xs:string"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Tem o hábito de estudar?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="quaisOsConteudosEDisciplinasQueVoceMaisSeInteressa"
																type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quais os conteúdos e disciplinas que você mais
																			se
																			interessa?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="seNaoFrequentouAEscolaCiteOsMotivos"
																type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Se não frequentou a Escola, cite os motivos:
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="relacionamentoNoAmbienteEscolar">
													<xs:annotation>
														<xs:appinfo>
															<label>Relacionamento no ambiente escolar</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="oQueVoceMaisGostaNaEscola"
																type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>O que você mais gosta na Escola?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="oQueVoceNaoGostaNaEscola?"
																type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>O que você não gosta na Escola?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="aEscolaOfereceCondiçõesDePesquisaTaisComo:"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>A Escola oferece condições de pesquisa tais
																			como:
															</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>

																		<xs:element name="biblioteca" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Biblioteca</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="laboratorioDeInformática"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Laboratório de Informática </label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="reforcoEscolar" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Reforço escolar</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="comoESuaRelacaoComOsProfissionaisDaEscola"
																type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como é a sua relação com os profissionais da
																			Escola?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="participaDeAtividadesColetivasNaEscola?"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Participa de atividades coletivas na escola?
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Sim." />
																		<xs:enumeration value="Não." />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="qual" type="xs:string"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Qual?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="temInteresseEmPratica" type="xs:string"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Tem interesse em praticá-las (esportiva,
																			artística
																			ou recreativa)?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="familia">
													<xs:annotation>
														<xs:appinfo>
															<label>Família</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element
																name="Alguém da sua família te estimula a estudar?"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Alguém da sua família te estimula a estudar?
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Sim." />
																		<xs:enumeration value="Não." />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element name="quem" type="xs:string"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quem?</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="impressoesDoAtendimento" type="xs:string"
													minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<label>Impressões do atendimento:</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="técnicoResponsavel" type="xs:string"
													minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<label>Técnico responsável:</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="data" minOccurs="0" type="xs:date">
													<xs:annotation>
														<xs:appinfo>
															<label>Data</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="visitaDomiciliar">
										<xs:annotation>
											<xs:appinfo>
												<label>Visita Domiciliar</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="identificacao">
													<xs:annotation>
														<xs:appinfo>
															<label>Identificação</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="nomeEntrevistado" minOccurs="0"
																type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Nome entrevistado
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="parentescoComAdolescente"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Parentesco com o adolescente
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="idadeEntrevistado"
																minOccurs="0" type="xs:integer">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Idade entrevistado
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>


														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="convivenciaComunitaria">
													<xs:annotation>
														<xs:appinfo>
															<label>Convivência Comunitaria </label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element
																name="alguemDaFamiliaParticipaOuParticipouGrupoSocial "
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>alguem da família participa ou participou de
																			algum grupo social
																					</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Sim, participa" />
																		<xs:enumeration value="Sim, participou" />
																		<xs:enumeration value="Não, Nunca participou" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element
																name="quemDaFamiliaParticipaOuParticipouGrupoSocial"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quem da família participa ou participou
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="tipoGrupoSocialAlguemDaFamiliaParticipaOuParticipou "
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Tipo grupo social alguem da família participa
																			ou participou 
																					</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Grupo religioso" />
																		<xs:enumeration value="Grêmio/Movimento estudantil" />
																		<xs:enumeration value="Associação de bairro" />
																		<xs:enumeration value="Movimento político/partidário" />
																		<xs:enumeration value="Grupo musical" />
																		<xs:enumeration value="Grupo esportivo" />
																		<xs:enumeration value="Grupo de teatro" />
																		<xs:enumeration value="Grupo de dança" />
																		<xs:enumeration value="Grupo de defesa do meio ambiente" />
																		<xs:enumeration value="Cooperativa" />
																		<xs:enumeration value="ONG" />
																		<xs:enumeration value="Grupos produtivos" />
																		<xs:enumeration value="Movimento cultural" />
																		<xs:enumeration value="Organizações LGBTT" />
																		<xs:enumeration value="Movimento de mulheres" />
																		<xs:enumeration value="Movimento negro" />
																		<xs:enumeration value="Grupo de RPG" />
																		<xs:enumeration value="Grupos rivais(gangues)" />
																		<xs:enumeration value="Outros" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element
																name="alguemDaFamiliaDesenvolveAtividadeComunitaria"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Em caso de negativo, algum membro da família
																			desenvolve alguma atividade comunitária
																					</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Sim" />
																		<xs:enumeration value="Não" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>

															<xs:element
																name="qualAtividadeComunitariaEDesenvolvidaPorMembroDaFamilia"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Qual atividade é desenvolvida
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="qualAtividadeComunitariaGostariamDeDesenvolver"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Em caso de negativo, qual atividade gostariam
																			de desenvolver
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element name="comoIdentificaRelacaoFamiliaComunidade"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como identifica a relação da famíla com a
																			comunidade(vínculos com vizinhos e amigos)
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="recursosComunitarios">
													<xs:annotation>
														<xs:appinfo>
															<label>Recursos comunitários</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="recursosUtilizados"
																minOccurs="0">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Quais recursos utilizados 
																		</label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="escola" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Escola</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="postoDeSaude" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Posto de saúde</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="CRAS" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> CRAS </label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="conselhoTutelar"
																			minOccurs="0" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Conselho tutelar</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="ONGs" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> ONG's</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="associacoesMoradores"
																			minOccurs="0" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Associação de moradores </label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="outros" minOccurs="0"
																			type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<label> Outros</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																		<xs:element name="especifiqueOutrosRecursoscomunitarios"
																			minOccurs="0" type="xs:string">
																			<xs:annotation>
																				<xs:appinfo>
																					<label>Especifique outros recursos comunitarios
																					</label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="dinamicaFamiliar">
													<xs:annotation>
														<xs:appinfo>
															<label>Dinâmica familiar</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="comoEstaRelacaoEntreFamiliares"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como está a relação entre os familiares
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="comoAFamiliaEstaContribuindoParafacilitarMSE"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Como a família está contribuindo para facilitar
																			o cumprimendo da MSE(aproveitar para responsabilizar
																			a família acerca das determinações quanto ao
																			cumprimento da medida)
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="queProvidenciasFOramTomadasEmRelacaoAoEncaminhamentoDoNucleo"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>Que providências foram tomadas em relação à
																			documentação, escola, profissionalização, drogadição,
																			e demais encaminhamentos realizados pelo núcleo
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>

															<xs:element
																name="familiapercebeMudancaNoComportamentoDoAdolescenteDepoisDoInicioDaMedida"
																minOccurs="0" type="xs:string">
																<xs:annotation>
																	<xs:appinfo>
																		<label>A família percebe a mudança de comportamento do
																			adolescente depois do início da medida? O que pensa
																			disso
																		</label>
																	</xs:appinfo>
																</xs:annotation>
															</xs:element>


														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="impressaoDoAtendimento"
													minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Impressões do atendimento
																		</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="tecnicoResponsavel" minOccurs="0"
													type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Técnico responsável</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="dataDocumento" minOccurs="0"
													type="xs:date">
													<xs:annotation>
														<xs:appinfo>
															<label>Data</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="relatoriosEncaminhados">
										<xs:annotation>
											<xs:appinfo>
												<label>Relatórios Encaminhados</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="tipoRelatorioEncaminhado"
													minOccurs="0">
													<xs:annotation>
														<xs:appinfo>
															<label>Tipo relatório encaminhado</label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Semestral" />
															<xs:enumeration value="Circunstancial" />
															<xs:enumeration value="Informe" />
															<xs:enumeration value="Cumprimento" />
															<xs:enumeration value="Descumprimento" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="dataEntregaJuizado" minOccurs="0"
													type="xs:date">
													<xs:annotation>
														<xs:appinfo>
															<label>Data de entrega no juizado</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="motivoEncaminhamento"
													minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Motivo Encaminhamento</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="retornoJudiciario" minOccurs="0"
													type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Retorno do Judiciário</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="planoIndividualAtendimento">
										<xs:annotation>
											<xs:appinfo>
												<label>Plano Individual de Atendimento - PIA</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="direcionamento" minOccurs="0"
													type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Direcionamento</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="instituicaoProgramaProjeto"
													minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Instituição/Programa/Projeto</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="Motivo" minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Motivo</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="objetivo" minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Objetivo</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="tecnicoResponsavel" minOccurs="0"
													type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Técnico responsável</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="data" minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Data</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="Retorno" minOccurs="0" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Retorno</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="observacoes" minOccurs="0"
													type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<label>Observacoes</label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>









					</xs:sequence>
				</xs:complexType>

			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
