acao-sdh/schemas/sdh-acolhimentoInstitucional-documentosApresentados-CasaMeninas.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-acolhimentoInstitucional-documentosApresentados-CasaMeninas.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-acolhimentoInstitucional-documentosApresentados-CasaMeninas.xsd"
	elementFormDefault="qualified">

	<xs:element name="formDocumentosApresentados" type="formDocumentosApresentados">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>02. DOCUMENTOS APRESENTADOS</xhtml:label>
				<class:classificacoes>
					<class:classificacao>
                        cn=Programa Casa das Meninas,cn=Programa Casa dos Meninos,cn=Criança e Adolescente,cn=Direitos Humanos
                    </class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formDocumentosApresentados">
		<xs:sequence>
			<xs:element name="numeroAtendimento" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número atendimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

            <xs:element name="documentosApresentados" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Documentos apresentados</xhtml:label>                    
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="guiaAcolhimentoApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Guia de acolhimento conforme Lei 12.010/2009</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="estudoDiagnosticosERelatoriosApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Estudo diagnósticos e relatórios</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="certidaoNascimentoApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Certidão de nascimento</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="carteiraDeIdentidadeApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Carteira de identidade (RG)</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="carteiraDeVacinacaoApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Carteira de vacinação</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="cpfApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>CPF</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="ctpsApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>CTPS</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="tituloEleitorApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Título de eleitor</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="alistamentoMilitarApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Alistamento militar</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="historicoEscolarApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Histórico escolar/Transferência escolar</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="outrosApresentado" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Outros</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="especifiqueOutrosApresentados" minOccurs="0" >
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Especifique outros</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="255" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="documentacaoASerProvidenciada" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Documentação a ser providenciada</xhtml:label>                    
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="naoHaDocumentacaoAProvidenciar" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Não há documentação a ser providenciada</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="certidaoNascimentoAProvidenciar" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Certidão de nascimento</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="carteiraDeIdentidadeAProvidenciar" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Carteira de identidade (RG)</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="carteiraDeVacinacaoAProvidenciar" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Carteira de vacinação</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="cpfAProvidenciar" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>CPF</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="ctpsAProvidenciar" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>CTPS</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="tituloEleitorAProvidenciar" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Título de eleitor</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="alistamentoMilitarAProvidenciar" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Alistamento militar</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="historicoEscolarAProvidenciar" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Histórico escolar/Transferência escolar</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="outrosAProvidenciar" type="xs:boolean">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Outros</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="especifiqueOutrosAProvidenciar" minOccurs="0" >
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Especifique outros</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="255" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
