acao-sdh/schemas/sdh-fichaAcompanhamento-composicaoFamiliarLGBT.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--
		# Copyright 2010 - Prefeitura Municipal de Fortaleza # # Este arquivo
		é parte do programa xsdform-js # # O xsdform-js é um software livre;
		você pode redistribui-lo e/ou # modifica-lo dentro dos termos da
		Licença Pública Geral GNU como # publicada pela Fundação do Software
		Livre (FSF); na versão 2 da # Licença. # # Este programa é distribuido
		na esperança que possa ser util, mas SEM # NENHUMA GARANTIA; sem uma
		garantia implicita de ADEQUAÇÂO a qualquer # MERCADO ou APLICAÇÃO EM
		PARTICULAR. Veja a Licença Pública Geral GNU # para maiores detalhes.
		# # Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob
		o # título "LICENCA.txt", junto com este programa, se não, escreva
		para a # Fundação do Software Livre(FSF) Inc., 51 Franklin St, Fifth
		Floor,
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="test:ns"
	elementFormDefault="qualified">
    <xs:element name="formCadernoA" type="formCadernoA">
        <xs:annotation>
            <xs:appinfo>
                <xhtml:label>Sample Form</xhtml:label>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="formCadernoA">
        <xs:sequence>
            
            <xs:element name="caracteristicasImovel">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Características do Imóvel</xhtml:label>
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="localizacao" minOccurs="1" maxOccurs="10">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>8 Composição Familiar</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nome">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Nome</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="nis">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>NIS</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="parentesco">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Parentesco</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="beneficio">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Beneficio</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="dataNascimento" type="xs:date" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Data Nascimento</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="escolaridade">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Escolaridade</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="documentacao">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Documentação</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="rg" type="xs:boolean">
                                                    <xs:annotation>
                                                        <xs:appinfo>
                                                            <xhtml:label>RG</xhtml:label>
                                                        </xs:appinfo>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="cpf" type="xs:boolean">
                                                    <xs:annotation>
                                                        <xs:appinfo>
                                                            <xhtml:label>CPF</xhtml:label>
                                                        </xs:appinfo>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="titulo" type="xs:boolean">
                                                    <xs:annotation>
                                                        <xs:appinfo>
                                                            <xhtml:label>Titulo de Eleitor</xhtml:label>
                                                        </xs:appinfo>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="carteira" type="xs:boolean">
                                                    <xs:annotation>
                                                        <xs:appinfo>
                                                            <xhtml:label>Carteira de Trabalho</xhtml:label>
                                                        </xs:appinfo>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="cnh"
										            type="xs:boolean">
                                                    <xs:annotation>
                                                        <xs:appinfo>
                                                            <xhtml:label>CNH</xhtml:label>
                                                        </xs:appinfo>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="ocupacao">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Ocupação</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="renda">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Renda</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="deficiencia">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Deficiência</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="usoAlcool">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Uso de Alcool</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        
                        
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
