acao-sdh/schemas/sdh-fichaAcompanhamento-acessoPoliticasPublicasLGBT.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-lgbt-acessopoliticaspublicas.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-lgbt-acessopoliticaspublicas.xsd"
	elementFormDefault="qualified">

	<xs:element name="formAcessoPoliticasPublicas" type="formAcessoPoliticasPublicas">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>10. ACESSO ÀS POLÍTICAS PÚBLICAS</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Diversidade Sexual,cn=Direitos Humanos</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formAcessoPoliticasPublicas">
		<xs:sequence>

			<xs:element name="numeroInscricao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número atendimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="atendimentoSocial" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>É atendido por algum equipamento da Politica de
							Assistência Social?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Não Informado" />
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Nao" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="especificacoes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se sim, especificar:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="crasSEr" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CRAS.SER</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="creas" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS.</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="crea12" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifica qual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="1" />
									<xs:enumeration value="2" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="creaspop" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS POP</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="espacoAcolhimento" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Espaço de Acolhimento Noturno</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="servicoEspecial" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Serviço Especializado de Abordagem de Rua
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="cadaPassagem" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Casa de Passagem</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="beneficioAssistencia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>É usuário de algum benefico no âmbito da politica
							assitêncial:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bPC" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>BPC</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outros" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarOutros" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar Outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="politicaPublicas" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>É atendido pelas demais políticas públicas?
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Saude" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarSaude" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="educacao" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Educacao</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarEducacao" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="previdenciaSocial" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Previdência Social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarPrevidencia" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="esporteLazerCultura" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Esporte, Laser e Cultura</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarEsproteLazerCultura" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="direitosHumanos" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Direitos Humanos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarDireitosHumanos" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="trabalhoRenda" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Trabalho e Renda</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarTrabalhoRenda" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="seguranca" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Segurança</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarSeguranca" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="assistenciaJuridia" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Assistência Jurídica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarAssistenciaJuridica" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="habitacao" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Habitação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarHabitacao" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outros" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="especificarOutros" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="naoBuscaAcesso" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Não busca acesso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="sinteseSituacao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>SÍTESE DA SITUAÇÃO APRESENTADA</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="especificarSintese" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>
</xs:schema>
