acao-sdh/schemas/sdh-fichaCadastral-dadosfamiliaCCA.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-cca-fichacadastral-dadosfamilia.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-cca-fichacadastral-dadosfamilia.xsd"
	elementFormDefault="qualified">

	<xs:element name="formDadosFamilia" type="formDadosFamilia">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>05. DADOS FAMÍLIA</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Educação e Arte,cn=Direitos Humanos</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formDadosFamilia">

		<xs:sequence>
			<xs:element name="numeroInscricao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número atendimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

                    	<xs:element name="vinculoFamiliar" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Vinculo Familiar</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Com vinculo" />
                                    <xs:enumeration value="Sem vinculo" />
                                    <xs:enumeration value="Vinculo Fragilizado" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="obs" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Observação</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="integrantes" minOccurs="1" maxOccurs="9">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Integrantes</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nome" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Nome</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
						                    <xs:restriction base="xs:string">
						                        <xs:maxLength value="255" />
						                    </xs:restriction>
						                </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="grauParentesco" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Grau de parentesco</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255" />
							                </xs:restriction>
							            </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="sexo" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Sexo</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
						                    <xs:restriction base="xs:string">
						                        <xs:enumeration value="Masculino" />
						                        <xs:enumeration value="Feminino" />
						                    </xs:restriction>
						                </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="idade" type="xs:integer" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Idade</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="estudaSeria" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Estuda/Série</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255" />
							                </xs:restriction>
							            </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="trabalhando" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Trabalhando</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
						                    <xs:restriction base="xs:string">
						                        <xs:enumeration value="Sim" />
						                        <xs:enumeration value="Não" />
						                    </xs:restriction>
						                </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="renda" type="xs:float" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Renda</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="numIntegrantes" type="xs:integer" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Número de integrantes</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="rendaFamiliar" type="xs:float" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Renda familiar</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="beneficioFamilia" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Familía recebe Beneficio?</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Sim" />
                                    <xs:enumeration value="Não" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="qualBeneficio" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Qual benecifio?</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="bolsaFamilia" type="xs:boolean" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Bolsa familia / NIS</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="bolsaFamiliaDesc" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Bolsa familia / NIS</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255" />
							                </xs:restriction>
							            </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="bolsaAprendizagem" type="xs:boolean" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Bolsa Aprendizagem</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="bolsaAprendizagemDesc" minOccurs="0">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Bolsa Aprendizagem</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255" />
							                </xs:restriction>
							            </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="crediAmigo" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Credi Amigo</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="pensao" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Pensão</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="bpc" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>BPC - Beneficio de Prestação Continuada</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="aposentadoria" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Aposentadoria</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="outros" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Outros</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="outrosDesc">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <xhtml:label>Outros</xhtml:label>
                                            </xs:appinfo>
                                        </xs:annotation>
                                        <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255" />
							                </xs:restriction>
							            </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>

</xs:schema>
