acao-sdh/schemas/sdh-identificacaoPessoal.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-identificacaoPessoal.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-identificacaoPessoal.xsd"
	elementFormDefault="qualified">

	<xs:element name="formIdentificacaoPessoal" type="formIdentificacaoPessoal">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>03.IDENTIFICAÇÃO PESSOAL</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formIdentificacaoPessoal">
		<xs:sequence>

			<xs:element name="nomeCompleto" type="xs:string"
				minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nome Completo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="nomeSocial" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nome Social</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="dataNascimento" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data de Nascimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="idade" type="xs:integer" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Idade</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="naturalidade" type="xs:string"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Naturalidade</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="sexo" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Sexo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Masculino" />
						<xs:enumeration value="Feminino" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="aPartirDe14Anos">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>* A Partir De 14 Anos
							___________________________________________________________________________________________
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="orientacaoSexual" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>* Orientação Sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Heterosexual" />
									<xs:enumeration value="Homosexual" />
									<xs:enumeration value="Bisexual" />
									<xs:enumeration value="Transexual" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="epecifiqueOutrosOrientacaoSexual"
							type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>* Especifique outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="filiacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Filiação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="pai" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pai</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="mae" type="xs:string" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Mãe</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="responsavel" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Responsável</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="endereco" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Endereço</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pontoDeReferencia" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ponto de Referencia</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="bairro" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bairro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="Regional" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Regional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="telefones">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Telefones</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="fixoResidencial" type="xs:integer"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Fixo(Residencial)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="publico" type="xs:integer"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Público</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="celular" type="xs:integer"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Celular</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="parentesAmigosConhecidos" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Parentes / Amigos / Conhecidos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="aPartirDe11Anos">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>** A Partir De 11 Anos
							___________________________________________________________________________________________
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="filhos">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>** Filhos(as)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="temFilhos" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>** Tem Filhos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="quantos" type="xs:integer"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>** Quantos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="idade" type="xs:string"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>** Idade</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="comQuemMora" type="xs:string"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>** Com quem mora(m)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="comQueIdadeTevePrimeiroFilho"
										type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>** Com que idade teve o primeiro filho
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="racaEtinia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Raça/Etnia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Branco" />
						<xs:enumeration value="Pardo" />
						<xs:enumeration value="Negro" />
						<xs:enumeration value="Indígena" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="aPartirDe16Anos">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>*** A Partir De 16 Anos
							___________________________________________________________________________________________
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="estadoCivil" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>*** Estado Civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solteiro" />
									<xs:enumeration value="Casado" />
									<xs:enumeration value="Separado" />
									<xs:enumeration value="Viúvo" />
									<xs:enumeration value="União Estável" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="possuiAlgumaDeficiencia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Possui alguma deficiência</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sensorialSurdo" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sensorial Surdo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="sensorialCego" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sensorial Cego</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="deficienciaFisicoMotor" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Deficiência Físico/Motor</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="mobilidadeReduzida" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Mobilidade Reduzida</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="deficienciaIntelectual" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Deficiência Intelectual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>