acao-sdh/schemas/sdh-servicoSocial.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-servicoSocial.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-servicoSocial.xsd"
	elementFormDefault="qualified">

	<xs:element name="formServicoSocial" type="formServicoSocial">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>SERVIÇO SOCIAL</xhtml:label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formServicoSocial">
		<xs:sequence>

			<xs:element name="relacionamentoFamiliar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Relacionamento familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="hitoricoFamiliar" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Histórico familiar(verificar existência de
										conflitos,
										configurações de relações afetivas,
										responsãveis pelo
										adolescente ao longo de sua vida)
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="relacionamentoDosPais" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Relacionamento dos pais
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Casados" />
									<xs:enumeration value="Separados" />
									<xs:enumeration value="Nunca viveram juntos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="responsaveisAtualmentePeloAdolescente"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Responsáveis atualmente pelo adolescente
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Pais" />
									<xs:enumeration value="Pai" />
									<xs:enumeration value="Mãe" />
									<xs:enumeration value="Avós paternos" />
									<xs:enumeration value="Avós maternos" />
									<xs:enumeration value="Avô paterno" />
									<xs:enumeration value="Avô materno" />
									<xs:enumeration value="Avó paterna" />
									<xs:enumeration value="Avó materna" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="beneficios">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Benefícios</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="beneficioRecebidoPelaFamilia"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se a família ou algum membro da família é
										favorecido por
										algum benefício, quais 
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="esferaDoBeneficioRecebidoPelaFamilia"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Esfera do benefício 
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="municipal" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Municipal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="estadual" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Estadual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="federal" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label> Federal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="situacaoAtualDoBeneficioRecebidoPelaFamilia"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Situação atual do benefício
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Ativo" />
									<xs:enumeration value="Bloqueado" />
									<xs:enumeration value="Suspenso" />
									<xs:enumeration value="Cancelado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="relacionamentoComunitario">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Relacionamento Comunitário</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="historicoConvivenciaComunitaria"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Histórico de convivência comunitária(analisar
										período de
										residẽncia no endereço, informando,
										composição de circulo de
										amizades, apresentação de
										relações afetivas - namoro, noivado,
										casamento)
																		</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="violencia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Violência</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="territorialidade">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Territorialidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="noSeuBairroHaConflitosGruposRivais"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>No seu bairro ha conflitos de grupos rivais
																					</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="qualRivalidadeHaNoSeuBairro"
										minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual rivalidade há no seu bairro	</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="participacaoEmGruposRivais"
										minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participação em grupos rivais
																					</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Participa" />
												<xs:enumeration value="Participou" />
												<xs:enumeration value="Nunca participou" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="rotinaDiaria">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Diária</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="comoESeuDia">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Como é seu dia</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="comoESuaManha" minOccurs="0"
										type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Manha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="comoESuaTarde" minOccurs="0"
										type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tarde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="comoESuaNoite" minOccurs="0"
										type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Noite</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="praticaAtividadesSocioCulturaisEsportivas">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quais atividades sócio-culturais e esportivas
										você
										pratica(público ou privado)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="esportes" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Esportes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="lazer" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Lazer</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="cultura" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cultura</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="expectativas">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Expectativas</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="quaisSuasExpectativas" minOccurs="0"
							type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quais suas expectativas em relação a medida
										sócio-educativa </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="impressaoDoAtendimento" minOccurs="0"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Impressões do atendimento
																		</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="tecnicoResponsavel" minOccurs="0"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Técnico responsável
																		</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="dataDocumento" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data
																		</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>


		</xs:sequence>
	</xs:complexType>

</xs:schema>
