acao-sdh/schemas/viladomar-cadernoa.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:xhtml="http://www.w3.org/1999/xhtml"
 xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
 xmlns="http://schemas.fortaleza.ce.gov.br/habitafor/viladomar-cadernoa.xsd" 
 targetNamespace="http://schemas.fortaleza.ce.gov.br/habitafor/viladomar-cadernoa.xsd" 
 elementFormDefault="qualified">

 <xs:element name="formCadernoA" type="formCadernoA">
  <xs:annotation>
   <xs:appinfo>
    <xhtml:label>Recadastramento Vila do Mar - Caderno A</xhtml:label>
    <class:classificacoes>
     <class:classificacao>cn=Habitação</class:classificacao>
    </class:classificacoes>
   </xs:appinfo>
  </xs:annotation>
 </xs:element>

  <xs:complexType name="formCadernoA">
   <xs:sequence>

    <xs:element name="identificacao">
     <xs:annotation>
      <xs:appinfo>
       <xhtml:label>Identificação</xhtml:label>
      </xs:appinfo>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>

       <xs:element name="codigoPMF" type="xs:integer" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>1 - Código PMF</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="codigoPMFNaoTem" type="xs:boolean">

        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>Não tem</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="data" type="xs:date" minOccurs="0">
        <xs:annotation>

         <xs:appinfo>
          <xhtml:label>2 - Data</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="orgaoCadastrador" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>

          <xhtml:label>3 - Órgão Cadastrador</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="entrevistador" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>4 - Entrevistador</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="titularBeneficiario" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>5 - Titular Beneficiário</xhtml:label>
         </xs:appinfo>

        </xs:annotation>
       </xs:element>
       <xs:element name="tipoDemanda" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>6 - Tipo de Demanda</xhtml:label>
         </xs:appinfo>
        </xs:annotation>

        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Espontânea"/>
          <xs:enumeration value="Não Espontânea"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="cartao" minOccurs="0">
        <xs:annotation>

         <xs:appinfo>
          <xhtml:label>7 - Cartão</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Entregue"/>
          <xs:enumeration value="Não entregue"/>

         </xs:restriction>
        </xs:simpleType>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
    <xs:element name="enderecoImovel">
     <xs:annotation>
      <xs:appinfo>

       <xhtml:label>Endereço do Imóvel</xhtml:label>
      </xs:appinfo>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>
       <xs:element name="logradouro" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>

          <xhtml:label>8 - Logradouro</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="numero" type="xs:integer" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>9 - Número</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="complemento" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>10 - Complemento</xhtml:label>
         </xs:appinfo>

        </xs:annotation>
       </xs:element>
       <xs:element name="setor" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>11 - Setor</xhtml:label>
         </xs:appinfo>
        </xs:annotation>

       </xs:element>
       <xs:element name="localizacaoCartografica" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>12 - localização Cartográfica</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>

       <xs:element name="bairro" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>13 - Bairro/Comunidade</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="telefone" type="xs:string" minOccurs="0">

        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>14 - Telefone</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="informante" minOccurs="0">
        <xs:annotation>

         <xs:appinfo>
          <xhtml:label>15 - Situação do Imóvel (Morador)</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Presente"/>
          <xs:enumeration value="Ausente"/>

          <xs:enumeration value="Recusou-se"/>
          <xs:enumeration value="Terreno"/>
          <xs:enumeration value="Casa desocupada"/>
          <xs:enumeration value="Casa fechada"/>
          <xs:enumeration value="Casa em Construção"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="observacoes" type="xs:string" minOccurs="0">

        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>16 - Observações</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="visita1" type="xs:dateTime" minOccurs="0">
        <xs:annotation>

         <xs:appinfo>
          <xhtml:label>17 - 1ª Visita</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="visita2" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>

          <xhtml:label>18 - 2ª Visita</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="visita3" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>19 - 3ª Visita</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="notificacao" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>20 - Notificação</xhtml:label>
         </xs:appinfo>

        </xs:annotation>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
    <xs:element name="caracteristicasImovel">
     <xs:annotation>
      <xs:appinfo>
       <xhtml:label>Características do Imóvel</xhtml:label>

      </xs:appinfo>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>
       <xs:element name="localizacao" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>21 - Localização</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="quadraloteada" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Quadra Loteada</xhtml:label>

            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="leitoDeRua" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Leito de Rua</xhtml:label>
            </xs:appinfo>

           </xs:annotation>
          </xs:element>
          <xs:element name="praca" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Praça</xhtml:label>
            </xs:appinfo>
           </xs:annotation>

          </xs:element>
          <xs:element name="areaVerde" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Área Verde</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>

          <xs:element name="terroParaEquipamentoComunitario" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Terro p/ Equipamento Comunitário</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="outro" type="xs:boolean">

           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Outro</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="localizacaoOutro" type="xs:string" minOccurs="0">
           <xs:annotation>

            <xs:appinfo>
             <xhtml:label>Especifique</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>

       <xs:element name="areaPreservacao" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>22 - Area de Preservação</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">

          <xs:enumeration value="Sim"/>
          <xs:enumeration value="Não"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="tipologiaUso" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>23 - Tipologia de Uso</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Residencial"/>
          <xs:enumeration value="Comercial"/>
          <xs:enumeration value="Equipamento Social"/>
          <xs:enumeration value="Mista"/>
         </xs:restriction>

        </xs:simpleType>
       </xs:element>
       <xs:element name="tipoServico" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>24 - Tipo de Serviço</xhtml:label>
         </xs:appinfo>
        </xs:annotation>

       </xs:element>
       <xs:element name="situacaoFundiaria" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>25 - Situação Fundiária</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>

         <xs:restriction base="xs:string">
          <xs:enumeration value="Público"/>
          <xs:enumeration value="Privado"/>
          <xs:enumeration value="Não sabe"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="compartimentosMoradia">
        <xs:annotation>

         <xs:appinfo>
          <xhtml:label>26 - Compartimentos da Moradia</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="qtdQuartos" type="xs:integer" minOccurs="0">
           <xs:annotation>

            <xs:appinfo>
             <xhtml:label>Quarto(s)</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="qtdSalas" type="xs:integer" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>

             <xhtml:label>Sala(s)</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="qtdCozinhas" type="xs:integer" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Cozinha(s)</xhtml:label>

            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="qtdBanheiros" type="xs:integer" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Banheiro(s)</xhtml:label>
            </xs:appinfo>

           </xs:annotation>
          </xs:element>
          <xs:element name="qtdQuintais" type="xs:integer" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Qtde Quintais</xhtml:label>
            </xs:appinfo>
           </xs:annotation>

          </xs:element>
          <xs:element name="qtdUotros" type="xs:integer" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Outro(s)</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>

          <xs:element name="localizacaoOutro" type="xs:string" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Especifique</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>

        </xs:complexType>
       </xs:element>
       <xs:element name="tipoMoradia" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>27 - Tipo de Moradia</xhtml:label>
         </xs:appinfo>
        </xs:annotation>

        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Própria"/>
          <xs:enumeration value="Cedida"/>
          <xs:enumeration value="Ocupada"/>
          <xs:enumeration value="Trocada"/>
          <xs:enumeration value="Alugada"/>
          <xs:enumeration value="Herança"/>
         </xs:restriction>

        </xs:simpleType>
       </xs:element>
       <xs:element name="TempoMoradia" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>28 - Tempo de moradia</xhtml:label>
         </xs:appinfo>
        </xs:annotation>

        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Menos de 1 ano"/>
          <xs:enumeration value="De 1 a 5 anos"/>
          <xs:enumeration value="De 6 a 15 anos"/>
          <xs:enumeration value="De 16 a 25 anos"/>
          <xs:enumeration value="Mais de 26 anos"/>
          <xs:enumeration value="Não sabe"/>
         </xs:restriction>

        </xs:simpleType>
       </xs:element>
       <xs:element name="numMatricula" type="xs:integer" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>29 - Num. Matrícula</xhtml:label>
         </xs:appinfo>
        </xs:annotation>

       </xs:element>
       <xs:element name="cartorio" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>30 - Cartório</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>

       <xs:element name="zona" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>31 - Zona</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="nomeProprietario" type="xs:string" minOccurs="0">

        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>32 - Nome do Proprietário</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="valor" type="xs:float" minOccurs="0">
        <xs:annotation>

         <xs:appinfo>
          <xhtml:label>33 - Valor</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="enderecoProprietario" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>

          <xhtml:label>34 - Endereço do Proprietário</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="telefoneProprietario" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>35 - Telefone do Proprietário</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="tipologiaConstrucao" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>36 - Tipologia de Construção</xhtml:label>
         </xs:appinfo>

        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Alvenaria"/>
          <xs:enumeration value="Taipa"/>
          <xs:enumeration value="Madeira"/>
          <xs:enumeration value="Pré-moldado"/>
          <xs:enumeration value="Papelão"/>
          <xs:enumeration value="Plástico"/>

          <xs:enumeration value="Lona"/>
          <xs:enumeration value="Mista"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="tipoCobertura" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>37 - Tipo de Cobertura</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Telha"/>
          <xs:enumeration value="Palha"/>
          <xs:enumeration value="Plástico/Madeira"/>
          <xs:enumeration value="Forrada"/>
         </xs:restriction>

        </xs:simpleType>
       </xs:element>
       <xs:element name="tipoPiso" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>38 - Tipo de Piso</xhtml:label>
         </xs:appinfo>
        </xs:annotation>

        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Barro Batido"/>
          <xs:enumeration value="Cimentado"/>
          <xs:enumeration value="Tábua"/>
          <xs:enumeration value="Cerâmica"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>

       <xs:element name="revestimentoParede" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>39 - Revestimento de Parede</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">

          <xs:enumeration value="Com Reboco"/>
          <xs:enumeration value="Sem Reboco"/>
          <xs:enumeration value="Pintura"/>
          <xs:enumeration value="Plástico"/>
          <xs:enumeration value="Papelão"/>
          <xs:enumeration value="Madeira"/>
          <xs:enumeration value="Taipa"/>
         </xs:restriction>
        </xs:simpleType>

       </xs:element>
       <xs:element name="casaEmSituacaRisco" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>40 - Casa em Situação de Risco</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>

         <xs:restriction base="xs:string">
          <xs:enumeration value="Sim"/>
          <xs:enumeration value="Nao"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="tipoRisco" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>

          <xhtml:label>41 - Tipo de Risco</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="alagamento" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>

             <xhtml:label>Alagamento</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="inundacao" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Inundação</xhtml:label>

            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="deslizamento" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Deslizamento</xhtml:label>
            </xs:appinfo>

           </xs:annotation>
          </xs:element>
          <xs:element name="viaFerrea" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Via Férrea</xhtml:label>
            </xs:appinfo>
           </xs:annotation>

          </xs:element>
          <xs:element name="linhaAltaTensao" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Linha de Alta Tensão</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>

          <xs:element name="outro" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Outro</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="tipoRiscoOutro" type="xs:string" minOccurs="0">

           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Especifique</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>

       </xs:element>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
    <xs:element name="necessitaReparos" minOccurs="0">
     <xs:annotation>
      <xs:appinfo>
       <xhtml:label>42 - a sua opinião o seu imóvel necessita de quais reparos
		estruturais?</xhtml:label>

      </xs:appinfo>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>
       <xs:element name="instalacoesHidrosanitarias" type="xs:boolean">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>Instalações Hidrosanitárias</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
       </xs:element>
       <xs:element name="pintura" type="xs:boolean">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>Pintura</xhtml:label>
         </xs:appinfo>

        </xs:annotation>
       </xs:element>
       <xs:element name="cobertaTelhado" type="xs:boolean">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>Coberta/Telhado</xhtml:label>
         </xs:appinfo>
        </xs:annotation>

       </xs:element>
       <xs:element name="outro" type="xs:boolean">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>Outro</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>

       <xs:element name="tipoReparoOutro" type="xs:string" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>Especifique</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
       </xs:element>
      </xs:sequence>

     </xs:complexType>
    </xs:element>
    <xs:element name="infraestrutura">
     <xs:annotation>
      <xs:appinfo>
       <xhtml:label>Infraestrutura</xhtml:label>
      </xs:appinfo>
     </xs:annotation>

     <xs:complexType>
      <xs:sequence>
       <xs:element name="redeDeAgua" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>43 - Rede de Água</xhtml:label>
         </xs:appinfo>
        </xs:annotation>

        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Sim"/>
          <xs:enumeration value="Não"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="abastecimentoAguaPublicoPrivado" minOccurs="0">
        <xs:annotation>

         <xs:appinfo>
          <xhtml:label>44 - Abastecimento de Água</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Público"/>
          <xs:enumeration value="Privado"/>

         </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="abastecimentoAgua">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>Abastecimento</xhtml:label>
         </xs:appinfo>

        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="tipoAbastecimentoAgua" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>45 - Tipo de Abastecimento de Água</xhtml:label>
            </xs:appinfo>

           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:enumeration value="Hidrômetro Individual"/>
             <xs:enumeration value="Hidrômetro Coletivo"/>
             <xs:enumeration value="Ligação Cladestina"/>
             <xs:enumeration value="Poço"/>
             <xs:enumeration value="Chafariz"/>
             <xs:enumeration value="Outro"/>

            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="tipoAbastecimentoAguaOutro" type="xs:string" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Especifique</xhtml:label>
            </xs:appinfo>

           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="redeColetaEsgoto" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>46 - Rede de Coleta de Esgoto</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Sim"/>
          <xs:enumeration value="Não"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>

       <xs:element name="esgotamentoSanitario" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>47 - Esgotamento Sanitário</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">

          <xs:enumeration value="Rede Oficial"/>
          <xs:enumeration value="Rede Não Oficial"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="esgotamentoSanitario2">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>48 - Tipo de Esgotamento Sanitário</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="tipo" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Tipo</xhtml:label>

            </xs:appinfo>
           </xs:annotation>
           <xs:simpleType>
            <xs:restriction base="xs:string">
             <xs:enumeration value="CAGECE (Sanear)"/>
             <xs:enumeration value="Fossa/Sumidouro"/>
             <xs:enumeration value="Vala Em Via Pública"/>
             <xs:enumeration value="Rede de Drenagem/Recursos Hídricos"/>
             <xs:enumeration value="Outro"/>

            </xs:restriction>
           </xs:simpleType>
          </xs:element>
          <xs:element name="tipoAbastecimentoAgua2Outro" type="xs:string" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Especifique</xhtml:label>
            </xs:appinfo>

           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="tipoLigacaoRedeEletrica" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>49 - Tipo de Ligação com a Rede de Energia Elétrica</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Inexistente"/>
          <xs:enumeration value="Oficial"/>
          <xs:enumeration value="Clandestina"/>
          <xs:enumeration value="Cortada"/>
         </xs:restriction>

        </xs:simpleType>
       </xs:element>
       <xs:element name="tipoPavimentacao" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>50 - Tipo de Pavimentação</xhtml:label>
         </xs:appinfo>
        </xs:annotation>

        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Asfalto"/>
          <xs:enumeration value="Pedra Tosca"/>
          <xs:enumeration value="Piçarra"/>
          <xs:enumeration value="Paralelepípedo"/>
          <xs:enumeration value="Sem Pavimentação"/>
         </xs:restriction>
        </xs:simpleType>

       </xs:element>
       <xs:element name="tipoDrenagem" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>51 - Tipo de Drenagem</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:complexType>

         <xs:sequence>
          <xs:element name="galeriaSubterranea" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Galeria Subterrânea</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>

          <xs:element name="sarjeta" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Sarjeta</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="cursoDaguaCanalizado" type="xs:boolean">

           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Curso D'água Canalizado</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="cursoDaguaNaoCanalizado" type="xs:boolean">
           <xs:annotation>

            <xs:appinfo>
             <xhtml:label>Curso D'água Não Canalizado</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="outro" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>

             <xhtml:label>Outro</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="tipoDrenagemOutro" type="xs:string" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Especifique</xhtml:label>

            </xs:appinfo>
           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="tipoServicoTelefonicoPredominante" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>

          <xhtml:label>52 - Tipo de Serviço Telefônico Utilizado
		      Predominantemente</xhtml:label>
         </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
         <xs:restriction base="xs:string">
          <xs:enumeration value="Fixo"/>
          <xs:enumeration value="Celular"/>
          <xs:enumeration value="Público"/>

          <xs:enumeration value="Comunitário"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="destinoLixo" minOccurs="0">
        <xs:annotation>
         <xs:appinfo>
          <xhtml:label>53 - Destino do Lixo</xhtml:label>

         </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
         <xs:sequence>
          <xs:element name="sistemaColeta" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Sistema de Coleta</xhtml:label>

            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="conteiner" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Contêiner</xhtml:label>
            </xs:appinfo>

           </xs:annotation>
          </xs:element>
          <xs:element name="terrenoBaldio" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Terreno Baldio</xhtml:label>
            </xs:appinfo>
           </xs:annotation>

          </xs:element>
          <xs:element name="cursoDagua" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Curso d'água</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>

          <xs:element name="passeio" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Passeio</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="logradouro" type="xs:boolean">

           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Logradouro</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="enterrado" type="xs:boolean">
           <xs:annotation>

            <xs:appinfo>
             <xhtml:label>Enterrado</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="queimado" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>

             <xhtml:label>Queimado</xhtml:label>
            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="outro" type="xs:boolean">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Outro</xhtml:label>

            </xs:appinfo>
           </xs:annotation>
          </xs:element>
          <xs:element name="tipoDrenagemOutro" type="xs:string" minOccurs="0">
           <xs:annotation>
            <xs:appinfo>
             <xhtml:label>Especifique</xhtml:label>
            </xs:appinfo>

           </xs:annotation>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
    <xs:element name="outrasObservacoes" type="xs:string" minOccurs="0">

     <xs:annotation>
      <xs:appinfo>
       <xhtml:label>Outras Observacoes</xhtml:label>
      </xs:appinfo>
     </xs:annotation>
    </xs:element>
   </xs:sequence>
  </xs:complexType>

</xs:schema>
