acao-viladomar/schemas/viladomar-cadernob.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema 
 xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 xmlns="http://schemas.fortaleza.ce.gov.br/habitafor/viladomar-cadernob.xsd" 
 targetNamespace="http://schemas.fortaleza.ce.gov.br/habitafor/viladomar-cadernob.xsd"
 elementFormDefault="qualified">

 <xs:element name="formCadernoB" type="formCadernoB">
  <xs:annotation>
   <xs:appinfo>
    <label>Recadastramento Vila do Mar - Caderno B</label>
   </xs:appinfo>
  </xs:annotation>
 </xs:element>

 <xs:complexType name="formCadernoB">
  <xs:sequence>

   <xs:element name="composicaoFamiliar">
    <xs:annotation>
     <xs:appinfo>
      <label>Composição Familiar</label>
     </xs:appinfo>
    </xs:annotation>
    <xs:complexType>

     <xs:sequence>
      <xs:element name="formularioPrincipal" type="xs:integer" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>1 - Formulário Principal</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>

      <xs:element name="nome" type="xs:string" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>2 - Nome</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="sexo" minOccurs="0">

       <xs:annotation>
        <xs:appinfo>
         <label>3 - Sexo</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Masculino"/>

         <xs:enumeration value="Feminino"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="apelido" type="xs:string" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>4 - Apelido</label>

        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="informante" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>5 - Vínculo com o chefe de família</label>
        </xs:appinfo>

       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Chefe"/>
         <xs:enumeration value="Companheiro(a)"/>
         <xs:enumeration value="Enteado(a)"/>
         <xs:enumeration value="Genro/Nora"/>
         <xs:enumeration value="Neto(a)"/>
         <xs:enumeration value="Filho(a)"/>

         <xs:enumeration value="Pai/Mãe"/>
         <xs:enumeration value="Sogro(a)"/>
         <xs:enumeration value="Irmão/Irmã"/>
         <xs:enumeration value="Outros Familiares"/>
         <xs:enumeration value="Outros não Familiares"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="documentos" minOccurs="0">

       <xs:annotation>
        <xs:appinfo>
         <label>6 - Tipos de Documentos que Possui</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:complexType>
        <xs:sequence>
         <xs:element name="rg" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Rg/Orgão Expedidor</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="cpf" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>CPF</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="tituloDeEleitor" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>

            <label>Título de Eleitor</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="nis" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>NIS</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="naotem" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Não tem documento</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
      <xs:element name="rg" type="xs:integer" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>7 - Número do RG</label>

        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="expedidor" type="xs:string" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>8 - Órgão Expedidor</label>
        </xs:appinfo>

       </xs:annotation>
      </xs:element>
      <xs:element name="cpf" type="xs:integer" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>9 - CPF</label>
        </xs:appinfo>
       </xs:annotation>

      </xs:element>
      <xs:element name="nis" type="xs:integer" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>10 - NIS</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>

      <xs:element name="data" type="xs:date" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>11 - Data Nascimento</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="idade" type="xs:integer" minOccurs="0">

       <xs:annotation>
        <xs:appinfo>
         <label>12 - Idade</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="situacaoConjugal" minOccurs="0">
       <xs:annotation>

        <xs:appinfo>
         <label>15 - Situação Conjugal</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Solteiro(a)"/>
         <xs:enumeration value="Casado(a)"/>

         <xs:enumeration value="Viúvo(a)"/>
         <xs:enumeration value="Separado(a)"/>
         <xs:enumeration value="Divorciado(a)"/>
         <xs:enumeration value="União Estável(Juntos)"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>

   </xs:element>
   <xs:element name="educacao">
    <xs:annotation>
     <xs:appinfo>
      <label>Educação</label>
     </xs:appinfo>
    </xs:annotation>
    <xs:complexType>

     <xs:sequence>
      <xs:element name="grauEscolaridade" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>16 - Grau de escolaridade</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>

        <xs:restriction base="xs:string">
         <xs:enumeration value="Pré-escolar"/>
         <xs:enumeration value="Ensino Fundamental Incompleto"/>
         <xs:enumeration value="Ensino Fundamental Completo"/>
         <xs:enumeration value="Ensino Médio Incompleto"/>
         <xs:enumeration value="Ensino Médio Completo"/>
         <xs:enumeration value="Pré-vestibular"/>
         <xs:enumeration value="Curso Técnico"/>
         <xs:enumeration value="Superior Incompleto"/>

         <xs:enumeration value="Superior Completo"/>
         <xs:enumeration value="Analfabeto"/>
         <xs:enumeration value="Alfabetizado"/>
         <xs:enumeration value="Sem Idade Escolar"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="cursandoAtualmente" minOccurs="0">
       <xs:annotation>

        <xs:appinfo>
         <label>17 - Cursando Atualmente?</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Sim"/>
         <xs:enumeration value="Nao"/>

        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="tipoDeEscola" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>18 - Tipo de Escola</label>
        </xs:appinfo>

       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Pública"/>
         <xs:enumeration value="Privada"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="desejaEstudar" minOccurs="0">

       <xs:annotation>
        <xs:appinfo>
         <label>19 - Deseja estudar ou voltar a estudar?</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Sim"/>

         <xs:enumeration value="Nao"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="nomeDaEscola" type="xs:string" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>20 - Nome da Escola que frequenta</label>

        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="motivoDeParaDeEstudar" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>21 - Deixou de estudar por qual motivo?</label>
        </xs:appinfo>

       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Trabalho"/>
         <xs:enumeration value="Transporte"/>
         <xs:enumeration value="Doença"/>
         <xs:enumeration value="Gravidez"/>
         <xs:enumeration value="Viagem"/>
         <xs:enumeration value="Faltas"/>

         <xs:enumeration value="Suspensão"/>
         <xs:enumeration value="Não desejava continuar"/>
         <xs:enumeration value="Outros"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="motivoDepararDeEstudarOutro" type="xs:string" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>

         <label>Especifique</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="opcoesDeLazer" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>22 - Opções de Lazer</label>

        </xs:appinfo>
       </xs:annotation>
       <xs:complexType>
        <xs:sequence>
         <xs:element name="futebolOutrosEsportes" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Futebol/Outros Esportes</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="sairComVizinhos" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Sair com amigos/Vizinhos</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
         <xs:element name="assistirTV" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Assistir TV</label>
           </xs:appinfo>
          </xs:annotation>

         </xs:element>
         <xs:element name="escultarMusica" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Escutar Música</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>

         <xs:element name="festas" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Festas</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="participarDeAlumaOrganizacao" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Participar de alguma organização</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="frequentarBares" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>Frequentar Bares</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="vaiaPracas" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>

            <label>Vai a Praças</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="igrejasOuAssociacoesReligiosas" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Igejas ou Associações Religiosas</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="opcoesDeLazerOutras" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Outras</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
         <xs:element name="outras" type="xs:string" minOccurs="0">
          <xs:annotation>
           <xs:appinfo>
            <label>Outras</label>
           </xs:appinfo>
          </xs:annotation>

         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="saudeMulher">
    <xs:annotation>

     <xs:appinfo>
      <label>Saúde da Mulher</label>
     </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="qtdGravidou" minOccurs="0">
       <xs:annotation>

        <xs:appinfo>
         <label>23 - Quantas vezes engravidou?</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="nenhuma"/>
         <xs:enumeration value="01 vez"/>

         <xs:enumeration value="02 vezes"/>
         <xs:enumeration value="03 vezes"/>
         <xs:enumeration value="04 vezes"/>
         <xs:enumeration value="Mais de 04 vezes"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="fezPrenatal" minOccurs="0">
       <xs:annotation>

        <xs:appinfo>
         <label>24 - Fez-pré-natal</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Sempre"/>
         <xs:enumeration value="Nunca"/>

         <xs:enumeration value="Às vezes"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="fezPrevencao" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>25 - Fez prevenção?</label>

        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Sim"/>
         <xs:enumeration value="Não"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>

      <xs:element name="tratamentoContraceptivo" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>26 - Faz algum tratamento contraceptivo</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:complexType>
        <xs:sequence>

         <xs:element name="camisinha" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Camisinha</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="diu" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Diu</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="tabela" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>Tabela</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="pilula" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>

            <label>Pílula</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="remedioCaseiro" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Remédio Caseiro</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="nao" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Não</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
         <xs:element name="laqueadura" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Laqueadura</label>
           </xs:appinfo>
          </xs:annotation>

         </xs:element>
         <xs:element name="tratramentoContraceptivoOutros" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Outros</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>

        </xs:sequence>
       </xs:complexType>
      </xs:element>
      <xs:element name="obitoInfantilUltimoAno" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>27 - Óbito infantil no último ano</label>
        </xs:appinfo>

       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Não"/>
         <xs:enumeration value="01 Óbito"/>
         <xs:enumeration value="02 Óbitos"/>
         <xs:enumeration value="Mais de 02 Óbitos"/>
        </xs:restriction>
       </xs:simpleType>

      </xs:element>
      <xs:element name="causasObitos" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>28 - Causas dos  Óbitos</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>

        <xs:restriction base="xs:string">
         <xs:enumeration value="Infecção Respeiratória"/>
         <xs:enumeration value="Natimorto"/>
         <xs:enumeration value="Diarréia"/>
         <xs:enumeration value="Desnutrição"/>
         <xs:enumeration value="Outra"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>

      <xs:element name="causaObitosOutras" type="xs:string" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>Especifique</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
     </xs:sequence>

    </xs:complexType>
   </xs:element>
   <xs:element name="saude">
    <xs:annotation>
     <xs:appinfo>
      <label>Saúde</label>
     </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
     <xs:sequence>
      <xs:element name="historicoDoencas" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>29 - Histórico de  Doenças</label>
        </xs:appinfo>
       </xs:annotation>

       <xs:complexType>
        <xs:sequence>
         <xs:element name="doencasRespiratoria" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Doenças Respiratórias</label>
           </xs:appinfo>
          </xs:annotation>

         </xs:element>
         <xs:element name="dengue" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Dengue</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>

         <xs:element name="doencaPele" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Doenças de Pele</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="virose" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Virose</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="verminose" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>Verminose</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="diarreia" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>

            <label>Diarréia</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="drogas" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>U.S.P(drogas)</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="alcoolismo" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Alcoolismo</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
         <xs:element name="naosei" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Não sei</label>
           </xs:appinfo>
          </xs:annotation>

         </xs:element>
         <xs:element name="outro" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Outras</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>

         <xs:element name="doencasnaotem" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Não tem</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="outroespecifique" type="xs:string" minOccurs="0">

          <xs:annotation>
           <xs:appinfo>
            <label>Especifique</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
        </xs:sequence>
       </xs:complexType>

      </xs:element>
      <xs:element name="situacaoRisco" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>30 - Situação de Risco/Fragilidade</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:complexType>

        <xs:sequence>
         <xs:element name="pcl" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>P.C.L</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>

         <xs:element name="doencasChagas" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Doenças de Chagas</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="hanseniase" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Hanseníase</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="malaria" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>Malária</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="maustratosviolencia" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>

            <label>Maus Tratos (violência)</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="epilepsia" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Epilepsia</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="dst" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>D.S.T</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
         <xs:element name="transtornopisicologico" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Transtorno Pisicológico</label>
           </xs:appinfo>
          </xs:annotation>

         </xs:element>
         <xs:element name="tuberculose" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Tuberculose</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>

         <xs:element name="diabetes" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Diabetes</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="tabagismo" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Tabagismo</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="hivAids" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>HIV/AIDS</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="hipertencao" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>

            <label>Hipertenssão</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="fragilidadesnaotem" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Não tem</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="outro" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Outras</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
         <xs:element name="situacaoRiscoOutro" type="xs:string" minOccurs="0">
          <xs:annotation>
           <xs:appinfo>
            <label>Especifique</label>
           </xs:appinfo>
          </xs:annotation>

         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
      <xs:element name="deficienciaFisica" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>31 - Deficiência Física</label>

        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Sim"/>
         <xs:enumeration value="Não"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>

      <xs:element name="deficienciaFisicaOutras" type="xs:string" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>Qual</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="deficienciaMental" minOccurs="0">

       <xs:annotation>
        <xs:appinfo>
         <label>32 - Deficiência Mental</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Sim"/>

         <xs:enumeration value="Não"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="deficienciaMentalOutras" type="xs:string" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>Qual</label>

        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="deficienciaVisual" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>33 - Deficiência Visual</label>
        </xs:appinfo>

       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Sim"/>
         <xs:enumeration value="Não"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="deficienciaVisualOutras" type="xs:string" minOccurs="0">

       <xs:annotation>
        <xs:appinfo>
         <label>Qual</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="deficienciaAuditiva" minOccurs="0">
       <xs:annotation>

        <xs:appinfo>
         <label>34 - Deficiência auditiva</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Sim"/>
         <xs:enumeration value="Não"/>

        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="deficienciaAuditivoOutras" type="xs:string" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>Qual</label>
        </xs:appinfo>

       </xs:annotation>
      </xs:element>
      <xs:element name="emtratamento" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>35 - Em Tratamento?</label>
        </xs:appinfo>
       </xs:annotation>

       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Sim"/>
         <xs:enumeration value="Não"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="postoSaudeTratamento" type="xs:string" minOccurs="0">
       <xs:annotation>

        <xs:appinfo>
         <label>36 - Que posto de saúde frequenta?</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="unidadeMedicaProcurada" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>

         <label>37 - Em caso de doença procura...</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Hospital"/>
         <xs:enumeration value="Unidade de saúde"/>
         <xs:enumeration value="Benzedeira"/>

         <xs:enumeration value="Farmácia"/>
         <xs:enumeration value="Não Procuro"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="trabalho">

    <xs:annotation>
     <xs:appinfo>
      <label>Trabalho</label>
     </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="horasTrabalhada" type="xs:string" minOccurs="0">

       <xs:annotation>
        <xs:appinfo>
         <label>38 - Quantas horas em média trabalha por dia?</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="diasTrabalhado" type="xs:string" minOccurs="0">
       <xs:annotation>

        <xs:appinfo>
         <label>39 - Quantos dias trabalha por semana?</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="statusAtual" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>

         <label>40 - Status Atual</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="Empregado c/ Carteira Assinada"/>
         <xs:enumeration value="Empregado sem carteira"/>
         <xs:enumeration value="Aposentado(a)"/>

         <xs:enumeration value="Pensionista"/>
         <xs:enumeration value="Autônomo"/>
         <xs:enumeration value="Cooperado(a)"/>
         <xs:enumeration value="Eventual"/>
         <xs:enumeration value="Desempregado(a)"/>
         <xs:enumeration value="Dona-de-casa"/>
         <xs:enumeration value="Nunca Trabalhou"/>
         <xs:enumeration value="Sem Idade para trabalhar"/>
         <xs:enumeration value="Servidor Público"/>

        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="meioTransporteTrabalho" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>39 - Qual o meio de transporte utilizado para ir ao trabalho?</label>
        </xs:appinfo>

       </xs:annotation>
       <xs:complexType>
        <xs:sequence>
         <xs:element name="onibus" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Ônibus</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
         <xs:element name="trem" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Trem</label>
           </xs:appinfo>
          </xs:annotation>

         </xs:element>
         <xs:element name="ape" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>A pé</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>

         <xs:element name="bicicleta" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Bicicleta</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="carro" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Carro/Moto</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="naoSeAplica" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>Não se Aplica</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>

      <xs:element name="profissaoAtividade" type="xs:string" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>42 - Profissão/Atividade</label>
        </xs:appinfo>
       </xs:annotation>
      </xs:element>
      <xs:element name="tempoprocurandotrabalho" minOccurs="0">

       <xs:annotation>
        <xs:appinfo>
         <label>43 - Há quanto tempo procura trabalho?</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:enumeration value="30 dias"/>

         <xs:enumeration value="Até 2 meses"/>
         <xs:enumeration value="De 3 a 6 meses"/>
         <xs:enumeration value="De 7 meses a um ano"/>
         <xs:enumeration value="Mais de 1 anos"/>
         <xs:enumeration value="Não procura"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element name="porqueNaoEcontraTrabalho" minOccurs="0">

       <xs:annotation>
        <xs:appinfo>
         <label>44 - Você acredita que não encontra trabalho porque ...</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:complexType>
        <xs:sequence>
         <xs:element name="idade" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Por conta da idade</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="nivelEscolaridade" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>Nível educacional exigido</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="faltaCapacitacao" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>

            <label>Falta de capacitação</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="faltaExperiencia" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Falta de experiência</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="lugarResidencia" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Lugar de residência</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
         <xs:element name="naoHaTrabalho" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Não há trabalho</label>
           </xs:appinfo>
          </xs:annotation>

         </xs:element>
         <xs:element name="outrasCausasTrabalhista" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Outras causas trabalhistas</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>

         <xs:element name="outrasCausasPessoais" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Outras causas pessoais </label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="naoHaTrabalhoEspecialidade" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Não há trabalho em sua especialidade</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="problemasDeSaude" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>Problemas de Saúde, qual?</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="problemasDeSaudeQual" type="xs:string" minOccurs="0">
          <xs:annotation>
           <xs:appinfo>

            <label>Qual</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="Outros" type="xs:string" minOccurs="0">
          <xs:annotation>
           <xs:appinfo>
            <label>Outros</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>

   <xs:element name="renda">
    <xs:annotation>
     <xs:appinfo>
      <label>Renda</label>
     </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>

      <xs:element name="rendaMensal" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>45 - Renda Mensal</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
        <xs:restriction base="xs:string">

         <xs:enumeration value="0 a 1⁄2 salário mínimo"/>
         <xs:enumeration value="1⁄2 a 1 salário mínimo"/>
         <xs:enumeration value="1 a 2 salários mínimos"/>
         <xs:enumeration value="2 a 3 salários mínimos"/>
         <xs:enumeration value="Mais de 4 salários mínimos"/>
         <xs:enumeration value="Sem Renda"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>

      <xs:element name="origemRenda" minOccurs="0">
       <xs:annotation>
        <xs:appinfo>
         <label>46 - Origem da Renda</label>
        </xs:appinfo>
       </xs:annotation>
       <xs:complexType>
        <xs:sequence>

         <xs:element name="naoAplica" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Nao se Aplica</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="familiares" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Familares</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="igreja" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>Igreja</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="ongs" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>

            <label>ONG's</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="bolsaFamilia" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Bolsa Família</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="bpcIdoso" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>BPC Idoso</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
         <xs:element name="bpcPne" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>BPC PNE</label>
           </xs:appinfo>
          </xs:annotation>

         </xs:element>
         <xs:element name="projovem" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>PRÓ-JOVEM</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>

         <xs:element name="familiaCidada" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Família Cidadã</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="jovemAmbientalista" type="xs:boolean">

          <xs:annotation>
           <xs:appinfo>
            <label>Jovem Ambientalista</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="salario" type="xs:boolean">
          <xs:annotation>

           <xs:appinfo>
            <label>Salário</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="vizinhoComunidade" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>

            <label>Vizinhos/Comunidade</label>
           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="origemRendaOutros" type="xs:boolean">
          <xs:annotation>
           <xs:appinfo>
            <label>Outros</label>

           </xs:appinfo>
          </xs:annotation>
         </xs:element>
         <xs:element name="origemRendaOutroDesc" type="xs:string" minOccurs="0">
          <xs:annotation>
           <xs:appinfo>
            <label>Especifique</label>
           </xs:appinfo>

          </xs:annotation>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   <xs:element name="outrasObservacoes" type="xs:string" minOccurs="0">

    <xs:annotation>
     <xs:appinfo>
      <label>Outras Observacoes</label>
     </xs:appinfo>
    </xs:annotation>
   </xs:element>
  </xs:sequence>
 </xs:complexType>

</xs:schema>
