acao-sdh/schemas/Direitos_Humanos/Crianca_e_Adolescente/Acolhimento_institucional/sdh-acolhimentoinstitucional-saude-casameninosmeninas.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
  xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-acolhimentoinstitucional-saude-casameninosmeninas.xsd"
  xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
  xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
  xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
  targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-acolhimentoinstitucional-saude-casameninosmeninas.xsd"
  elementFormDefault="qualified">

  <xs:element name="formSaude" type="formSaude">
    <xs:annotation>
      <xs:appinfo>
        <xhtml:label>05. SAÚDE</xhtml:label> 
        <class:classificacoes>
          <class:classificacao>cn=Acolhimento Institucional,cn=Criança e Adolescente,cn=Direitos Humanos</class:classificacao>
        </class:classificacoes>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="formSaude">
    <xs:sequence>
      <xs:element name="numeroAtendimento" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <xhtml:label>Número atendimento</xhtml:label>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="carteiraVacinacao" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <xhtml:label>
              Carteira de vacinação:
            </xhtml:label>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Sim, atualizada" />
            <xs:enumeration value="Sim, desatualizada" />
            <xs:enumeration value="Não possui" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="problemasSaude" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <xhtml:label>
              Problemas de saúde física e mental:
            </xhtml:label>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="alcoolismo"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Alcoolismo
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="alergias" type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Alergias</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Câncer" type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Câncer</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="dependenciaQuimica"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Dependência química
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="desnutricao"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Desnutrição
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="doencasRespiratorias"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Doenças Respiratórias
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="doencasPele"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Doenças de pele
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="epilepsia"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Epilepsia</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="infecções"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Infecções</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="hanseniase"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Hanseníase
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="parasitoses"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Parasitoses
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="problemasVisao"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Problemas de visão
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="problemasOrtopedicos"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Problemas ortopédicos
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="problemasFala"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Problemas de fala
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="problemasAudicao"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Problemas de audição
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="disturbiosAlimientares"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Problemas alimentares
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="intoleranciaAlimentar"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Intolerância alimentar ou
                    medicamentosa
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="disturbiosSono"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Distúrbios de sono
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="disturbiosGastrintestinais"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Distúrbios gastrintestinais
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="hiv" type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>HIV</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="transtornosPsiquiatricos"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Trannstornos psiquiátricos
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="tuberculose"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Tuberculose
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="naoApresenta"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Não apresenta problemas de saúde
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="outrosEspecificar"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Outros. Específicar:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

          </xs:sequence>
        </xs:complexType>
      </xs:element>



      <xs:element name="deficiencias" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <xhtml:label>Deficiências:</xhtml:label>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="visual" type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Visual</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="auditiva" type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>auditiva</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="mental" type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Mental</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="fisica" type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Física</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="nenhuma" type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>Nenhuma</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="multiplas"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>multiplas</xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="acompanhamentosRealizados"
        minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <xhtml:label>
              Acompanhamento realizados:
            </xhtml:label>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="acompanhamentoPesoAltura"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Acompanhamento de peso e altura
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="avaliacaoperiodica"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Avaliação periódica do estado
                    geral de saúde
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element
              name="avaliacaoAcompanhamentoAcolhidos" type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Avaliação e acompanhamento de
                    acolhidos desnutridos e/ou com
                    distúrbios alimentares
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element
              name="avaliacaoAtendimentoPsicologico" type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Avaliação e atendimento
                    psicológico e/ou psicoterápico
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="avaliacaoFisioterapico"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Avaliação e atendimento
                    fisioteápico
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="avaliacaoPsiquiatrico"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Avaliação e atendimento
                    psiquiátrico
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="avaliacaoPsicomotricidade"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Avaliação e atendimento de
                    psicomotricidade
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="avaliacaoNeurologico"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Avaliação e atendimento
                    neurológico
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="avaliacaoFonoaudiologo"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Avaliação e atendimento
                    fonoaudiólogo
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>

            <xs:element name="avaliacaoOdontológico"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Avaliação e atendimento
                    odontológico
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="avaliacaoginecológico"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Avaliação e atendimento
                    ginecológico
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="acoesAcompanhamentoPrevencao"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Ações acompanhamento e de
                    prevênção ao uso de drogas
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="orientacaoAdolescentes"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Orientação para adolescentes na
                    esfera sexual
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="palestrasOrientacoesPromocao"
              type="xs:boolean">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Palestras e orientações para a
                    promoção da saúde integral
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="atendimentoProblemasSaude"
              minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <xhtml:label>
                    Atendimento a problemas de saúde
                    específicos. Específicar:
                  </xhtml:label>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="usoContinuoMedicacao" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <xhtml:label>
              Uso continuo de medicação:
            </xhtml:label>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Sim" />
            <xs:enumeration value="Não" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="quaisMedicamentos" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <xhtml:label>Quais?</xhtml:label>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


</xs:schema>
