acao-sdh/trunk/schemas/sdh-cadernoa.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/habitafor/viladomar-cadernoa.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/habitafor/viladomar-cadernoa.xsd"
	elementFormDefault="qualified">

	<xs:element name="formCadernoA" type="formCadernoA">
		<xs:annotation>
			<xs:appinfo>
				<label>Proposta de Cadastro Único</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formCadernoA">
		<xs:sequence>

			<xs:element name="origemDoEncaminhamento">
				<xs:annotation>
					<xs:appinfo>
						<label>Origem do Encaminhamento</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="associacoes" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Associações</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="conselhoTutelar" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Conselho Tutelar</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="demandaEspontanea" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Demanda Espontânea</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="judiciario" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Judiciário</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="outrasInstituicoesOuProjetos" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Outras Instituições ou Projetos</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="programasOuProjetosDaFunci" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Programas ou Projetos da FUNCI</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="vinculacaoNaCca">
				<xs:annotation>
					<xs:appinfo>
						<label>Vinculacao Na CCA</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="adolescenteCidadao" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Adolescente Cidadao</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="aquarela" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Aquarela</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="bromelia" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Bromélia</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="casaDasMeninas" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Casa das Meninas</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="casaDosMeninos" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Casa dos Meninos</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="cozinhaExperimental" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Cozinha Experimental</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crescerComArteCidadania" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Crescer com Arte Cidadania</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="disqueDireitosCriacaoEAdolescentes"
							type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Disque Direitos Criação e Adolescentes - DDCA</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="erradicacaoDoTrabalhoInfantil" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Erradicação do Trabalho Infantil</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="estiloSolidario" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Estilo Solidário</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="ponteDeEncontro" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Ponte de Encontro</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="liberdadeAssitida" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Liberdade Assitida - Se Garanta</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="preservacaoDeServicosAComunidade"
							type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Preservação de Serviços à Comunidade - Se Garanta
									</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="dataEncaminhamento" type="xs:dateTime"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<label>Data do Encaminhamento</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="status">
				<xs:annotation>
					<xs:appinfo>
						<label>Status</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="desligadoAtivado" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Desligado ou Ativado</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="esperandoEngajamento" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Esperando Engajamento</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="desistencia" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Desistência</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="identificacaoPessoal">
				<xs:annotation>
					<xs:appinfo>
						<label>Identificação Pessoal</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="nomeCompleto" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<label>Nome Completo</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nomeSocial" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<label>Nome Social</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="idade" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<label>idade</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="naturalidade" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<label>naturalidade</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="dataNascimento" type="xs:date"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<label>Data de Nascimento</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="sexo">
							<xs:annotation>
								<xs:appinfo>
									<label>Sexo</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="masculino" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<label>Masculino</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="feminino" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<label>Homosexual</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="aPartirDe14Anos" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<label>A PARTIR DE 14 ANOS</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="orientacaoSexual">
				<xs:annotation>
					<xs:appinfo>
						<label>Orientação Sexual</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="ativo" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Ativo</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="homosexual" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Homosexual</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="heterosexual" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Heterosexual</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="bisexual" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Bisexual</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="transexual" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<label>Transexual</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="outros" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<label>Outros</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="filiacao">
				<xs:annotation>
					<xs:appinfo>
						<label>Filiação</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pai" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<label>Pai</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="mae" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<label>Mãe</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="responsavel" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<label>Responsável</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
