acao-pronasci/schemas/gmfpronasci-avaliacaoEntrevistaIndividual.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/gmfpronasci-avaliacao-entrevista-individual.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/gmfpronasci-avaliacao-entrevista-individual.xsd"
	elementFormDefault="qualified">

	<xs:element name="form" type="formAvaliacaoEntrevistaIndividual">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>AVALIAÇÃO ENTREVISTA INDIVIDUAL MULHERES DA PAZ
				</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Mulheres da Paz,cn=Direitos Humanos</class:classificacao>
				</class:classificacoes>

			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formAvaliacaoEntrevistaIndividual">

		<xs:sequence>

			<xs:element name="numeroInscricao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nº Inscrição:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="escolaridade"  minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Escolaridade</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ensino básico (1ª a 4ª série) completo" />
						<xs:enumeration value="Ensino básico (1ª a 4ª série) incompleto" />
						<xs:enumeration value="Ensino fundamental (5ª a 8ª série) completo" />
						<xs:enumeration value="Ensino fundamental (5ª a 8ª série) incompleto" />
						<xs:enumeration value="Ensino médio (2º grau) completo" />
						<xs:enumeration value="Ensino médio (2º grau) incompleto" />
						<xs:enumeration value="Ensino superior completo" />
						<xs:enumeration value="Ensino superior incompleto" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="disponibilidadeSegunda"  minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Disponibilidade</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="manha" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Manhã</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="tarde" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tarde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="noite" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Noite</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="estabilidade">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Estabilidade</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="tempoBairro" >
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tempo no bairro(mais de 5 anos) ou residência
										própria:(+2 pontos) - Peso 2</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pontos" type="xs:float" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pontos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="familiaresBairro">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Familiares no bairro:(+1ponto) - Peso 2
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pontos" type="xs:float" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pontos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="pretensaoMudar" >
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pretensão de mudar-se do bairro:(zerar item) -
										Peso 2
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pontos" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pontos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="somaPontos" type="xs:float" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Soma dos pontos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="somaTotal" type="xs:float" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Total</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="capacidadeLideranca">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Capacidade de liderança</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="iniciatica" >
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Iniciativa/Capacidade de articulaçãi(Pontual: +1
										ponto; Eventual:+2 pontos) - Peso 2</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pontos" type="xs:float" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pontos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="frequente" >
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Frequente:(+1ponto por item) - Peso 3
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pontos" type="xs:float" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pontos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="engajamento" >
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Engajamento:(+1ponto por item) - Peso 2
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pontos" type="xs:float" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pontos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="referenciada" >
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se é referenciada(1 item: +1 ponto; mais de 1
										item: +2 pontos por item) - Peso 2
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pontos" type="xs:float" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pontos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="somaPontos" type="xs:float"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Soma dos pontos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="somaTotal" type="xs:float"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Total</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="potencialCapacitacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Potencial para ser capacitada</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="rececimentoSituacao"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Reconhecimento de situação de risco(até 3
										situações: +1 ponto; de 4 a 6: +2pontos; acima de 6: +3pontos)
										- Peso 2</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pontos" type="xs:float" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pontos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="casoPratico" >
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso prático(1 causa: +1 ponto; 2 causas:
										+2pontos; 3 ou mais causas: +3pontos) - Peso 2
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pontos" type="xs:float" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pontos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="somaPontos" type="xs:float"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Soma dos pontos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="somaTotal" type="xs:float"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Total</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="flexibilidadeConceitos">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Flexibilidade de conceitos(Cognição: +1 pontos por
							item compreendido) - Pesos 0,5</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="resposta1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Em briga..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resposta2">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Pau que..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resposta3">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Pimenta..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resposta4">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Cabeça vazia..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resposta5">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Em boca fechada..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resposta6">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Em terra de sapo..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resposta7">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Diga-me com quem andas..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resposta8">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Escreveu..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resposta9">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Quem não pode..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resposta10">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Olho por olho..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="resposta11">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>"Unidas venceremos..."</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="marker" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cognição</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sim" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sim:0</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não: +1</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="somaPontos" type="xs:float"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Soma dos pontos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="somaTotal" type="xs:float"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Total</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="pontuacaoEntrevista">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Pontuação geral</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="totalEntrevista" type="xs:float"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Total da entrevista</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="totalAvaliacao" type="xs:float"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Total da dinâmica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="parecerEntrevista">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Parecer da avaliação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="parecePositivo" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Parecer positivo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pareceNegativo" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Parecer negativo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="semParecer" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sem parecer</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="observacao" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
