acao-pronasci/schemas/gmfpronasci-protejoInstrumentalCaracterizacaoJovens.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/gmfpronasci-protejoInstrumentalCaracterizacaoJovens.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/gmfpronasci-protejoInstrumentalCaracterizacaoJovens.xsd"
	elementFormDefault="qualified">

	<xs:element name="form" type="formProtejoInstrumentalCaracterizacaoJovem">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>PESQUISA POPULAR SOBRE O PERFIL DOS ADOLESCENTES E JOVENS – PRONASCI</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Segurança Pública</class:classificacao>
				</class:classificacoes>
				<idx:index>
				    <idx:hint key="protejo.numeroInscricao" xpath="formProtejoInstrumentalCaracterizacaoJovem/dadosInscricao/numeroInscricao" />
				    <idx:hint key="protejo.dataEntrevista" xpath="formProtejoInstrumentalCaracterizacaoJovem/dadosInscricao/dataEntrevista" />
				    <idx:hint key="protejo.nomeEntrevistador" xpath="formProtejoInstrumentalCaracterizacaoJovem/dadosInscricao/nomeEntrevistador" />
				    <idx:hint key="protejo.nomeEntrevistado" xpath="formProtejoInstrumentalCaracterizacaoJovem/identificacaoDadosSocioeconimicos/nomeEntrevistado"/>
				    <idx:hint key="protejo.bairro" xpath="formProtejoInstrumentalCaracterizacaoJovem/identificacaoDadosSocioeconimicos/bairro"/>
				    <idx:hint key="protejo.endereco" xpath="formProtejoInstrumentalCaracterizacaoJovem/identificacaoDadosSocioeconimicos/endereco"/>
				    <idx:hint key="protejo.idade" xpath="formProtejoInstrumentalCaracterizacaoJovem/identificacaoDadosSocioeconimicos/idade"/>
				    <idx:hint key="protejo.naturalidade" xpath="formProtejoInstrumentalCaracterizacaoJovem/identificacaoDadosSocioeconimicos/naturalidade"/>
				    <idx:hint key="protejo.estadoCivil" xpath="formProtejoInstrumentalCaracterizacaoJovem/identificacaoDadosSocioeconimicos/estadoCivil"/>
				</idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formProtejoInstrumentalCaracterizacaoJovem">

		<xs:sequence>

			<xs:element name="dadosInscricao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Identificação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="numeroInscricao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Número de inscrição</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dataEntrevista" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data da entrevista</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="nomeEntrevistador" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Responsável pela entrevista</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="identificacaoDadosSocioeconimicos">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.Identificação/dados sócioeconômicos e familiares
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="nomeEntrevistado" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome do entrevistado(a)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="apelido" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Apelido</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="telefones" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Telefones</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="endereco" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Endereço</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="bairro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bairro/local</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="complemento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Complemento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="sexo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Masculino" />
									<xs:enumeration value="Feminino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="idade" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Idade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="naturalidade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Naturalidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="estadoCivil">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Estado civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Casado(a)" />
									<xs:enumeration value="Solteiro(a)" />
									<xs:enumeration value="União estável" />
									<xs:enumeration value="Divorciado(a)" />
									<xs:enumeration value="Separado(a)" />
									<xs:enumeration value="Divorciado(a)" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="temFilhos">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Têm de filhos?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="quantosFilhos" type="xs:integer"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se têm, quantos são?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="escolaridade">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Escolaridade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Não alfabetizado" />
									<xs:enumeration value="Alfabetização" />
									<xs:enumeration value="1ª série" />
									<xs:enumeration value="2ª série" />
									<xs:enumeration value="3ª série" />
									<xs:enumeration value="4ª série" />
									<xs:enumeration value="5ª série" />
									<xs:enumeration value="6ª série" />
									<xs:enumeration value="7ª série" />
									<xs:enumeration value="8ª série" />
									<xs:enumeration value="9ª série" />
									<xs:enumeration value="1º ano ensino médio" />
									<xs:enumeration value="2º ano ensino médio" />
									<xs:enumeration value="3º ano ensino médio" />
									<xs:enumeration value="Superior incompleto" />
									<xs:enumeration value="Superior completo" />
									<xs:enumeration value="Pós-Graduação" />
								</xs:restriction>
							</xs:simpleType>

						</xs:element>
						<xs:element name="estudaAtualmente">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Estuda atualmente?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="oqueEstuda" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>O que?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="horario">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em qual horário?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Manhã" />
									<xs:enumeration value="Tarde" />
									<xs:enumeration value="Noite" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="trabalha">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Trabalha?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Não, mas já trabalhou" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ondeTrabalha" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se trabalha, onde?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="tipoTrabalho" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de trabalho</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Formal" />
									<xs:enumeration value="Informal" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="atividadeExercida" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividade exercida</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="rendaMensal" type="xs:float"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Renda mensal em R$</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="comQuemMora" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Com quem mora</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="quemTrabalha" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quem trabalha e quanto ganha?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="recebeBeneficioGoverno" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Recebe benefício social (ele ou a família)?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="qualBeneficio" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual benefício</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="documentacao">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Documentação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="rg" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>RG</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="cpf" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>CPF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="email" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>E-mail</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="situacaoRiscoSocial">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2.Situação de risco social</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="recebeBeneficioGoverno" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Trabalhou antes de completar 16 anos?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="oqueFazia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>O que fazia</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="quantoTempo" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Por quanto tempo trabalhou:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="tempoParou" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Há quanto tempo parou:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="programaErradicacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Participou do programa de erradicação do trabalho
										infantil:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Sim, ainda participa" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ondeEraAcompanhado" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se sim, onde era acompanhado:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="programaApadrinhamento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Participou de Programa de apadrinhamento:
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Sim, ainda participa" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ondeApadrinhamento" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se sim, qual a instituição:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="sofreuViolenciaExploracao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Já sofreu violência ou exploração sexual:
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="seSofreuViolenciaExploracao"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se sim, foi acompanhado por algum projeto:
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="qualAcompanhamento" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="jacumpriuMedidaSocioEducativa"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Já cumpriu medida sócioeducativa:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Sim, está cumprindo" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="cumpriuMedidaSocio" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se sim, qual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Obrigação de reparar o dano" />
									<xs:enumeration value="Prestação de serviços à comunidade - PSC" />
									<xs:enumeration value="Liberdade assistida" />
									<xs:enumeration value="Semi-liberdade" />
									<xs:enumeration value="Internação" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="jafoiPreso" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Já foi preso (só para os maiores de 18 anos):
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="quandoFoiPreso" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se sim, quando</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="tempoPreso" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Por quanto tempo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="tempoLiberdade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Há quanto tempo está em liberdade:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="esteveLiberdadeCondicional"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Já cumpriu medida sócioeducativa:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="seEsteveLiberdadeCondicional"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Até dia</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="vivenciouSituacaoRua" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Já vivenciou situação de rua:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Sim, ainda vivencia" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="jaAbrigado" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Já foi abrigado:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="vezesAbrigado" type="xs:integer"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se sim, quantas vezes:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="participacaoProjetosSociais">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.Participação em projetos
							sociais/profissionalizantes</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="participouProjeto" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Participou de algum projeto social ou
										profissionalizante</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Sim, ainda participa" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="seParticipaProjeto" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se participara, qual projeto?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="atividadeDesenvolve" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual atividade desenvolve:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="interessesHabilidades">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>4.Interesse/habilidades pessoais</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="atividadeGostariaDesenvolver"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual atividade gostaria de desenvolver em um
										projeto: </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="danca" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Dança</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="teatro" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Teatro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="maracatu" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Maracatu</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="violao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Violão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="cantoCoral" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Canto coral</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="percussao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Percussão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="customizacao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Customização(remodelar peças de roupas,
													objetos..)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="arteTecido" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Artes em tecido </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="artesanato" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Artesanato</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="reciclagem" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reciclagem</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="informatica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Informática</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="fotografia" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Fotografia</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="formacaoCidada" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Formação Cidadã</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="leituraInterpretacao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Leitura e Interpretação de Textos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="protejo" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Protejo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="outros" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>


		</xs:sequence>
	</xs:complexType>

</xs:schema>
