acao-semas/schemas/semas-ficha-identificacao-familia-cras.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-ficha-identificacao-familia-cras.xsd"
    xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
    xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
    xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-ficha-identificacao-familia-cras.xsd"
    elementFormDefault="qualified">

    <xs:element name="formFichaIdentificacaoFamilia" type="formFichaIdentificacaoFamilia">
        <xs:annotation>
            <xs:appinfo>
                <xhtml:label>FICHA IDENTIFICAÇÃO FAMÍLIA</xhtml:label>
                <class:classificacoes>
                    <class:classificacao>cn=Proteção Social Básica,cn=Assistencia Social</class:classificacao>
                </class:classificacoes>
                <idx:index>
                    <idx:hint key="pessoa.numeroInscricao" xpath="formFichaIdentificacaoFamilia/identificacao/nuneroInscricao"/>
                    <idx:hint key="pessoa.numeroNis" xpath="formFichaIdentificacaoFamilia/identificacao/nuneroNis"/>
                </idx:index>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>

	<xs:complexType name="formFichaIdentificacaoFamilia">
        <xs:sequence>

			<xs:element name="identificacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Identificação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:complexType>
					<xs:sequence>
				        <xs:element name="numeroInscricao" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Número Inscrição</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="numeroNis" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>NIS</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>


						<xs:element name="dataCadastro" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data preenchimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="regional"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Regional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SER I" />
								<xs:enumeration value="SER II" />
								<xs:enumeration value="SER III" />
								<xs:enumeration value="SER IV" />
								<xs:enumeration value="SER V" />
								<xs:enumeration value="SER VI" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="cras"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CRAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="PIRAMBU" />
								<xs:enumeration value="BARRA DO CEARÁ" />
								<xs:enumeration value="MUCURIPE" />
								<xs:enumeration value="SERVILUZ" />
								<xs:enumeration value="LAGAMAR" />
								<xs:enumeration value="PRAIA DO FUTURO " />
								<xs:enumeration value="BELA VISTA" />
								<xs:enumeration value="QUINTINO CUNHA " />
								<xs:enumeration value="VILA UNIÃO" />
								<xs:enumeration value="SERRINHA" />
								<xs:enumeration value="COUTO FERNANDES" />
								<xs:enumeration value="GRANJA PORTUGAL" />
								<xs:enumeration value="BOM JARDIM" />
								<xs:enumeration value="MONDUBIM" />
								<xs:enumeration value="GENIBAÚ" />
								<xs:enumeration value="CONJUNTO ESPERANÇA" />
								<xs:enumeration value="CANINDEZINHO" />
								<xs:enumeration value="ARACAPÉ" />
								<xs:enumeration value="CONJUNTO PALMEIRAS" />
								<xs:enumeration value="JARDIM DAS OLIVEIRAS" />
								<xs:enumeration value="CASTELÃO" />
								<xs:enumeration value="JOÃO PAULO II" />
								<xs:enumeration value="DENDÊ" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="origemAtendimento"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Origem Atendimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Demanda Espontânea" />
								<xs:enumeration value="Busca Ativa" />
								<xs:enumeration value="Demanda Encaminhada" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="origemEncaminhamento"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Origem Encaminhamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Assistência Social" />
								<xs:enumeration value="Saúde" />
								<xs:enumeration value="Educação" />
								<xs:enumeration value="habitação" />
								<xs:enumeration value="Trabalho e Renda" />
								<xs:enumeration value="Direitos Humanos" />
								<xs:enumeration value="Segurança Pública" />
								<xs:enumeration value="Sistema de Garantia de Direito" />
								<xs:enumeration value="ONG" />
								<xs:enumeration value="Outros" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
				        <xs:element name="origemEncaminhamentoOutros" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Outros</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

		            </xs:sequence>
		        </xs:complexType>
	        </xs:element>

			<xs:element name="identificaResp">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1. Identificação do Responsável</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:complexType>
					<xs:sequence>
				        <xs:element name="nomeResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.1 Nome</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="naturaResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.2 Naturalidade</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="estcivilResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.3 Estado Civil</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="rgResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.4 RG</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                    <xs:pattern value="[0-9]+[0-9]+"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="orgaoExpResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Órgão Expedidor</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>


						<xs:element name="dataExprgResp" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data Expedição</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
				        <xs:element name="cpfResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.5 CPF</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                    <xs:pattern value="[0-9]{3}\."/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="enderecoResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>1.6 Endereço</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="bairroResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Bairro</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="comunLocalResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Comunidade/Localidade</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>


						<xs:element name="serResp"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SER</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SER I" />
								<xs:enumeration value="SER II" />
								<xs:enumeration value="SER III" />
								<xs:enumeration value="SER IV" />
								<xs:enumeration value="SER V" />
								<xs:enumeration value="SER VI" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
				        <xs:element name="pontoRefResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Ponto de Referência</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>
				        
						<xs:element name="telefoneResp"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.7 Telefone</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Próprio" />
								<xs:enumeration value="Comunitário" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

				        <xs:element name="numTelResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Nº Telefone</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

				        <xs:element name="recadoContResp" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Recado/Contato</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="sexoResp"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.8 Sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Masculino" />
								<xs:enumeration value="Feminino" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="identidadeGenResp"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.9 Identidade de gênero</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Travesti" />
								<xs:enumeration value="Transexual" />
								<xs:enumeration value="Trangênero" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="orientSexualResp"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.10 Orientação Sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Homossexualidade/Lesbianidade" />
								<xs:enumeration value="Bissexualidade" />
								<xs:enumeration value="Heterosexualidade" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="corRacaResp"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.11 Cor ou Raça</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Preta" />
								<xs:enumeration value="Branca" />
								<xs:enumeration value="Parda" />
								<xs:enumeration value="Amarela" />
								<xs:enumeration value="Indígena" />
								<xs:enumeration value="Sem declaração" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

		            </xs:sequence>
		        </xs:complexType>
	        </xs:element>

			<xs:element name="situacaoMoradia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2. Situação de Moradia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:complexType>
					<xs:sequence>

						<xs:element name="tipoMoradia"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.1 Tipo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Casa" />
								<xs:enumeration value="Apartamento" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
				        <xs:element name="numComodoMoradia" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>2.2 Número de Cômodos</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>
				        
				        <xs:element name="tmpOcupMoradia" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>2.3 Tempo de ocupação</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="banhMoradia"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.4 Banheiro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Sim" />
								<xs:enumeration value="Não" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="afirmaBanhMoradia"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso Afirmativo, encontra-se em</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="dentro do domicílio" />
								<xs:enumeration value="fora do domicílio" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="sitImovelMoradia"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.5 Situação Imóvel</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Próprio" />
								<xs:enumeration value="Alugado(a)" />
								<xs:enumeration value="Cedida" />
								<xs:enumeration value="Ocupação Ilegal" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="vlrAluguelMoradia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Valor do aluguel</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
								<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:fractionDigits value='2'/>
											<xs:maxExclusive value="1000000"/>
											<xs:minInclusive value="-1000000"/>
										</xs:restriction>
								</xs:simpleType>
						</xs:element>

						<xs:element name="matMoradia"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.6 Material</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Alvenaria" />
								<xs:enumeration value="Taipa" />
								<xs:enumeration value="Mista" />
								<xs:enumeration value="Outro" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

				        <xs:element name="outroMatMoradia" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Outro material</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="abastecAguaMoradia"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.7 Abastecimento Água</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Cagece-Tarifa Social" />
								<xs:enumeration value="Cagece-Sem Tarifa Social" />
								<xs:enumeration value="Ligação Clandestina" />
								<xs:enumeration value="Não tem" />
								<xs:enumeration value="Outro" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

				        <xs:element name="outroAbastecMoradia" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Outro Abastecimento</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="abastecEnergiaMoradia"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.8 Abastecimento de Energia</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Coelce-Tarifa Social" />
								<xs:enumeration value="Coelce- Sem Tarifa Social" />
								<xs:enumeration value="Ligação Clandestina" />
								<xs:enumeration value="Não tem" />
								<xs:enumeration value="Outro" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

				        <xs:element name="outroAbastEnergiaMoradia" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Outro Abastecimento Energia</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>


						<xs:element name="trataAguaMoradia"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.9 Tratamento Água</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Filtrada" />
								<xs:enumeration value="Fervida" />
								<xs:enumeration value="Clorada" />
								<xs:enumeration value="Nenhum" />
								<xs:enumeration value="Outro" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

				        <xs:element name="outroTrataAguaMoradia" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Outro Tratamento</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="saneamentoMoradia"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.10 Saneamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Rede Geral" />
								<xs:enumeration value="Fossa Séptica" />
								<xs:enumeration value="Fossa Rudimentar" />
								<xs:enumeration value="Não existe" />
								<xs:enumeration value="Outro" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

				        <xs:element name="outroSaneaMoradia" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Outro Saneamento</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

						<xs:element name="lixoMoradia"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.11 Lixo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Coleta Pública" />
								<xs:enumeration value="Queima" />
								<xs:enumeration value="Enterra" />
								<xs:enumeration value="Céu Aberto" />
								<xs:enumeration value="Outro" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

				        <xs:element name="outroLixoMoradia" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Outro Lixo</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>

		            </xs:sequence>
		        </xs:complexType>
	        </xs:element>


			<xs:element name="listCompFamiliar">
			
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3. Composição Familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:complexType>
					<xs:sequence>

						<xs:element name="composicaoFamiliar" minOccurs="0" maxOccurs="20">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Composição Familiar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							
							<xs:complexType>
								<xs:sequence>
							        
							        <xs:element name="nomeMembro" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Nome</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							            <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255"/>
							                </xs:restriction>
							            </xs:simpleType>
							        </xs:element>
									
									<xs:element name="sexoMembro"  minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sexo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="BPC Idoso" />
											<xs:enumeration value="BPC Deficiente" />
											<xs:enumeration value="PETI" />
											<xs:enumeration value="Programa Bolsa Familia" />
										</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element name="benefMembro"  minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Benefício</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="BPC Idoso" />
											<xs:enumeration value="BPC Deficiente" />
											<xs:enumeration value="PETI" />
											<xs:enumeration value="Programa Bolsa Familia" />
											<xs:enumeration value="Projem Urbano" />
											<xs:enumeration value="Outro" />
										</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element name="dataNascMembro" minOccurs="0" type="xs:date">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Data Nascimento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
							        
							        <xs:element name="escolarMembro" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Escolaridade</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							            <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255"/>
							                </xs:restriction>
							            </xs:simpleType>
							        </xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								
								<xs:element name="servParticipa"  minOccurs="0">
									<xs:annotation>
										<xs:appinfo>
											<xhtml:label>Participa Serviço</xhtml:label>
										</xs:appinfo>
									</xs:annotation>
									<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="" />
										<xs:enumeration value="Multiplicidade" />
										<xs:enumeration value="Cadastro Aberto" />
										<xs:enumeration value="Cadastro Fechado" />
										<xs:enumeration value="Extraído" />
									</xs:restriction>
									</xs:simpleType>
								</xs:element>
								
								
		            </xs:sequence>
		        </xs:complexType>
	        </xs:element>


			<xs:element name="listDadosComplementares">
			
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>4. Dados Complementares</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:complexType>
					<xs:sequence>

						<xs:element name="dadosComplementares" minOccurs="0" maxOccurs="20">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Membros da Família</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
							       
							        <xs:element name="peridGestacMembro" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Período Gestação</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							            <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255"/>
							                </xs:restriction>
							            </xs:simpleType>
							        </xs:element>
							        
							        <xs:element name="gestacDPPMembro" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>DPP Gestação</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							            <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255"/>
							                </xs:restriction>
							            </xs:simpleType>
							        </xs:element>
							        
							        <xs:element name="gestacPreNatalMembro" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Período Pré-Natal</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							            <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255"/>
							                </xs:restriction>
							            </xs:simpleType>
							        </xs:element>
							        
							        <xs:element name="deficMembro"  type="xs:string" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Deficiência-Especificar</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							        </xs:element>
							        
							        <xs:element name="doencaTrataMembro" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Doença/Tratamento - Especificar</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							        </xs:element>
							        
							        <xs:element name="membroClicoVida"  type="xs:string" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Ciclo de Vida - Especificar</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							        </xs:element>
							        
							        <xs:element name="observaMembro" type="xs:string" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Observações</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							        </xs:element>
	
								</xs:sequence>
							</xs:complexType>
						
						</xs:element>
						
					</xs:sequence>
				</xs:complexType>
				
			</xs:element>				


			<xs:element name="identificacaoPotencialidades">
			
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>5. Identificação de Potencialidades</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:complexType>
					<xs:sequence>

						<xs:element name="potencialParticMembro" minOccurs="0" maxOccurs="20">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Participação em programas, projetos e atividades grupais  do CRAS e outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
								
							        <xs:element name="ativMembro" type="xs:string" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Atividade</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>

							        </xs:element>
							        
							        <xs:element name="ativPerido" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Período</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							            <xs:simpleType>
							                <xs:restriction base="xs:string">
							                    <xs:maxLength value="255"/>
							                </xs:restriction>
							            </xs:simpleType>
							        </xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>
						
						<xs:element name="areaHabilidade" minOccurs="0" maxOccurs="20">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Área de Habilidade/Qualificação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
							        <xs:element name="habilProfissional" type="xs:string" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Profissional</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							        </xs:element>
							        
							        <xs:element name="habilArtistCult" type="xs:string" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Artístico Cultural</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							        </xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>
						
						<xs:element name="areaInteresse" minOccurs="0" maxOccurs="20">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Área de Interesse</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
							        <xs:element name="areaInterProfissional" type="xs:string" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Profissional</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							        </xs:element>
							        
							        <xs:element name="areaInterArtisticoCultural" type="xs:string" minOccurs="0">
							            <xs:annotation>
							                <xs:appinfo>
							                    <xhtml:label>Artístico Cultural</xhtml:label>
							                </xs:appinfo>
							            </xs:annotation>
							        </xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			
			</xs:element>



			<xs:element name="cadastroUnico">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>6. Cadastro Único</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:complexType>
					<xs:sequence>

						<xs:element name="inscricaoCadunico"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>6.1 Está Inscrita no Cadastro Único</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Sim" />
								<xs:enumeration value="Não" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="seCadunico" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso Afirmativo, Data da Pesquisa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
				        <xs:element name="codDomicCadunico" minOccurs="0">
				            <xs:annotation>
				                <xs:appinfo>
				                    <xhtml:label>Código Domiciliar</xhtml:label>
				                </xs:appinfo>
				            </xs:annotation>
				            <xs:simpleType>
				                <xs:restriction base="xs:string">
				                    <xs:maxLength value="255"/>
				                </xs:restriction>
				            </xs:simpleType>
				        </xs:element>


						<xs:element name="senaoCadunico"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso Não, a família encontra-se no perfil do Cadastro Único</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Sim" />
								<xs:enumeration value="Não" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="situacaoCadunico"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>6.2 Situação do Cadastro Único</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Processado Ativo" />
								<xs:enumeration value="Multiplicidade" />
								<xs:enumeration value="Cadastro Aberto" />
								<xs:enumeration value="Cadastro Fechado" />
								<xs:enumeration value="Extraído" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="possuiBFCadunico"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>6.3 Possui Bolsa Família</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Sim" />
								<xs:enumeration value="Não" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="valorBFCadunico" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Valor Bolsa Família</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
								<xs:simpleType>
										<xs:restriction base="xs:decimal">
											<xs:fractionDigits value='2'/>
											<xs:maxExclusive value="1000000"/>
											<xs:minInclusive value="-1000000"/>
										</xs:restriction>
								</xs:simpleType>
						</xs:element>


						<xs:element name="particAcaoComplCadunico"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>6.4 Participa de ação complementar do Programa Bolsa Família</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Sim" />
								<xs:enumeration value="Não" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="casoParticComplCadunico"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso Afirmativo, qual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Plaseq" />
								<xs:enumeration value="Inclusão Produtiva" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="descCondicCadunico"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>6.5 Encontra-se em situação de descumprimento de condicionalidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Sim" />
								<xs:enumeration value="Não" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="casoDescCondicCadunico"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso sim, especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Assistência Social" />
								<xs:enumeration value="Educação" />
								<xs:enumeration value="Saúde" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoSansaoCadunico"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>6.7 Tipo de Sanção</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="I  - Advertência" />
								<xs:enumeration value="II - Bloqueio por 30 dias" />
								<xs:enumeration value="III- 1ª Suspensão por 60 dias" />
								<xs:enumeration value="IV - 2ª Suspensão por 60 dias" />
								<xs:enumeration value="V  - Cancelamento do benefício" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
		            </xs:sequence>
		        </xs:complexType>
	        
	        </xs:element>

	        
			<xs:element name="situacaoRisco">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>7. Situação de Risco</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						
						<xs:element name="abusoSexCrianAdolecSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Abuso/exploração sexual de crianças e adolescentes</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="trabInfJuvenilSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Trabalho infanto-juvenil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="jovensConflitoSitRisc"	minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Jovens em conflito com a lei</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
							<xs:element name="negligViolContraCrianca" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência ou maus tratos contra crianças </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

                		<xs:element name="negligViolContraIdosa" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra a pessoa idosa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="negligViolContraDefic" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra pessoa com deficiência </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="negligViolContraDoentMent" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra pessoa com transtorno mental</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pessoaDeficAfastSocial" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas com deficiência afastadas do convívio social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pessoaDoenMentalAfastSocial" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas com transtorno mental afastadas do convívio social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

                		<xs:element name="famSitInsegAlimentar" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Famílias em situação de insegurança alimentar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

                		<xs:element name="violUrbanaSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Violência urbana</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

               			<xs:element name="violDomestMulherSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Violência doméstica contra a mulher</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

                		<xs:element name="riscoHabitaSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Risco habitacional </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

               			<xs:element name="mendicanciaSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Mendicância</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

                				<xs:element name="pessoaSitRuaSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoa em situação de rua</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pessoaSitRuaOutroSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

            			<xs:element name="sitRiscoDrogadAlcool" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Drogadição/Alcoolismo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

              			<xs:element name="carcePrivadoSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Cárcere privado </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>


						<xs:element name="pessoaSemDocumCivil" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoa sem documentação civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="descrimiSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Discriminação (ex.: étnica, cultural, gênero, religiosa, )</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="especDescrimSitRisc" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique Discriminação (ex.: étnica, cultural, gênero, religiosa)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="trafSeresHumanos" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tráfico de seres humanos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="trafSeresHumFimSexual" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tráfico de seres humanos para fins sexuais</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="turismoSexualSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Turismo sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

               			<xs:element name="criacaAdolForaEscola" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Criança e/ou adolescente fora da escola</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="outroSitRisc" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="especOutrosSitRisc" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
		            
		            </xs:sequence>
		     </xs:complexType>
	       
	       
	        </xs:element>
	        
	        
			<xs:element name="participacaoVidaComunitaria">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>8. Particiapação na Vida Comunitária</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="identificaLiderGrupo"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>8.1. Identificação de liderança/ grupo comunitário
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Não Informado" />
									<xs:enumeration value="Não conhece " />
									<xs:enumeration value="Conhece" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="casoConheceEspec" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Conhece/ Especificar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="participaDe" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>8.2. Participa de</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Associação"/>
									<xs:enumeration value="Grupo artístico-cultural"/>
									<xs:enumeration value="Grupo religioso"/>
									<xs:enumeration value="Não Informado"/>
									<xs:enumeration value="Outro"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="especiParticipa" minOccurs="0" maxOccurs="4">

							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>8.2.1. Qual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="qualParticip" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element name="nomeParticipa" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participante</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>
						
						<xs:element name="probComunidade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>8.3. Problemas identificados na comunidade
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="encaminProblemas" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>8.4. Encaminhamentos dos problemas da comunidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Não Informado" />
									<xs:enumeration value="Serviço público" />
									<xs:enumeration value="Família/ vizinhos" />
									<xs:enumeration value="Lideranças comunitárias" />
									<xs:enumeration value="Lideranças religiosas" />
									<xs:enumeration value="Não encaminha" />
									<xs:enumeration value="Não sabe" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			
			<xs:element name="acessoPoliticasPublicas">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>9. ACESSO ÀS POLÍTICAS PÚBLICAS - SERVIÇOS, PROGRAMAS E PROJETOS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="saudeAcessopp" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="especSaudeAcessopp" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="educacaoAcessopp" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="especEducacaoAcessopp" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="assistSocialAcessopp" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Assistência Social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="especAssistSocialAcessopp" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="acessoppPrevidSocial" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Previdência Social </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="especPrevidSocialAcessopp"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="espLazerCulturaAcessopp" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Esporte, Lazer e Cultura</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="especEspCulturaAcessopp" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="dirHumanosAcessopp" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Direitos Humanos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="especDirHumanosAcessopp" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="trabRendaAcessopp" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Trabalho e Renda</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="acessoppEspecTrabRenda" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="acessoppSegura" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Segurança</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="acessoppEspecSegura" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="acessoppAssistJur" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Assistência jurídica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="acessoppEspecAssistJur"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="acessoppHabit" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Habitação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="acessoppEspecHabit" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="acessoppOutro" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="acessoppEspecOutros" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="acessoppnBuscaAcesso" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Não busca acesso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="observacoesGerais">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>10. Observações </xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="obsGeraisObserv" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
