acao-semas/schemas/semas-relatorio-quantitativo_mensal.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-quantitativo-mensal.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-quantitativo-mensal.xsd"
	elementFormDefault="qualified">

	<xs:element name="RelQtdMensal" type="RelQtdMensal">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>RELATORIO QUANTITATIVO MENSAL</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Proteção Social Básica,cn=Assistencia Social</class:classificacao>
				</class:classificacoes>
				<idx:index>
				</idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="RelQtdMensal">
		<xs:sequence>
		    <xs:element name="ser"  minOccurs="0">
			    <xs:annotation>
				    <xs:appinfo>
					    <xhtml:label>SER</xhtml:label>
				    </xs:appinfo>
			    </xs:annotation>
			    <xs:simpleType>
			    <xs:restriction base="xs:string">
				    <xs:enumeration value="SER I" />
				    <xs:enumeration value="SER II" />
				    <xs:enumeration value="SER III" />
				    <xs:enumeration value="SER IV" />
				    <xs:enumeration value="SER V" />
				    <xs:enumeration value="SER VI" />
			    </xs:restriction>
			    </xs:simpleType>
		    </xs:element>
		    <xs:element name="cras"  minOccurs="0">
			    <xs:annotation>
				    <xs:appinfo>
					    <xhtml:label>CRAS</xhtml:label>
				    </xs:appinfo>
			    </xs:annotation>
			    <xs:simpleType>
			    <xs:restriction base="xs:string">
				    <xs:enumeration value="CRAS-PIRAMBU" />
				    <xs:enumeration value="CRAS-BARRA DO CEARÁ" />
				    <xs:enumeration value="CRAS-MUCURIPE" />
				    <xs:enumeration value="CRAS-SERVILUZ" />
				    <xs:enumeration value="CRAS-LAGAMAR" />
				    <xs:enumeration value="CRAS-PRAIA DO FUTURO " />
				    <xs:enumeration value="CRAS-BELA VISTA" />
				    <xs:enumeration value="CRAS-QUINTINO CUNHA " />
				    <xs:enumeration value="CRAS-VILA UNIÃO" />
				    <xs:enumeration value="CRAS-SERRINHA" />
				    <xs:enumeration value="CRAS-COUTO FERNANDES" />
				    <xs:enumeration value="CRAS-GRANJA PORTUGAL" />
				    <xs:enumeration value="CRAS-BOM JARDIM" />
				    <xs:enumeration value="CRAS-MONDUBIM" />
				    <xs:enumeration value="CRAS-GENIBAÚ" />
				    <xs:enumeration value="CRAS-CONJUNTO ESPERANÇA" />
				    <xs:enumeration value="CRAS-CANINDEZINHO" />
				    <xs:enumeration value="CRAS-SIQUEIRA" />
				    <xs:enumeration value="CRAS-SANTA ROSA" />
				    <xs:enumeration value="CRAS-CONJUNTO ALVORADA" />
				    <xs:enumeration value="CRAS-JARDIM DAS OLIVEIRAS" />
				    <xs:enumeration value="CRAS-CASTELÃO" />
				    <xs:enumeration value="CRAS-JOÃO PAULO II" />
			    </xs:restriction>
			    </xs:simpleType>
		    </xs:element>
		    <xs:element name="mes"  minOccurs="0">
			    <xs:annotation>
				    <xs:appinfo>
					    <xhtml:label>Mês</xhtml:label>
				    </xs:appinfo>
			    </xs:annotation>
			    <xs:simpleType>
			    <xs:restriction base="xs:string">
				    <xs:enumeration value="Janeiro" />
				    <xs:enumeration value="Fevereiro" />
				    <xs:enumeration value="Março" />
				    <xs:enumeration value="Abril" />
				    <xs:enumeration value="Maio" />
				    <xs:enumeration value="Junho" />
				    <xs:enumeration value="Julho" />
				    <xs:enumeration value="Agosto" />
				    <xs:enumeration value="Setembro" />
				    <xs:enumeration value="outubro" />
				    <xs:enumeration value="Novembro" />
				    <xs:enumeration value="Dezembro" />
			    </xs:restriction>
			    </xs:simpleType>
		    </xs:element>
		    <xs:element name="ano" minOccurs="0" type="xs:integer">
			    <xs:annotation>
				    <xs:appinfo>
					    <xhtml:label>Ano</xhtml:label>
				    </xs:appinfo>
			    </xs:annotation>
		    </xs:element>
            <xs:element name="atendimentos" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Atendimentos</xhtml:label>
                    </xs:appinfo>
                </xs:annotation>
            	<xs:complexType>
            		<xs:sequence>
		                <xs:element name="tpAtendimento"  minOccurs="0">
			                <xs:annotation>
				                <xs:appinfo>
					                <xhtml:label>Tipo atendimento</xhtml:label>
				                </xs:appinfo>
			                </xs:annotation>
			                <xs:simpleType>
			                <xs:restriction base="xs:string">
				                <xs:enumeration value="Demanda espontânea" />
				                <xs:enumeration value="Demanda encaminhada" />
				                <xs:enumeration value="Busca ativa" />
				                <xs:enumeration value="Visita domiciliar" />
				                <xs:enumeration value="Atendimentos no âmbito do CRAS" />
				                <xs:enumeration value="Atendimentos no âmbito do domicílio" />
			                </xs:restriction>
			                </xs:simpleType>
		                </xs:element>
		                <xs:element name="quantidade" minOccurs="0" type="xs:integer">
			                <xs:annotation>
				                <xs:appinfo>
					                <xhtml:label>Quantidade</xhtml:label>
				                </xs:appinfo>
			                </xs:annotation>
		                </xs:element>
		                <xs:element name="inscCadUn" minOccurs="0" type="xs:integer">
			                <xs:annotation>
				                <xs:appinfo>
					                <xhtml:label>Inscritos no cadastro único</xhtml:label>
				                </xs:appinfo>
			                </xs:annotation>
		                </xs:element>
                        <xs:element name="usuariosScfv" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Usuários SCFV</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        	<xs:complexType>
                        		<xs:sequence>
		                            <xs:element name="criancas" minOccurs="0" type="xs:integer">
			                            <xs:annotation>
				                            <xs:appinfo>
					                            <xhtml:label>crianças</xhtml:label>
				                            </xs:appinfo>
			                            </xs:annotation>
		                            </xs:element>
		                            <xs:element name="adolescentes" minOccurs="0" type="xs:integer">
			                            <xs:annotation>
				                            <xs:appinfo>
					                            <xhtml:label>Adolescentes</xhtml:label>
				                            </xs:appinfo>
			                            </xs:annotation>
		                            </xs:element>
		                            <xs:element name="idosos" minOccurs="0" type="xs:integer">
			                            <xs:annotation>
				                            <xs:appinfo>
					                            <xhtml:label>idosos</xhtml:label>
				                            </xs:appinfo>
			                            </xs:annotation>
		                            </xs:element>
		                        </xs:sequence>
	                        </xs:complexType>
			            </xs:element>
                        <xs:element name="beneficiarios" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Beneficiarios</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        	<xs:complexType>
                        		<xs:sequence>
                                        <xs:element name="pbfTotal" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>PBF total</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="pbfDescump" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>PBF Descump</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="be" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>BE</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="bpcIdoso" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>BPC idoso</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="bpcDeficiente" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>BPC deficiente</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="peti" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>PETI</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
		                        </xs:sequence>
	                        </xs:complexType>
			            </xs:element>
		            </xs:sequence>
	            </xs:complexType>
			</xs:element>
            <xs:element name="encaminhamentos" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Encaminhamentos</xhtml:label>
                    </xs:appinfo>
                </xs:annotation>
            	<xs:complexType>
		            <xs:sequence>
                        <xs:element name="socioassistCreas" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Rede socioassistencial CREAS</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="socioassistCreasPop" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Rede socioassistencial CREAS POP</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="socioassistfunci" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Rede socioassistencial FUNCI</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="socioassistConveniada" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Rede socioassistencial conveniada</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="socioassistCRMClotilde" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Rede socioassistencial CREAS</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="socioassistencialOutro" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Rede socioassistencial outro</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="politInterSetorSaude" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Políticas intersetoriais saúde</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="politInterSetorEducacao" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Políticas intersetoriais educação</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="politInterSetorSdh" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Políticas intersetoriais SDH</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="politInterSetorFunci" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Políticas intersetoriais FUNCI</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="politInterSetorHabit" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Políticas intersetoriais habitação</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="politInterSetorSde" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Políticas intersetoriais SDE</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="politInterSetorSgd" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Políticas intersetoriais SGD</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="politInterSetorTrab" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Políticas intersetoriais trabalho e emprego</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="politInterSetorOutro" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Políticas intersetoriais outros</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="requisicaoBpc" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Requisição BPC</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="etuforGratuit" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>ETUFOR gratuidade pessoas com deficiencia</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="outros" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Outros</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
		            </xs:sequence>
	            </xs:complexType>
			</xs:element>
            <xs:element name="famAcompPaf" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Famílias acompanhadas pelo PAF</xhtml:label>
                    </xs:appinfo>
                </xs:annotation>
            	<xs:complexType>
            		<xs:sequence>
		                <xs:element name="tpAtividade"  minOccurs="0">
			                <xs:annotation>
				                <xs:appinfo>
					                <xhtml:label>Tipo atividade</xhtml:label>
				                </xs:appinfo>
			                </xs:annotation>
			                <xs:simpleType>
			                <xs:restriction base="xs:string">
				                <xs:enumeration value="Inclusão de famílias no PAF" />
				                <xs:enumeration value="Desligamento de famílias no PAF" />
				                <xs:enumeration value="Famílias acompanhadas pelo PAF" />
				                <xs:enumeration value="Atendimento no âmbito do CRAS" />
				                <xs:enumeration value="Visita domiciliar" />
				                <xs:enumeration value="Atendimentos no âmbito do domicílio" />
			                </xs:restriction>
			                </xs:simpleType>
		                </xs:element>
		                <xs:element name="quantidadeAcompPaf" minOccurs="0" type="xs:integer">
			                <xs:annotation>
				                <xs:appinfo>
					                <xhtml:label>Quantidade</xhtml:label>
				                </xs:appinfo>
			                </xs:annotation>
		                </xs:element>
		                <xs:element name="inscCadUnAcompPaf" minOccurs="0" type="xs:integer">
			                <xs:annotation>
				                <xs:appinfo>
					                <xhtml:label>Inscritos no cadastro único</xhtml:label>
				                </xs:appinfo>
			                </xs:annotation>
		                </xs:element>
                        <xs:element name="usuariosScfv" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Usuários SCFV</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        	<xs:complexType>
                        		<xs:sequence>
		                            <xs:element name="criancasAcompPaf" minOccurs="0" type="xs:integer">
			                            <xs:annotation>
				                            <xs:appinfo>
					                            <xhtml:label>crianças</xhtml:label>
				                            </xs:appinfo>
			                            </xs:annotation>
		                            </xs:element>
		                            <xs:element name="adolescentesAcompPaf" minOccurs="0" type="xs:integer">
			                            <xs:annotation>
				                            <xs:appinfo>
					                            <xhtml:label>Adolescentes</xhtml:label>
				                            </xs:appinfo>
			                            </xs:annotation>
		                            </xs:element>
		                            <xs:element name="idososAcompPaf" minOccurs="0" type="xs:integer">
			                            <xs:annotation>
				                            <xs:appinfo>
					                            <xhtml:label>idosos</xhtml:label>
				                            </xs:appinfo>
			                            </xs:annotation>
		                            </xs:element>
		                        </xs:sequence>
	                        </xs:complexType>
			            </xs:element>
                        <xs:element name="beneficiarios" minOccurs="0">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Beneficiarios</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        	<xs:complexType>
                        		<xs:sequence>
                                        <xs:element name="pbfTotalAcompPaf" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>PBF total</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="pbfDescumpAcompPaf" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>PBF Descump</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="beAcompPaf" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>BE</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="bpcIdosoAcompPaf" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>BPC idoso</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="bpcDeficienteAcompPaf" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>BPC deficiente</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="petiAcompPaf" minOccurs="0" type="xs:integer">
                                            <xs:annotation>
                                                <xs:appinfo>
	                                                <xhtml:label>PETI</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
		                        </xs:sequence>
	                        </xs:complexType>
			            </xs:element>
		            </xs:sequence>
	            </xs:complexType>
			</xs:element>
           <xs:element name="ativEducativas" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Atividades sócioeducativas para famílias</xhtml:label>
                    </xs:appinfo>
                </xs:annotation>
            	<xs:complexType>
            		<xs:sequence>
                        <xs:element name="tpAtividadeEduc"  minOccurs="0">
			                <xs:annotation>
				                <xs:appinfo>
					                <xhtml:label>Tipo atividade</xhtml:label>
				                </xs:appinfo>
			                </xs:annotation>
			                <xs:simpleType>
			                <xs:restriction base="xs:string">
				                <xs:enumeration value="Grupo de famílias" />
				                <xs:enumeration value="Encontro socioeducativo com famílias do CadÚnico" />
			                </xs:restriction>
			                </xs:simpleType>
		                </xs:element>
                        <xs:element name="qtdEncontroMeta" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Qtd encontros meta</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="qtdEncontroRealizada" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Qtd encontros realizados</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="qtdIncritEncont" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Qtd inscritos no encontro</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="qtdParticEncont" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Qtd participantes no encontro</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="qtdMulEncont" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Qtd mulheres no encontro</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="qtdHomEncont" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Qtd homens no encontro</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="qtdInscCadUnico" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Qtd inscritos no CadÚnico</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="pbfAtvSocEduc" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Beneficiarios PBF</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="beAtvSocEduc" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Beneficiarios BE</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="bpcIdosoAtvSocEduc" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Beneficiarios BPC idoso</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="bpcDeficienteAtvSocEduc" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Beneficiarios BPC deficiente</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="petiAtvSocEduc" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Beneficiarios PETI</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="pafAtvSocEduc" minOccurs="0" type="xs:integer">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xhtml:label>Beneficiarios PAF</xhtml:label>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
		            </xs:sequence>
	            </xs:complexType>
			</xs:element>
            <xs:element name="ativEducativas" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <xhtml:label>Atividades sócioeducativas para famílias</xhtml:label>
                    </xs:appinfo>
                </xs:annotation>
            	<xs:complexType>
            		<xs:sequence>
		            </xs:sequence>
	            </xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
