acao-semas/schemas/semas-relatorio-quantitativo-mensal.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-quantitativo-mensal.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-quantitativo-mensal.xsd"
	elementFormDefault="qualified">

	<xs:element name="RelQtdMensal" type="RelQtdMensal">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>RELATORIO QUANTITATIVO MENSAL</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Proteção Social Básica,cn=Assistencia
						Social</class:classificacao>
				</class:classificacoes>
				<idx:index>
				</idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="RelQtdMensal">
		<xs:sequence>
			<xs:element name="ser" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>SER</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SER I" />
						<xs:enumeration value="SER II" />
						<xs:enumeration value="SER III" />
						<xs:enumeration value="SER IV" />
						<xs:enumeration value="SER V" />
						<xs:enumeration value="SER VI" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cras" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>CRAS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CRAS-PIRAMBU" />
						<xs:enumeration value="CRAS-BARRA DO CEARÁ" />
						<xs:enumeration value="CRAS-MUCURIPE" />
						<xs:enumeration value="CRAS-SERVILUZ" />
						<xs:enumeration value="CRAS-LAGAMAR" />
						<xs:enumeration value="CRAS-PRAIA DO FUTURO " />
						<xs:enumeration value="CRAS-BELA VISTA" />
						<xs:enumeration value="CRAS-QUINTINO CUNHA " />
						<xs:enumeration value="CRAS-VILA UNIÃO" />
						<xs:enumeration value="CRAS-SERRINHA" />
						<xs:enumeration value="CRAS-COUTO FERNANDES" />
						<xs:enumeration value="CRAS-GRANJA PORTUGAL" />
						<xs:enumeration value="CRAS-BOM JARDIM" />
						<xs:enumeration value="CRAS-MONDUBIM" />
						<xs:enumeration value="CRAS-GENIBAÚ" />
						<xs:enumeration value="CRAS-CONJUNTO ESPERANÇA" />
						<xs:enumeration value="CRAS-CANINDEZINHO" />
						<xs:enumeration value="CRAS-SIQUEIRA" />
						<xs:enumeration value="CRAS-SANTA ROSA" />
						<xs:enumeration value="CRAS-CONJUNTO ALVORADA" />
						<xs:enumeration value="CRAS-JARDIM DAS OLIVEIRAS" />
						<xs:enumeration value="CRAS-CASTELÃO" />
						<xs:enumeration value="CRAS-JOÃO PAULO II" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Mês</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Janeiro" />
						<xs:enumeration value="Fevereiro" />
						<xs:enumeration value="Março" />
						<xs:enumeration value="Abril" />
						<xs:enumeration value="Maio" />
						<xs:enumeration value="Junho" />
						<xs:enumeration value="Julho" />
						<xs:enumeration value="Agosto" />
						<xs:enumeration value="Setembro" />
						<xs:enumeration value="outubro" />
						<xs:enumeration value="Novembro" />
						<xs:enumeration value="Dezembro" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ano" minOccurs="0" type="xs:integer">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Ano</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="atendimentos" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Atendimentos</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tpAtendimento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo atendimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Demanda espontânea" />
									<xs:enumeration value="Demanda encaminhada" />
									<xs:enumeration value="Busca ativa" />
									<xs:enumeration value="Visita domiciliar" />
									<xs:enumeration value="Atendimentos no âmbito do CRAS" />
									<xs:enumeration value="Atendimentos no âmbito do domicílio" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="quantidade" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quantidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="inscCadUn" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Inscritos no cadastro único</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="usuariosScfv" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Usuários SCFV</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="criancas" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>crianças</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescentes" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Adolescentes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosos" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>idosos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="beneficiarios" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiarios</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pbfTotal" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PBF total</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="pbfDescump" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PBF Descump</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="be" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="bpcIdoso" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="bpcDeficiente" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="peti" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="encaminhamentos" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Encaminhamentos</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="socioassistCreas" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede socioassistencial CREAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="socioassistCreasPop" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede socioassistencial CREAS POP</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="socioassistfunci" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede socioassistencial FUNCI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="socioassistConveniada" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede socioassistencial conveniada</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="socioassistCRMClotilde" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede socioassistencial CREAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="socioassistencialOutro" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede socioassistencial outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politInterSetorSaude" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politInterSetorEducacao" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politInterSetorSdh" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais SDH</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politInterSetorFunci" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais FUNCI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politInterSetorHabit" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais habitação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politInterSetorSde" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais SDE</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politInterSetorSgd" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais SGD</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politInterSetorTrab" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais trabalho e emprego
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politInterSetorOutro" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="requisicaoBpc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Requisição BPC</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="etuforGratuit" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>ETUFOR gratuidade pessoas com deficiencia
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outros" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="famAcompPaf" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Famílias acompanhadas pelo PAF</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tpAtividade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo atividade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Inclusão de famílias no PAF" />
									<xs:enumeration value="Desligamento de famílias no PAF" />
									<xs:enumeration value="Famílias acompanhadas pelo PAF" />
									<xs:enumeration value="Atendimento no âmbito do CRAS" />
									<xs:enumeration value="Visita domiciliar" />
									<xs:enumeration value="Atendimentos no âmbito do domicílio" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="quantidadeAcompPaf" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quantidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="inscCadUnAcompPaf" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Inscritos no cadastro único</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="usuariosScfv" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Usuários SCFV</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="criancasAcompPaf" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>crianças</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescentesAcompPaf" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Adolescentes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idososAcompPaf" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>idosos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="beneficiarios" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiarios</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pbfTotalAcompPaf" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PBF total</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="pbfDescumpAcompPaf" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PBF Descump</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="beAcompPaf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="bpcIdosoAcompPaf" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="bpcDeficienteAcompPaf" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="petiAcompPaf" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ativEducativas" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Atividades sócioeducativas para famílias
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tpAtividadeEduc" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo atividade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Grupo de famílias" />
									<xs:enumeration
										value="Encontro socioeducativo com famílias do CadÚnico" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="qtdEncontroMeta" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qtd encontros meta</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="qtdEncontroRealizada" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qtd encontros realizados</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="qtdIncritEncont" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qtd inscritos no encontro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="qtdParticEncont" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qtd participantes no encontro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="qtdMulEncont" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qtd mulheres no encontro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="qtdHomEncont" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qtd homens no encontro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="qtdInscCadUnico" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qtd inscritos no CadÚnico</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="pbfAtvSocEduc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiarios PBF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="beAtvSocEduc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiarios BE</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="bpcIdosoAtvSocEduc" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiarios BPC idoso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="bpcDeficienteAtvSocEduc" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiarios BPC deficiente</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="petiAtvSocEduc" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiarios PETI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="pafAtvSocEduc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiarios PAF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="concessaoBeneficios">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Concessão de benefícios</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cartNacIdoso" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Carteira nacional do idoso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solicitado" />
									<xs:enumeration value="Não solicitado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="auxNatalidade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Auxílio natalidade - kit enxoval</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solicitação de usuários" />
									<xs:enumeration value="Concessão de usuários" />
									<xs:enumeration value="Demanda reprimida" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="auxFuneral" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Auxílio funeral</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solicitação de usuários" />
									<xs:enumeration value="Concessão de usuários" />
									<xs:enumeration value="Demanda reprimida" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="auxSan" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Auxílio relacionado à SAN (Cesta Básica, leite)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solicitação de usuários" />
									<xs:enumeration value="Concessão de usuários" />
									<xs:enumeration value="Demanda reprimida" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="riscos">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Situação de riscos identificadas</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="abusoSexual" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Abuso/exploração sexual de crianças e adolescentes
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="trabInfantil" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Trabalho infanto-juvenil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="jovemConflitoLei" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Jovens em conflito com a lei</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="maltratoCrianca" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência ou maus tratos contra
										crianças</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="maltratoIdoso" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso
										financeiro contra a pessoa idosa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="maltratoDeficiente" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso
										financeiro contra pessoa com deficiência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="maltratoTranstMental" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso
										financeiro contra pessoa com transtorno mental</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="discrimDeficiente" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas com deficiência afastadas do convívio
										social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="discrimTranstMental" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas com transtorno mental afastadas do
										convívio social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="famSemAlimento" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Famílias em situação de insegurança alimentar
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="violenciaUrbana" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Violência urbana</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="violenciaMulher" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Violência doméstica contra mulher</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="riscoHabitacao" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Risco habitacional </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="medicancia" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Mendicância</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="moradorRua" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoa em situação de rua</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="drogas" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Drogadição/ alcoolismo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="carcerePrivado" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Cárcere privado </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="discriminacao" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Discriminação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="semDocumento" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoa sem documentação civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="traficHumano" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tráfico de seres humanos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="TraficHumanoSexual" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tráfico de seres humanos para fins sexuais
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="turismoSexual" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Turismo sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="criancaForaEscola" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Criança e/ou adolescente fora da escola
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outrosRiscos" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outras</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="articulacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Articulação comunitária/participação popular
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="articAtvidade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="articPublico" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Publico</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ArticQtdParticipantes" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qtd participantes</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="articulacaoRede">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Articulação de rede</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="redeSocAssistencial">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede socioassistencial</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="socioVisitasCreas" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais CREAS</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioVisitasPop" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais centro POP</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioVisitasCRM" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais CRM Fca Clotilde
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioVisitasConvenio" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais conveniada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioVisitasOutros" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioReuniaoCreas" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reuniões intitucionais CREAS</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioReuniaoPop" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reuniões intitucionais centro POP</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioReuniaoCRM" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reuniões intitucionais CRM Fca Clotilde
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioReuniaoConvenio" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reuniões intitucionais conveniada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioReuniaoOutros" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reuniões intitucionais outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioEventoCreas" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Eventos intitucionais CREAS</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioEventoPop" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Eventos intitucionais centro POP</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioEventoCRM" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Eventos intitucionais CRM Fca Clotilde
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioEventoConvenio" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Eventos intitucionais conveniada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="socioEventoOutros" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Eventos intitucionais outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="politicaIntersetorial">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Política intersetorial</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="politicaVisitasSaude" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaVisitasEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais Educação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaVisitasSde" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais SDE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaVisitasSdh" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais SDH</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaVisitashabitacao"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais habitação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaVisitasOutros" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas intitucionais outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaReuniaoSaude" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reunião intitucionais saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaReuniaoEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reunião intitucionais Educação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaReuniaoSde" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reunião intitucionais SDE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaReuniaoSdh" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reunião intitucionais SDH</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaReuniaohabitacao"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reunião intitucionais habitação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaReuniaoOutros" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reunião intitucionais outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaEventoSaude" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Evento intitucionais saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaEventoEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Evento intitucionais Educação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaEventoSde" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Evento intitucionais SDE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaEventoSdh" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Evento intitucionais SDH</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaEventohabitacao"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Evento intitucionais habitação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="politicaEventoOutros" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Evento intitucionais outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="outasAtividades">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Outras atividades</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="outrasVisitas" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outras visitas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="reuniaoInterna" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Reuniao interna da equipe</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="capacitacao" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Capacitações/Formações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="planejamento" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Reuniões de planejamentos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="reuniaoCoord" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Reuniões de Coordenação de CRAS/SEMAS
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outrasAtividades" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outras atividades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="atividadesColetiva">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Atividades coletivas</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="criancas">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Crianças e Adolescentes de 6 a 15 anos
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="criancaEncontroMeta" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encontros meta</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancaEncontroRealizada"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encontros realizados</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancaIncritEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancaParticEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participantes no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancaMulEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Mulheres no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancaHomEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Homens no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancaInscCadUnico" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancapbfAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancabeAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancabpcIdosoAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancabpcDeficienteAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="criancapetiAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="adolescente">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Adolescentes e Jovens de 15 a 17 anos
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="adolescEncontroMeta" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encontros meta</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescEncontroRealizada"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encontros realizados</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescIncritEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescParticEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participantes no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescMulEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Mulheres no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescHomEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Homens no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescInscCadUnico" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescpbfAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescbeAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescbpcIdosoAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescbpcDeficienteAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescpetiAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="idosoConvivencia">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Idoso G. Convivência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="idosoConvEncontroMeta" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encontros meta</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvEncontroRealizada"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encontros realizados</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvIncritEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvParticEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participantes no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvMulEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Mulheres no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvHomEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Homens no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvInscCadUnico" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvpbfAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvbeAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvbpcIdosoAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvbpcDeficienteAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoConvpetiAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="idosoArtistico">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Idoso G. Artístico</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="idosoArtEncontroMeta" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encontros meta</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtEncontroRealizada"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encontros realizados</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtIncritEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtParticEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participantes no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtMulEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Mulheres no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtHomEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Homens no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtInscCadUnico" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtpbfAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtbeAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtbpcIdosoAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtbpcDeficienteAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idosoArtpetiAtvSocEduc" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="encSocioduc">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Encontro socioeducativo com famílias do Serviço de
										Convivência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="encSocioducEncontroMeta"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encontros meta</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducEncontroRealizada"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encontros realizados</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducIncritEncont"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducParticEncont"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participantes no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducMulEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Mulheres no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducHomEncont" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Homens no encontro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducInscCadUnico"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inscritos no CadÚnico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducpbfAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducbeAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducbpcIdosoAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducbpcDeficienteAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="encSocioducpetiAtvSocEduc"
										minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Beneficiarios PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="encSocioduc">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outras atividades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="capacitacaoAtv" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Capacitações/Formações</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="reuniaoInternaAtv" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reuniao interna da equipe</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="planejamentoAtv" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Reuniões de planejamentos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="eventosAtv" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Eventos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="outrosAtv" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="observacoes" minOccurs="0"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Observções</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
