acao-semas/schemas/semas-relatorio-gestao.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-gestao.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-gestao.xsd"
	elementFormDefault="qualified">

	<xs:element name="formRelatorioGestao" type="formRelatorioGestao">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>RELATÓRIO DE GESTÃO</xhtml:label>
				<class:classificacoes>
                    <class:classificacao>cn=Relatórios Gestão PSB,cn=Assistencia Social</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formRelatorioGestao">
		<xs:sequence>
		

			<xs:element name="identificacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Identificação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="ser" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Regional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="SER I" />
									<xs:enumeration value="SER II" />
									<xs:enumeration value="SER III" />
									<xs:enumeration value="SER IV" />
									<xs:enumeration value="SER V" />
									<xs:enumeration value="SER VI" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="cras" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CRAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="CRAS-BARRA DO CEARÁ" />
									<xs:enumeration value="CRAS-PIRAMBU" />
									<xs:enumeration value="CRAS-LAGAMAR" />
									<xs:enumeration value="CRAS-MUCURIPE" />
									<xs:enumeration value="CRAS-PRAIA DO FUTURO II" />
									<xs:enumeration value="CRAS-SERVILUZ" />
									<xs:enumeration value="CRAS-BELA VISTA" />
									<xs:enumeration value="CRAS-QUINTINO CUNHA " />
									<xs:enumeration value="CRAS-COUTO FERNANDES" />
									<xs:enumeration value="CRAS-SERRINHA" />
									<xs:enumeration value="CRAS-VILA UNIÃO" />
									<xs:enumeration value="CRAS-ARACAPÉ" />
									<xs:enumeration value="CRAS-BOM JARDIM" />
									<xs:enumeration value="CRAS-CONJUNTO ESPERANÇA" />
									<xs:enumeration value="CRAS-GRANJA PORTUGAL" />
									<xs:enumeration value="CRAS-GENIBAÚ" />
									<xs:enumeration value="CRAS-MONDUBIM" />
									<xs:enumeration value="CRAS-CANINDEZINHO" />
									<xs:enumeration value="CRAS-CASTELÃO" />
									<xs:enumeration value="CRAS-CONJUNTO PALMEIRAS" />
									<xs:enumeration value="CRAS-DENDÊ" />
									<xs:enumeration value="CRAS-JARDIM DAS OLIVEIRAS" />
									<xs:enumeration value="CRAS-JOÃO PAULO II" />
									<xs:enumeration value="CRAS-ITINEREANTE" />						
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="mes" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Mês</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Janeiro" />
									<xs:enumeration value="Fevereiro" />
									<xs:enumeration value="Março" />
									<xs:enumeration value="Abril" />
									<xs:enumeration value="Maio" />
									<xs:enumeration value="Junho" />
									<xs:enumeration value="Julho" />
									<xs:enumeration value="Agosto" />
									<xs:enumeration value="Setembro" />
									<xs:enumeration value="outubro" />
									<xs:enumeration value="Novembro" />
									<xs:enumeration value="Dezembro" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ano" minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ano</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="servprogbenacaolist" minOccurs="0" maxOccurs="20">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Serviço/Programa/Projeto/Benefício/Ação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="servico" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Serviço</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="1.Serviço de Proteçao e Atendimento Integral a Familia-PAIF" />
									<xs:enumeration value="2.Serviço de Convivência e Fortalecimento de Vínculos para Crianças de 6 a 15 anos" />
									<xs:enumeration value="3.Serviço de Convivência e Fortalecimento de Vínculos para Adolescentes e Jovens de 
											15 a 17 anos- Projovem Adolescente" />
									<xs:enumeration value="4.Serviço de Convivência e Fortalecimento de Vínculos para Pessoas Idosas-Progama de 
											Atendimento Básico à Pessoa Idosa - PABI" />
									<xs:enumeration value="5.Gestão Territorial da Proteção Social Básica" />
									<xs:enumeration value="6.Núcleo de Partipação Popular-NUPP" />
									<xs:enumeration value="7.Concessão de Benefícios Eventuais" />
									<xs:enumeration value="8.Outro" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="outroservespec" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique Outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


						<xs:element name="ativrealizada1" minOccurs="0" maxOccurs="2">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividades Realizadas(Se Serviço 1)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="recepcao" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Recepção e acolhida</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="acompanhamentoFamilia" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Acompanhamento de famílias</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="acompanhamentoIndividuo" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Acompanhamento de indivíduos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="grupo" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Grupo/oficina de convivência e atividades socioeducativas com famílias</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="visita" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Visitas domiciliares</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="deslocamento" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Deslocamento da Equipe para atendimento em localidades distantes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="acompanhamentoDescumprimento" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Acompanhamento de famílias em descumprimento de condicionalidades</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="acompanhamentoDescumprimento" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Acompanhamento a beneficiários e famílias benefiárias do BPC</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="acompanhamentoPeti" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Acompanhamento a famílias integradas do PETI(após contrarreferenciamento do PAEFI) </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="acompanhamentoBeneficioEventual" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Acompanhamento a famílias atendidas com benefícios eventuais</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="encaminhamentoServicoSocioassistencial" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encaminhamento de famílias ou indivíduos para a rede de serviço Socioassistencial </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="encaminhamentoPoliticaPublica" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encaminhamento de famílias ou indivíduos para outras politicas públicas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="encaminhamentoBeneficioEventual" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encaminhamento para obtenção de benefícios eventuais </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="encamInsercaoCadastroUnico" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Encaminhamento para inserção de famílias ou indivíduos de famílias no cadastro unico </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="orientacaoInsercaoBpc" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Orientação/acompanhamento para inserção do BPC</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="acompEncaminhamentoRealizado" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Acompanhamento dos encaminhamentos realizados</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="palestra" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Palestras</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element> 

									<xs:element name="apoioObtencaoDocumentacao" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Apoio para obtenção de documentação pessoal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outrosativreal" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outrosativrealespec" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="ativrealizada2" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividades Realizadas(Demais Serviços)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="meta">

							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Meta</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="metaProgamada" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Progamada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="metaExecutada" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Executada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>


						<xs:element name="resultados" minOccurs="0"  type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Resultados/Produtos obtidos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="aspectosFacilitadores" minOccurs="0"  type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Aspectos facilitadores</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="aspectosDificultadores" minOccurs="0"  type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Aspectos dificultadores</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="propostaSuperacao" minOccurs="0"  type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Proposta de superação das dificuldades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="demandas" minOccurs="0"  type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Demandas do setor/Equipamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>	


			<xs:element name="nomeresp" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nome do Responsável</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="datcadastro" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
