acao-semas/schemas/semas-ficha-especifica-do-creas.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-ficha-especifica-do-creas.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-ficha-especifica-do-creas.xsd"
	elementFormDefault="qualified">

	<xs:element name="formFichaEspecificaCreas" type="formFichaEspecificaCreas">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>Ficha Específica do CREAS</xhtml:label>
				<class:classificacoes>
                    <class:classificacao>cn=Proteção Social Especial,cn=Assistencia Social</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formFichaEspecificaCreas">
		<xs:sequence>
		
		
			<xs:element name="numeronis" minOccurs="1" maxOccurs="11" type="xs:integer">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>NIS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>


			<xs:element name="identificacaoagressor">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1. Identificação do Agressor</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="conssubpsicoativ"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.1 Identificação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Identificado" />
									<xs:enumeration value="Não-identificado" />
									<xs:enumeration value="Auto-negligente" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="qdeagressores"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.2 Quantidade de agressores</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="residemesmodom"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.3 Reside no mesmo domicílio</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="idade"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.4 Idade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="menos 18 anos" />
								<xs:enumeration value="30 a 39 anos" />
								<xs:enumeration value="50 a 59 anos" />
								<xs:enumeration value="18 a 29 anos" />
								<xs:enumeration value="40 a 49 anos" />
								<xs:enumeration value="60 ou mais" />
								<xs:enumeration value="Não informado" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="relparentvitima"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.5 Apresenta relação de parentesco com a vítima</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="relparentvitafirm"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso afirmativo, assinalar abaixo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Pai" />
									<xs:enumeration value="Mãe" />
									<xs:enumeration value="Padastro" />
									<xs:enumeration value="Madastra" />
									<xs:enumeration value="Irmão" />
									<xs:enumeration value="Irmã" />
									<xs:enumeration value="Filho" />
									<xs:enumeration value="Filha" />
									<xs:enumeration value="Companheiro" />
									<xs:enumeration value="Companheira" />
									<xs:enumeration value="Genro" />
									<xs:enumeration value="Nora" />
									<xs:enumeration value="Sobrinho" />
									<xs:enumeration value="Sobrinha" />
									<xs:enumeration value="Neto" />
									<xs:enumeration value="Neta" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="relparentvitneg"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso negativo, assinalar abaixo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Vizinho" />
									<xs:enumeration value="Vizinha" />
									<xs:enumeration value="Cuidador" />
									<xs:enumeration value="Cuidadora" />
									<xs:enumeration value="Agregado" />
									<xs:enumeration value="Agregada" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="relparentvitnegoutr" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="indicalcooldroga"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.6 Apresenta indícios de uso de álcool/droga</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Ignorado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="indicalcooldrogaafirm" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de substância</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="indtranstornomensal"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.7 Apresenta indícios de transtorno mensal</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Ignorado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="tipodenuncia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2. Tipo da Denúncia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="abusoviolfis" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.1 Abuso, maus tratos ou violência física</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="abusoviolpsico" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.2 Abuso, maus tratos ou violência psicológica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="abusoviolsex" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.3 Abuso ou violência sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="abandono" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.4 Abandono</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="negligencia" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.5 Negligência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="abusofinecon" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.6 Abuso Financeiro e Econômico</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="autoneglig" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.7 Auto-negligência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="negliginstitucional" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.8 Negligência Institucional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="observac" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
			
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			
			<xs:element name="origemdenuncia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3. Origem da Denúncia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="oridenouvidoria" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.1 Ouvidorias</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="oridensemas" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.2 SEMAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridendasser" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.3 DAS/SER </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="oridencras" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.4 CRAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridenminpub" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.5 Ministério Público</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridencreas" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.6 CREAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridendiskdir" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.7 Disque Direitos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridenoutra" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.8 Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridenoutraespec" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
			
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="sitapresent" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>4. Situação Apresentada</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>


			<xs:element name="sitviolintrafamiliar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>5. REGISTRO DE VOLUME DE SITUAÇÕES DE VIOLÊNCIA INTRAFAMILIAR E OUTRAS VIOLAÇÕES DE DIREITOS </xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="crianadolviolintrafam"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.1. Criança ou adolescente vítimas de violência intrafamiliar, especificado segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Feminino" />
									<xs:enumeration value="Masculino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="crianadolviolintrafamfx"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.1.1 Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="0 a 12 anos" />
									<xs:enumeration value="13 a 17 anos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="crianadolabussex"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.2 - Crianças ou adolescentes vítimas de abuso sexual especificada segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Feminino" />
									<xs:enumeration value="Masculino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="crianadolabussexfx"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.2.1 - Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="0 a 12 anos" />
									<xs:enumeration value="13 a 17 anos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="crianadolexplsex"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.3 - Crianças ou adolescentes vítimas de exploração sexual, especificada segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Feminino" />
									<xs:enumeration value="Masculino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="crianadolexplsexfx"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.3.1 - Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="0 a 12 anos" />
									<xs:enumeration value="13 a 17 anos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="crianadolnegligabando"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.4 - Crianças ou adolescentes vítimas de negligência ou abandono, especificada segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Feminino" />
									<xs:enumeration value="Masculino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="crianadolnegligabando"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.4.1 - Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="0 a 12 anos" />
									<xs:enumeration value="13 a 17 anos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="crianadoltrabinf"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.5 - Crianças ou adolescentes em situação de trabalho infantil, especificada segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Feminino" />
									<xs:enumeration value="Masculino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="crianadoltrabinf"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.5.1 - Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="0 a 12 anos" />
									<xs:enumeration value="13 a 17 anos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="idosoviolintrafam"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.6 - Pessoas idosas – 60 anos ou mais – vítimas de violência intrafamiliar, especificada segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Feminino" />
									<xs:enumeration value="Masculino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="idosonegligabando"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.7 - Pessoas idosas – 60 anos ou mais – vítimas de negligência ou abandono, especificada segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Feminino" />
									<xs:enumeration value="Masculino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pesdefviolintrafam"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.8 - Pessoas com deficiência, vítimas de violência intrafamiliar, especificada segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Feminino" />
									<xs:enumeration value="Masculino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pesdefviolintrafamfx"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.8.1 - Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Faixa etária: 0 a 12 anos" />
									<xs:enumeration value="Faixa etária: 13 a 17 anos" />
									<xs:enumeration value="Faixa etária: 18 a 59 anos" />
									<xs:enumeration value="Faixa etária: 60 anos ou mais" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pesdefviolintrafam"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.9 - Pessoas com deficiência vítimas de negligencia ou abandono, especificada segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Feminino" />
									<xs:enumeration value="Masculino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pesdefviolintrafamfx"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.9.1 - Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Faixa etária: 0 a 12 anos" />
									<xs:enumeration value="Faixa etária: 13 a 17 anos" />
									<xs:enumeration value="Faixa etária: 18 a 59 anos" />
									<xs:enumeration value="Faixa etária: 60 anos ou mais" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="mulhervitviolintrafam"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.10 - Mulheres adultas – vítimas de violência intrafamiliar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="18 a 59 anos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pessvittrafserhum"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.11 - Pessoas vítimas de tráfico de seres humanos, especificada segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Masculino" />
									<xs:enumeration value="Feminino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pessvittrafserhumfx"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.11.1 - Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Faixa etária: 0 a 12 anos" />
									<xs:enumeration value="Faixa etária: 13 a 17 anos" />
									<xs:enumeration value="Faixa etária: 18 a 59 anos" />
									<xs:enumeration value="Faixa etária: 60 anos ou mais" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


						<xs:element name="pessdiscorientsex"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.12 - Pessoas vítimas de discriminação por orientação sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Masculino" />
									<xs:enumeration value="Feminino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pessositrua"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.13 - Pessoas em situação de rua, especificada segundo o sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Masculino" />
									<xs:enumeration value="Feminino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pessositruafx"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.13.1 - Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Faixa etária: 0 a 12 anos" />
									<xs:enumeration value="Faixa etária: 13 a 17 anos" />
									<xs:enumeration value="Faixa etária: 18 a 59 anos" />
									<xs:enumeration value="Faixa etária: 60 anos ou mais" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="encaminhcaso"  minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>6. Encaminhamentos do Caso</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PAEFI" />
						<xs:enumeration value="PAE" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="encaminoutroservs">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>7. Encaminhamentos para outros serviços</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="redesocassist"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede Socioassistencial</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="CRAS" />
									<xs:enumeration value="CREAS" />
									<xs:enumeration value="CCA" />
									<xs:enumeration value="CRM" />
									<xs:enumeration value="Casa de Passagem" />
									<xs:enumeration value="Entidade Conveniada" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="entidconveniada" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual entidade conveniada?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="politintersetoriais"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Saúde" />
									<xs:enumeration value="Educação" />
									<xs:enumeration value="SDE" />
									<xs:enumeration value="SDH" />
									<xs:enumeration value="Previdência Social" />
									<xs:enumeration value="Habitação" />
									<xs:enumeration value="SGD" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="politintersetoriaisoutro" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
			
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="evolucdocaso" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>8. Evolução do caso</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="tecresponsavel" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Técnico(a) responsável</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="datcadastro" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
