acao-semas/schemas/semas-relatorio-quantitativo-mensal.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-quantitativo-mensal.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-relatorio-quantitativo-mensal.xsd"
	elementFormDefault="qualified">

	<xs:element name="formRelatQuantMensal" type="formRelatQuantMensal">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>RELATÓRIO QUANTITATIVO MENSAL</xhtml:label>
				<class:classificacoes>
                    <class:classificacao>cn=Relatórios PSB,cn=Assistencia Social</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formRelatQuantMensal">
		<xs:sequence>


			<xs:element name="identificacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>IDENTIFICAÇÃO</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="ser" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Regional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="SER I" />
									<xs:enumeration value="SER II" />
									<xs:enumeration value="SER III" />
									<xs:enumeration value="SER IV" />
									<xs:enumeration value="SER V" />
									<xs:enumeration value="SER VI" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="cras" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CRAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="CRAS-BARRA DO CEARÁ" />
									<xs:enumeration value="CRAS-PIRAMBU" />
									<xs:enumeration value="CRAS-LAGAMAR" />
									<xs:enumeration value="CRAS-MUCURIPE" />
									<xs:enumeration value="CRAS-PRAIA DO FUTURO II" />
									<xs:enumeration value="CRAS-SERVILUZ" />
									<xs:enumeration value="CRAS-BELA VISTA" />
									<xs:enumeration value="CRAS-QUINTINO CUNHA " />
									<xs:enumeration value="CRAS-COUTO FERNANDES" />
									<xs:enumeration value="CRAS-SERRINHA" />
									<xs:enumeration value="CRAS-VILA UNIÃO" />
									<xs:enumeration value="CRAS-ARACAPÉ" />
									<xs:enumeration value="CRAS-BOM JARDIM" />
									<xs:enumeration value="CRAS-CONJUNTO ESPERANÇA" />
									<xs:enumeration value="CRAS-GRANJA PORTUGAL" />
									<xs:enumeration value="CRAS-GENIBAÚ" />
									<xs:enumeration value="CRAS-MONDUBIM" />
									<xs:enumeration value="CRAS-CANINDEZINHO" />
									<xs:enumeration value="CRAS-CASTELÃO" />
									<xs:enumeration value="CRAS-CONJUNTO PALMEIRAS" />
									<xs:enumeration value="CRAS-DENDÊ" />
									<xs:enumeration value="CRAS-JARDIM DAS OLIVEIRAS" />
									<xs:enumeration value="CRAS-JOÃO PAULO II" />
									<xs:enumeration value="CRAS-ITINEREANTE" />		
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="mes" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Mês</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Janeiro" />
									<xs:enumeration value="Fevereiro" />
									<xs:enumeration value="Março" />
									<xs:enumeration value="Abril" />
									<xs:enumeration value="Maio" />
									<xs:enumeration value="Junho" />
									<xs:enumeration value="Julho" />
									<xs:enumeration value="Agosto" />
									<xs:enumeration value="Setembro" />
									<xs:enumeration value="outubro" />
									<xs:enumeration value="Novembro" />
									<xs:enumeration value="Dezembro" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="ano" minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ano</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="atendimentos" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.1 ATENDIMENTOS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="tpAtendimento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo atendimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Demanda espontânea" />
									<xs:enumeration value="Demanda encaminhada" />
									<xs:enumeration value="Busca ativa" />
									<xs:enumeration value="Visita domiciliar" />
									<xs:enumeration value="TOTAL" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="quantidade" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quantidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="insccaduni" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Inscritos no cadastro único</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="ususcfv">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Usuários SCFV</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="criancas" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de Crianças</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="adolescentes" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de Adolescentes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="idosos" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de Idosos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						
						</xs:element>
						
						<xs:element name="beneficiarios">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiários</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="pbfTotal" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PBF Total</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pbfDescump" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PBF Descumprimento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="be" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcIdoso" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcDeficiente" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="peti" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>

						</xs:element>

					</xs:sequence>

				</xs:complexType>

			</xs:element>


			<xs:element name="encamRedeSocioAssistencial" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.2.1 ENCAMINHAMENTOS - Rede Socioassistencial</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="socioassistCreas" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="socioassistCentroPop" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CENTRO POP</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="socioassistMSE" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>MSE</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="socioassistAquarela" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede Aquarela</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="socioassistConveniada" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Conveniada</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="socioassistCRMClotilde" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CRM Fca. Clotilde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="socioassistencialOutro" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="encamPolitIntersetorial" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.2.2 ENCAMINHAMENTOS - Político Intersetoriais</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="politInterSetorSaude" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politInterSetorEducacao" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politInterSetorSdh" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SDH</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politInterSetorHabit" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Habitação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politInterSetorSde" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SDE</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politInterSetorSgd" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SGD</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politInterSetorTrab" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Trabalho e emprego</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="politInterSetorOutro" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			
			<xs:element name="encamRequisicaoBpc">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.2.3 ENCAMINHAMENTOS - Requisição BPC</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="requisicaoBpc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Requisição de BPC</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			
			<xs:element name="encamEtufor">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.2.4 ENCAMINHAMENTOS - ETUFOR</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="etuforGratuit" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>ETUFOR gratuidade pessoas com deficiência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			

			<xs:element name="encamOutros" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.2.5 ENCAMINHAMENTOS - Outros</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="outrosencamin" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="outrosencaminespec" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="famAcompPaf" minOccurs="0" maxOccurs="6">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.3 FAMÍLIAS ACOMPANHADAS PELO PAF Famílias</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="tpAtividade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo atividade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Inclusão de famílias no PAF" />
									<xs:enumeration value="Desligamento de famílias no PAF" />
									<xs:enumeration value="Famílias acompanhadas pelo PAF" />
									<xs:enumeration value="Atendimento no âmbito do CRAS" />
									<xs:enumeration value="Visita domiciliar" />
									<xs:enumeration value="Atendimentos no âmbito do domicílio" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="quantidadeAcompPaf" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quantidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="inscCadUnAcompPaf" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Inscritos no cadastro único</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="usuariosScfv" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Usuários SCFV</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>
									<xs:element name="criancasAcompPaf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de Crianças</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="adolescentesAcompPaf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de Adolescentes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="idososAcompPaf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de Idosos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="beneficiarios" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiários(as)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pbfTotalAcompPaf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de PBF total</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="pbfDescumpAcompPaf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de PBF Descumprimento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="beAcompPaf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="bpcIdosoAcompPaf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="bpcDeficienteAcompPaf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="petiAcompPaf" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nº de PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>


			<xs:element name="ativEducativas" minOccurs="0"  maxOccurs="2">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.4 ATIVIDADES SOCIOEDUCATIVAS PARA FAMÍLIAS(GRUPO)</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="tpAtividadeEduc" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo atividade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Grupo de famílias" />
									<xs:enumeration value="Encontro socioeducativo com famílias do PBF" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="qtdEncontroMeta" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de encontros meta</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="qtdEncontroRealizada" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de encontros realizados</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="qtdIncritEncont" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de inscritos no encontro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="qtdParticEncont" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de participantes no encontro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="qtdMulEncont" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de mulheres no encontro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="qtdHomEncont" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de homens no encontro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="qtdInscCadUnico" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de inscritos no CadÚnico</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						
						<xs:element name="ativSocEducBeneficiarios">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Beneficiários</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							
							<xs:complexType>
								<xs:sequence>
								
									<xs:element name="pbfAtvSocEduc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PBF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="beAtvSocEduc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcIdosoAtvSocEduc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BPC idoso</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="bpcDeficienteAtvSocEduc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>BPC deficiente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="petiAtvSocEduc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PETI</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pafAtvSocEduc" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>PAF</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								
								</xs:sequence>
							</xs:complexType>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="beneficiosEventuais" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.5.1 BENEFÍCIOS EVENTUAIS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="benEventual" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo Benefício</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Auxílio Natalidade - Kit Enxoval" />
									<xs:enumeration value="Auxílio Funeral" />
									<xs:enumeration value="Auxílio relacionado à SAN(Cesta básica)" />
									<xs:enumeration value="Auxílio Viagem" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="tipbenOutros" minOccurs="0"  type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique/Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="benSolicUsuarios" minOccurs="0"  type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Solicitação de usuários</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="benConcUsuarios" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Concessão de usuários</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="benDemReprim" minOccurs="0"  type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Demanda reprimida</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>

			<xs:element name="riscos">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.6 SITUAÇÕES DE RISCO IDENTIFICADAS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="abusoSexual" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Abuso/exploração sexual de crianças e adolescentes</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="trabInfantil" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Trabalho infanto-juvenil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="jovemConflitoLei" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Jovens em conflito com a lei</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="maltratoCrianca" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência ou maus tratos contra crianças</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="maltratoIdoso" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra a pessoa idosa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="maltratoDeficiente" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra pessoa com deficiência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="maltratoTranstMental" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Negligência, violência, maus tratos ou abuso financeiro contra pessoa com transtorno mental</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="discrimDeficiente" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas com deficiência afastadas do convívio social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="discrimTranstMental" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas com transtorno mental afastadas do convívio social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="famSemAlimento" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Famílias em situação de insegurança alimentar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="violenciaUrbana" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Violência urbana</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="violenciaMulher" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Violência doméstica contra mulher</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="riscoHabitacao" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Risco habitacional </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="medicancia" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Mendicância</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="moradorRua" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoa em situação de rua</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="drogas" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Drogadição/alcoolismo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="carcerePrivado" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Cárcere privado </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="discriminacao" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Discriminação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="semDocumento" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoa sem documentação civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="traficHumano" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tráfico de seres humanos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="TraficHumanoSexual" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tráfico de seres humanos para fins sexuais</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="turismoSexual" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Turismo sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="criancaForaEscola" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Criança e/ou adolescente fora da escola</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outrosRiscos" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outras</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>

			</xs:element>

			<xs:element name="articulacao" minOccurs="0" maxOccurs="20">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.7 ARTICULAÇÃO COMUNITÁRIA/PARTICIPAÇÃO POPULAR</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="articAtvidade" minOccurs="0"  type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividade(reuniões, oficinas, fóruns, seminários, outros)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="articPublico" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Público(lideranças-formais e informais, famílias, outros)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="ArticQtdParticipantes" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de participantes</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>

			</xs:element>


			<xs:element name="articRedeSocAssist" minOccurs="0" maxOccurs="3" >
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.8.1 ARTICULAÇÃO DE REDE - Rede socioassistencial</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="articRedeSocAssistAtiv" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Auxílio natalidade - kit enxoval" />
									<xs:enumeration value="Auxílio funeral" />
									<xs:enumeration value="Auxílio relacionado à SAN(Cesta Básica, leite)" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="socioVisitasCreas" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="socioVisitasPop" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CENTRO POP</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="socioVisitasCRM" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CRM Fca Clotilde
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="socioVisitasConvenio" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Conveniada</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="socioVisitasOutros" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="articRedePolicInter" minOccurs="0" maxOccurs="3" >
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.8.2 ARTICULAÇÃO DE REDE - Política intersetorial</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="articRedePolicInterAtiv" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Visitas intitucionais" />
									<xs:enumeration value="Reunião" />
									<xs:enumeration value="Eventos" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="politSaude" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politEduc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politSde" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SDE</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politSdh" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SDH</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politHabit" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Habitação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politOutros" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="politOutrosEsp" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especificação Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>


			<xs:element name="articRedeOutros">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.8.3 ARTICULAÇÃO DE REDE - Outros</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="outrasVisitas" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº Outras visitas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="reuniaoInterna" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº Reunião interna da equipe</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="capacitacao" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº Capacitações/Formações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="planejamento" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº Reuniões de planejamentos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="reuniaoCoord" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº Reuniões de Coordenação de CRAS/SEMAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outrasAtividades" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº Outras atividades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>
			
			
			<xs:element name="atividadesColetivas" minOccurs="0" maxOccurs="6">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2.1 ATIVIDADES COLETIVAS(GRUPOS)</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="ativColetTipo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atividade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Criança e Adolescente de 6 a 15 anos" />
									<xs:enumeration value="Adolescente e Jovens de 15 a 17 anos" />
									<xs:enumeration value="Idosos(PABI) G.Convivência" />
									<xs:enumeration value="Idosos(PABI) G.Artístico" />
									<xs:enumeration value="Encontro Socioeducativo com famílias do Serviço de Convivência" />
									<xs:enumeration value="TOTAL" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="criancaEncontroMeta" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Meta proposta</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancaEncontroRealizada" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Meta Realizada</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancaIncritEncont" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de inscritos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancaParticEncont" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Participantes</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancaMulEncont" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Mulheres</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancaHomEncont" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Homens</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancaInscCadUnico" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Inscritos no CadÚnico</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancapbfAtvSocEduc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº PBF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancabeAtvSocEduc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº BE</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancabpcIdosoAtvSocEduc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº BPC idoso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancabpcDeficienteAtvSocEduc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº BPC deficiente</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="criancapetiAtvSocEduc" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº PETI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>


			<xs:element name="encSocioEducOutrasAtiv">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2.2 OUTRAS ATIVIDADES</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

					<xs:complexType>
						<xs:sequence>

							<xs:element name="capacitacaoAtv" minOccurs="0" type="xs:integer">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Quant. Capacitações/Formações</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>

							<xs:element name="reuniaoInternaAtv" minOccurs="0" type="xs:integer">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Quant. Reunião interna da equipe</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>

							<xs:element name="planejamentoAtv" minOccurs="0" type="xs:integer">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Quant. Reuniões de planejamentos</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>

							<xs:element name="eventosAtv" minOccurs="0" type="xs:integer">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Quant. Eventos</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>

							<xs:element name="outrosAtv" minOccurs="0" type="xs:integer">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Quant. Outros</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>

						</xs:sequence>
					</xs:complexType>
			</xs:element>
			
			<xs:element name="atendimentofam">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.1 Atendimento familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="numeroFamOrient" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Famílias orientadas, informadas, encaminhadas pelos atendentes e cadastradores</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="numeroCadunico" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Famílias incluídas no CADÚNICO</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="numeroAtualiazado" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Famílias com Cadastro Atualizado</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="numeroAtualiazado" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Declarações de NIS expedidas	</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="acompFamiliar">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.2 Acompanhamento Familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="numeroSicon" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Famílias acompanhadas e informadas no SICON</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="numeroDeferidos" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de recursos on line deferidos </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="numerosIndeferidos" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de recursos on line indeferidos </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="numeroDenunciar" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de denúncias recebidas </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="numeroVisita" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de visitas/contatos institucionais realizados</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			
			<xs:element name="acoesComplementares">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.3 Ações Complementares</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="inscPronatec" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de inscritos no PRONATEC</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="numEncontAtiv" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de encontros/atividades realizadas com escolas/educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			
			<xs:element name="articIntersetCadunicoPBF">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.4 Articulação Intersetorial do CADUNICO-PBF</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="numEncRealizEscolas" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de encontros/atividades realizadas com escolas/educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="numEncRealizCSFSaude" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de encontros/atividades realizadas com CSF/saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="cadastrounico">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.5 Cadastro Único</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="cadastroDigitado" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Cadastros digitados</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="gestaoBeneficio">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.6 Gestão de Benefícios</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="bloqueioRealizado" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Bloqueios Realizados</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="desbloqueioRealizado" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Desbloqueios Realizados</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="cancelamentoRealizado" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Cancelamentos Realizados</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="reversoesRealizadas" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Reversões de suspensões realizadas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="reversoesCanceladas" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de Reversões de cancelamento realizadas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="outrasAtividades">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.7 Outras atividades</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="numeroRrealizada" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de reuniões realizadas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="numeroRparticipada" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de reuniões participadas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="numeroCrealizada" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de capacitações realizadas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="numeroCparticipada" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nº de capacitações participadas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="observdoc" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>OBSERVAÇÕES</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="numcres" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nº do CRES/CRP</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="datadoc" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
