acao-sdh/schemas/Direitos_Humanos/violencia_denuncia/sdh-violencia_dadoscriminais.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-violencia_dadoscriminais.xsd"
    xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-violencia_dadoscriminais.xsd"
	elementFormDefault="qualified">

	<xs:element name="dadoscriminais" type="dadoscriminais">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>11.DADOS CRIMINAIS</xhtml:label>
                <class:classificacoes>
                    <class:classificacao>cn=Geral,cn=Direitos Humanos</class:classificacao>
                </class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="dadoscriminais">
		<xs:sequence>
			<xs:element name="nrProcesso" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nº do processo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
            <xs:element name="comarca" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Comarca</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vara" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Vara</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="audienciaJaRealizada" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Foi realizada alguma audiência</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

            <xs:element name="datasAudiencias" maxOccurs="10">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Datas das audiências</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
		                <xs:element name="data" minOccurs="0"  type="xs:date">
			                <xs:annotation>
				                <xs:appinfo>
					                <xhtml:label>Datas das audiências</xhtml:label>
				                </xs:appinfo>
			                </xs:annotation>
                        </xs:element>
	                </xs:sequence>
                </xs:complexType>
            </xs:element>
			<xs:element name="observacoes" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Observações</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
            </xs:element>
            <xs:element name="capJuridica" maxOccurs="10">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Capitulação jurídica</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				    <xs:complexType>
					    <xs:sequence>
						    <xs:element name="ameaca" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 147 Código Penal - Ameaça</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="calunia" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 138 Código Penal - Calúnia</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="difamacao" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 139 Código Penal - Difamação</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="injuria" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 140 Código Penal - Injúria</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="injuriaRacial" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 140‎ §3 Código Penal - Injúria Racial</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="racismo" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 5 XLII Constituição Federal e Lei 7716 - Racismo</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="explSexCrianAdol" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 217-A Código Penal - Exploração Sexual - Criança e Adolescente</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="explSexAdulto" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 213 Código Penal - Exploração Sexual - Adulto</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="lesaoCorporal" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 129 Código Penal - Lesão Corporal</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="homicidio" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 121 Código Penal - Homicídio</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="discriminacao" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Art 5º Constituição Federal de 1988 - Discriminação</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
						    <xs:element name="tortura" type="xs:boolean">
							    <xs:annotation>
								    <xs:appinfo>
									    <xhtml:label>Lei 9455/97 - Tortura</xhtml:label>
								    </xs:appinfo>
							    </xs:annotation>
						    </xs:element>
			                <xs:element name="outrasCaptulacoes" minOccurs="0" type="xs:string">
				                <xs:annotation>
					                <xs:appinfo>
						                <xhtml:label>Outras captulações</xhtml:label>
					                </xs:appinfo>
				                </xs:annotation>
                            </xs:element>

	                    </xs:sequence>
                    </xs:complexType>
                </xs:element>

			    <xs:element name="vitima" minOccurs="0">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Vítima</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:simpleType>
					    <xs:restriction base="xs:string">
						    <xs:maxLength value="255" />
					    </xs:restriction>
				    </xs:simpleType>
			    </xs:element>

			    <xs:element name="acusado" minOccurs="0">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Acusado</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:simpleType>
					    <xs:restriction base="xs:string">
						    <xs:maxLength value="255" />
					    </xs:restriction>
				    </xs:simpleType>
			    </xs:element>

                <xs:element name="testemunhas" minOccurs="0" type="xs:string">
	                <xs:annotation>
		                <xs:appinfo>
			                <xhtml:label>Testemunhas</xhtml:label>
		                </xs:appinfo>
	                </xs:annotation>
                </xs:element>

			    <xs:element name="rg" minOccurs="0">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>RG</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:simpleType>
					    <xs:restriction base="xs:string">
						    <xs:maxLength value="255" />
					    </xs:restriction>
				    </xs:simpleType>
			    </xs:element>

			    <xs:element name="endereco" minOccurs="0">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Endereço</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:simpleType>
					    <xs:restriction base="xs:string">
						    <xs:maxLength value="255" />
					    </xs:restriction>
				    </xs:simpleType>
			    </xs:element>

			    <xs:element name="assitJuridicamente" minOccurs="0">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Assitido juridicamente</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:simpleType>
					    <xs:restriction base="xs:string">
						    <xs:enumeration value="Sim" />
						    <xs:enumeration value="Não" />
					    </xs:restriction>
				    </xs:simpleType>
			    </xs:element>

			    <xs:element name="quemAssJuridicamente" minOccurs="0">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Quem assessora juridicamente</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:simpleType>
					    <xs:restriction base="xs:string">
						    <xs:maxLength value="255" />
					    </xs:restriction>
				    </xs:simpleType>
			    </xs:element>

			    <xs:element name="bolOcorrencia" minOccurs="0">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Regitro de Boletim de Ocorrência</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:simpleType>
					    <xs:restriction base="xs:string">
						    <xs:enumeration value="Sim" />
						    <xs:enumeration value="Não" />
					    </xs:restriction>
				    </xs:simpleType>
			    </xs:element>

		</xs:sequence>
	</xs:complexType>
</xs:schema>
