acao-sdh/schemas/Direitos_Humanos/Crianca_e_Adolescente/Ponte_de_Encontro/sdh-espacoPonteEncontro-liberdadeRespeitoDignidade-CCA.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-espacoponteencontro-liberdaderespeitodignidade-cca.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-espacoponteencontro-liberdaderespeitodignidade-cca.xsd"
	elementFormDefault="qualified">

	<xs:element name="formLiberdadeRespeitoDignidade" type="formLiberdadeRespeitoDignidade">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>03. LIBERDADE, RESPEITO E DIGNIDADE</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Programa Ponte de Encontro,cn=Criança e Adolescente,cn=Direitos Humanos</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formLiberdadeRespeitoDignidade">
		<xs:sequence>

			<xs:element name="numeroAtendimento" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número do atendimento:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="localOndeEncontrado" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Local onde foi encontrado</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tempoRua" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tempo que está na rua</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="outrosLocaisFrequenta" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Outros locais que frequenta</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="motivoRua" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Motivo que está na rua</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="jaSofreuViolencia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Já sofreu algum tipo de violência?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipoViolencia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tipo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ondeViolencia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Onde</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="estaCumprindoMedidaSocioEducativa"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Está cumprindo alguma medida sócio-educativa?
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipoMedidaSocioEducativa" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Qual tipo?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Advertência" />
						<xs:enumeration value="Reparação de dano" />
						<xs:enumeration value="PSC" />
						<xs:enumeration value="L.A" />
						<xs:enumeration value="Semiliberdade" />
						<xs:enumeration value="Internação em estabelecimento educacional" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="oQueGostaFazer" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>O que você gosta de fazer?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="quaisHabilidades" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Onde</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="frequentouInstituicaoProjetos"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Já frequentou alguma instituição de projetos?
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="quaisInstituicaoProjetos" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Quais?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="quemEncaminhou" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Quem encaminhou?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="motivoDesligamento" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Motivo do desligamento?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="recebeBeneficioSocial" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Recebe algum benefício social?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="qualBeneficioSocial" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Qual?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="quaisDocumentoPossui" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Quais os documentos que possui?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="registroNascimento" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Registro de nascimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="rg" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>RG</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="cpf" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CPF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="tituloEleitor" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Titulo de eleitor</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="carteiraProfissional" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Carteira profissional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="desejaParticiparProjeto" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Deseja participar de algum projeto?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="qualDesejaParticiparProjeto" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Qual?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
