Acao/schemas/auditoria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/auditoria.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/auditoria.xsd"
	elementFormDefault="qualified">

	<xs:element name="auditoria" type="auditoria" />

	<xs:complexType name="auditoria">
		<xs:sequence>
			<xs:element name="data" type="xs:dateTime" />
			<xs:element name="usuario" type="xs:string"  />
			<xs:element name="acao" type="xs:string"  />
			<xs:element name="ip" type="xs:string"  />
			<xs:element name="dados" type="xs:string"  />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
