acao-pronasci/schemas/old/gmfpronasci-entrevistaIndividual.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/gmfpronasci-entrevista-individual.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/gmfpronasci-entrevista-individual.xsd"
	elementFormDefault="qualified">

	<xs:element name="form" type="formEntrevistaIndividual">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>ENTREVISTA INDIVIDUAL MULHERES DA PAZ</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Mulheres da Paz,cn=Direitos Humanos</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formEntrevistaIndividual">

		<xs:sequence>

			<xs:element name="estabilidade">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.1 ESTABILIDADE</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nome" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="apelido" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Apelido</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="idade" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Idade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="estadoCivil">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Estado Civil
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solteira" />
									<xs:enumeration value="Casada" />
									<xs:enumeration value="União Estável" />
									<xs:enumeration value="Viúva" />
									<xs:enumeration value="Divorciada" />
									<xs:enumeration value="Casada" />
									<xs:enumeration value="Separada judicialmente" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="filhos">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Filho(s)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Não" />
									<xs:enumeration value="Sim" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="quantidadeFilhos">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quantos?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="idadeFilhos">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quais as idades deles?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ajudaAsCriancas" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quem ajuda a cuidar das criancas?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="moradia">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sua casa é:
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Própria" />
									<xs:enumeration value="Alugada" />
									<xs:enumeration value="Cedida" />
									<xs:enumeration value="Coabitada" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ondeMorouAntes" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Onde você morou antes de vir para cá?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="tempoMoradiaAnterior" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Por quanto tempo morou lá?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="tempoMoradiaAtual" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Há quanto tempo mora no bairro?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="pretendePermanecerNobairro">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pretende permanecer no bairro pelos próximos 12 ou
										2 meses?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="parenteNoBairro" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quem da família mora do bairro?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="quemTrabalha" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quem trabalha na sua família e quanto ganha?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="capcidadeLideranca">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1.2 CAPACIDADE DE LIDERANÇA</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="conhecimentoBairro">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se conhece o bairro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="conhecePostosSaude" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você conhece postos de saúde?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="postosSaudeConhece" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quais?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="conheceConselhosTutelares"
										minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você conhece conselhos tutelares?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="conselhosTutelaresConhece" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quais?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="conhecePracasQuadras" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você conhece praças ou quadras de esportes?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="pracasQuadrasConhece" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quais?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="conheceDelegacias" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você conhece delegacias no seu bairro?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="delegaciasConhece" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quais?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="conheceIgrejaTemplos" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você conhece igrejas ou templos no seu bairro?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="igrejaTemplosConhece" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quais?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>

						</xs:element>

						<xs:element name="promocaoAtividade">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se promove/ajuda a promover alguma atividade
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="promoveuFestas" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você já promoveu alguma festa em seu bairro?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="festasPromoveu" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="auxiliouEventosEscola" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você já auxiliou algum evento na escola em que
													estudava?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="eventosEscola" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="auxiliouEventosIgreja" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você já auxiliou algum evento na igreja ou
													templo?
									</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="eventosIgreja" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>

							</xs:complexType>

						</xs:element>

						<xs:element name="participacaoEntidadeOuProjeto">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se participa de entidade ou projeto</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="participaEntidadeProjeto">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você participa de:</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="participaAssociacaoComunitaria"
													minOccurs="1">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Associação comunitária
												</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Sim" />
															<xs:enumeration value="Não" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="associacaoComunitaria" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Qual?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="participaPastorais" minOccurs="1">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Pastorais
												</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Sim" />
															<xs:enumeration value="Não" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="pastorais" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Qual?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="participaConselhos" minOccurs="1">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Conselhos(comunitários, de defesa social,
																escolares, outros)
												</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Sim" />
															<xs:enumeration value="Não" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="conselhos" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Qual?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="participaProjetos" minOccurs="1">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Projetos</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Sim" />
															<xs:enumeration value="Não" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="projetos" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Qual?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="participaOngs" minOccurs="1">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>ONGs</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Sim" />
															<xs:enumeration value="Não" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="ongs" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Qual?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="participaCentrosDefesa"
													minOccurs="1">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Centros de defesa</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Sim" />
															<xs:enumeration value="Não" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>

												<xs:element name="centrosDefesa" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Qual?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="participaMovimentosSaudeMental"
													minOccurs="1">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Movimentos de saúde mental</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Sim" />
															<xs:enumeration value="Não" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="movimentosSaudeMental" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Qual?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>

												<xs:element name="participaOutros" minOccurs="1">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Outros</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Sim" />
															<xs:enumeration value="Não" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="outros" type="xs:string">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label>Qual?</xhtml:label>
														</xs:appinfo>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>

									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="referenciaComunidade">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se é referenciada pela comunidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="quandoAlguemFicaDoente" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quando alguém fica doente na sua rua, você sabe
													como ela faz?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Procura posto de saúde" />
												<xs:enumeration value="Liga para a ambulância" />
												<xs:enumeration value="Procura você" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="quandoPrecisaAdvogado" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quando alguém precisa de advogado, você sabe
													como
													ela faz?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Procura_ a defensoria" />
												<xs:enumeration value="Procura você" />
												<xs:enumeration value="Não sabe" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="resolveBrigaRua" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quando há uma briga na sua rua, você sabe como
													as
													pessoas resolvem?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Entre elas" />
												<xs:enumeration value="Chamam a polícia" />
												<xs:enumeration value="Vão para a delegacia" />
												<xs:enumeration value="Chamam você" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="resolveBrigaFamilia" minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quando há uma briga de família na sua rua, você
													sabe como se resolve?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Entre elas" />
												<xs:enumeration value="Chamam a polícia" />
												<xs:enumeration value="Vão para a delegacia" />
												<xs:enumeration value="Chamam você" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="procuradaResolverConflito"
										minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Você já foi procurada para resolver algum tipo
													de
													conflito?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="conflitosResolvido" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="potencialCapacitacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2.POTENCIAL PARA SER CAPACITADA</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="nivelInstrucao">

							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nível de instrução</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="escolaridade">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Ensino Básico (1ª a 4ª série)" />
												<xs:enumeration value="Ensino Fundamental(5ª a 8ª série)" />
												<xs:enumeration value="Ensino Médio(2º grau)" />
												<xs:enumeration value="Ensino Superior" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="completo" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Completo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="incompleto" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Incompleto</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>

							</xs:complexType>

						</xs:element>

						<xs:element name="reconheceSituacaoRisco">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Reconhece alguma situação de risco</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="envolvidoDrogas" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Adolescente envolvido com drogas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="envolvidoFurtos" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Adolescente envolvido com furtos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="gravida" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Adolescente grávida</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="envolvidoGangues" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Adolescente envolvida com gangues</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="frequentaIgreja" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Adolescente que não frequenta a igreja
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="trabalhoInfantil" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Trabalho infantil</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="exploradaSexualmente" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Adolescente explorada sexualmente/prostituição
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="familiaresPresos" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Familiares presos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criancaAdolecenteForaEscola" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Crianças e adolescente fora da escola
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="traficoDrogas" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tráfico de drogas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="abusoSexual" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Abuso sexual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="violenciaDomestica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Violência doméstica contra mulheres/idosos e
													adolescentes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>

							</xs:complexType>
						</xs:element>

						<xs:element name="reconhecendoUmaSituacao">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Reconhecendo uma situação, o que fazer - universo
										do problema e estratégias de superação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="envolvidoDrogas" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Um menino de 14 anos deixou de frequentar a
													escola e está envolvido em pequenos delitos.
													Ao tomar
													conhecimento deste fato, que tipo de informação você
													considera necessária para poder tomar uma
													atitude adequada
													para ajudar a resolver o problema?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="conflitoFamiliar" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Estrutura/conflito familiar</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="relacoesSociaisAdolescente" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Relações sociais do adolescente</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="necessidadeEconomicaFamiliar"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Necessidade econômica familiar</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="problemaRelacionamentoEscola"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Problemas de relacionamento escola
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="problemaAproveitamentoEscolar"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Problemas de aproveitamento escolar
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="outrosProblemas" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>

							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="disponibilidade">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3.DISPONIBILIDADE</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="disponibilidadeSegunda">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Segunda</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="manha" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Manha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="tarde" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tarde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="noite" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Noite</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="disponibilidadeTerca">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Terça</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="manha" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Manha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="tarde" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tarde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="noite" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Noite</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="disponibilidadeQuarta">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quarta</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="manha" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Manha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="tarde" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tarde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="noite" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Noite</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="disponibilidadeQuinta">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quinta</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="manha" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Manha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="tarde" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tarde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="noite" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Noite</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="disponibilidadeSexta">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sexta</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="manha" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Manha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="tarde" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tarde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="noite" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Noite</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="disponibilidadeSabado">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sábado</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="manha" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Manha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="tarde" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tarde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="noite" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Noite</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="qualidadesGerais">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>4.QUALIDADES GERAIS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>

						<xs:element name="flexibilidadeConceitos">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Flexibilidade de conceitos(se compreende -
										cognição; se concorda - preconceito)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="violenciaContraMulher">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Em briga de marido e mulher, nunguém mete a
													colher(violência contra a mulher)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="violenciaContraMulher">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label></xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="compreensao">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Compreende</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>

																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																	</xs:sequence>

																</xs:complexType>

															</xs:element>

															<xs:element name="concorda">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Concorda</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>

																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>

																	</xs:sequence>

																</xs:complexType>

															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="mudancaAtitude">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pau que nasce torto, morre torto(Mudanças de
													atitudes)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="mudancaAtitude">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label></xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="compreensao">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Compreende</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="concorda">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Concorda</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>

																</xs:complexType>

															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="naoSeImporta">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pimenta nos olhos dos outros, pra mim, é
													refresco</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="naoSeImporta">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label></xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="compreensao">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Compreende</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="concorda">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Concorda</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>

																</xs:complexType>

															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="relacaoTrabalhoInfantil">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cabeça vazia, oficina do diabo</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="relacaoTrabalhoInfantil">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label></xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="compreensao">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Compreende</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="concorda">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Concorda</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>

																</xs:complexType>

															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>


									<xs:element name="melhorCalarReinidicar">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Em boca fechada não se entra mosca(se não é com
													ela não se importa)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="melhorCalarReinidicar">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label></xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="compreensao">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Compreende</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="concorda">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Concorda</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>

																</xs:complexType>

															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>


									<xs:element name="melhoraSeAdaptar">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Em terra de sapos, de cócoras com eles(é melhor
													se adaptar)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="melhoraSeAdaptar">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label></xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="compreensao">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Compreende</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="concorda">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Concorda</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>

																</xs:complexType>

															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="sobreInfluencias">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Diga-me com quem andas que e eu te direi quem
													és(sobre influẽncias)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="sobreInfluencias">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label></xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="compreensao">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Compreende</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="concorda">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Concorda</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>

																</xs:complexType>

															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>


									<xs:element name="violenciaCrianca">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Escreveu não leu, o pau comeu(violência criança
													e adolescente)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="violenciaCrianca">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label></xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="compreensao">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Compreende</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="concorda">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Concorda</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>

																</xs:complexType>

															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="capacidadeFinalizacao">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quem não pode com o pote, não pega na
													rodia(capacidade de finalizar um trabalho)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="capacidadeFinalizacao">
													<xs:annotation>
														<xs:appinfo>
															<xhtml:label></xhtml:label>
														</xs:appinfo>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>

															<xs:element name="compreensao">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Compreende</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>

															<xs:element name="concorda">
																<xs:annotation>
																	<xs:appinfo>
																		<xhtml:label>Concorda</xhtml:label>
																	</xs:appinfo>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="sim" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>SIM</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="nao" type="xs:boolean">
																			<xs:annotation>
																				<xs:appinfo>
																					<xhtml:label>NÃO</xhtml:label>
																				</xs:appinfo>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>

																</xs:complexType>

															</xs:element>

														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
