acao-sde/sde-dadosAdicionais.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.fortaleza.ce.gov.br/acao/sde-dadosAdacionais.xsd"
    xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
    xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
    xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sde-dadosAdacionais.xsd"
    elementFormDefault="qualified">

    <xs:element name="dadosAdacionais" type="dadosAdacionais">
        <xs:annotation>
            <xs:appinfo>
                <xhtml:label>DADOS ADICIONAIS</xhtml:label>
                <class:classificacoes>
                    <class:classificacao>cn=Desenvolvimento Econômico</class:classificacao>
                </class:classificacoes>
                <idx:index>

                </idx:index>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="dadosAdacionais">
        <xs:sequence>
		        <xs:element name="nomeEmprendimento" minOccurs="0">
		            <xs:annotation>
		                <xs:appinfo>
		                    <xhtml:label>Nome do empreendimento</xhtml:label>
		                </xs:appinfo>
		            </xs:annotation>
		            <xs:simpleType>
		                <xs:restriction base="xs:string">
		                    <xs:maxLength value="255"/>
		                </xs:restriction>
		            </xs:simpleType>
		        </xs:element>
				<xs:element name="logradouro"  minOccurs="0" maxOccurs="10">
					<xs:annotation>
						<xs:appinfo>
							<xhtml:label>Logradouro</xhtml:label>
						</xs:appinfo>
			            <xsdext:extensions>
							<xsdext:engine>autoComplete</xsdext:engine>
				            <xsdext:service>/enderecos</xsdext:service>
			            </xsdext:extensions>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
		        <xs:element name="nr" minOccurs="0">
		            <xs:annotation>
		                <xs:appinfo>
		                    <xhtml:label>Nr</xhtml:label>
		                </xs:appinfo>
		            </xs:annotation>
		            <xs:simpleType>
		                <xs:restriction base="xs:string">
		                    <xs:maxLength value="255"/>
		                </xs:restriction>
		            </xs:simpleType>
		        </xs:element>
		        <xs:element name="complemento" minOccurs="0">
		            <xs:annotation>
		                <xs:appinfo>
		                    <xhtml:label>Complemento</xhtml:label>
		                </xs:appinfo>
		            </xs:annotation>
		            <xs:simpleType>
		                <xs:restriction base="xs:string">
		                    <xs:maxLength value="255"/>
		                </xs:restriction>
		            </xs:simpleType>
		        </xs:element>
				<xs:element name="bairro"  minOccurs="0" maxOccurs="10">
					<xs:annotation>
						<xs:appinfo>
							<xhtml:label>Bairro</xhtml:label>
						</xs:appinfo>
						<xsdext:extensions>
							<xsdext:engine>autoComplete</xsdext:engine>
							<xsdext:service>/bairros</xsdext:service>
						</xsdext:extensions>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tpNegocio"  minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<xhtml:label>Tipo de negócio</xhtml:label>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Indústria" />
						<xs:enumeration value="Comércio" />
						<xs:enumeration value="Serviço" />
					</xs:restriction>
					</xs:simpleType>
				</xs:element>
		        <xs:element name="tpServiço" minOccurs="0">
		            <xs:annotation>
		                <xs:appinfo>
		                    <xhtml:label>Especifique o serviço</xhtml:label>
		                </xs:appinfo>
		            </xs:annotation>
		            <xs:simpleType>
		                <xs:restriction base="xs:string">
		                    <xs:maxLength value="255"/>
		                </xs:restriction>
		            </xs:simpleType>
		        </xs:element>
		        <xs:element name="tpAtividade" minOccurs="0">
		            <xs:annotation>
		                <xs:appinfo>
		                    <xhtml:label>Tipo atividade</xhtml:label>
		                </xs:appinfo>
		            </xs:annotation>
		            <xs:simpleType>
		                <xs:restriction base="xs:string">
		                    <xs:maxLength value="255"/>
		                </xs:restriction>
		            </xs:simpleType>
		        </xs:element>
				<xs:element name="tpLocal"  minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<xhtml:label>Tipo de local</xhtml:label>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Residência" />
						<xs:enumeration value="Sem lugar fixo" />
						<xs:enumeration value="Outros" />
					</xs:restriction>
					</xs:simpleType>
				</xs:element>
		        <xs:element name="outroLocal" minOccurs="0">
		            <xs:annotation>
		                <xs:appinfo>
		                    <xhtml:label>Especifique outro local</xhtml:label>
		                </xs:appinfo>
		            </xs:annotation>
		            <xs:simpleType>
		                <xs:restriction base="xs:string">
		                    <xs:maxLength value="255"/>
		                </xs:restriction>
		            </xs:simpleType>
		        </xs:element>
				<xs:element name="tpPonto"  minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<xhtml:label>Tipo de ponto</xhtml:label>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Fixo" />
						<xs:enumeration value="Serviço a Domicílio" />
						<xs:enumeration value="Ambulante permanente" />
                        <xs:enumeration value="Feirante permanente" />
						<xs:enumeration value="Ambulante ocasional" />
                        <xs:enumeration value="Feirante ocasional" />
                        <xs:enumeration value="Outro" />
					</xs:restriction>
					</xs:simpleType>
				</xs:element>
		        <xs:element name="outroPonto" minOccurs="0">
		            <xs:annotation>
		                <xs:appinfo>
		                    <xhtml:label>Especifique outro ponto</xhtml:label>
		                </xs:appinfo>
		            </xs:annotation>
		            <xs:simpleType>
		                <xs:restriction base="xs:string">
		                    <xs:maxLength value="255"/>
		                </xs:restriction>
		            </xs:simpleType>
		        </xs:element>
		        <xs:element name="qtEmpregados" minOccurs="0" type="xs:integer">
		            <xs:annotation>
		                <xs:appinfo>
		                    <xhtml:label>Nr de empregados</xhtml:label>
		                </xs:appinfo>
		            </xs:annotation>
		        </xs:element>

                <xs:element name="microcredito">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Microcrédito</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:complexType>
					    <xs:sequence>
							<xs:element name="capitalGiro" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Capital de giro</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="capitalFixo" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Capital fixo</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
                        </xs:sequence>
                    </xs:complexType>
		        </xs:element>

                <xs:element name="feiras">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Participação em Feiras/Eventos</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:complexType>
					    <xs:sequence>
							<xs:element name="feirante" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Feirantes</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="mostras" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Mostras</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="expProdArte" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Exposição de Produtos Artesanais</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="outraAtvfeira" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Outros</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
		                    <xs:element name="outroAtvFeira" minOccurs="0">
		                        <xs:annotation>
		                            <xs:appinfo>
		                                <xhtml:label>Especifique outra atividade em eventos</xhtml:label>
		                            </xs:appinfo>
		                        </xs:annotation>
		                        <xs:simpleType>
		                            <xs:restriction base="xs:string">
		                                <xs:maxLength value="255"/>
		                            </xs:restriction>
		                        </xs:simpleType>
		                    </xs:element>
                        </xs:sequence>
                    </xs:complexType>
		        </xs:element>

                <xs:element name="financiamento">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Financiamento de Empreendimento</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:complexType>
					    <xs:sequence>
							<xs:element name="cozinhaPopular" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Cozinha Popular</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="credjovem" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Credjovem</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="empreendCriativo" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Empreendimento Criativo</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="peqNegocios" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Pequenos Negócios</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
                        </xs:sequence>
                    </xs:complexType>
		        </xs:element>

                <xs:element name="orgGpProd">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Organização de Grupos Produtivos</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:complexType>
					    <xs:sequence>
							<xs:element name="empEconSolid" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Empreendimentos Econômicos Solidários</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="incEmpCriat" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Incubação de Empreendimentos Criativos</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="empJovens" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Empreendimentos de Jovens</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
                        </xs:sequence>
                    </xs:complexType>
		        </xs:element>

                <xs:element name="outrasAcoes">
				    <xs:annotation>
					    <xs:appinfo>
						    <xhtml:label>Outras ações</xhtml:label>
					    </xs:appinfo>
				    </xs:annotation>
				    <xs:complexType>
					    <xs:sequence>
							<xs:element name="impHortas" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Implantação de Hortas/Quintais Produtivos</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="incSocProd" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Inclusão Social Produtiva de Pessoas com Deficiência</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="formEmpInd" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Formalização e Promoção do Empreendedor Individual</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="desNegocio" minOccurs="0" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<xhtml:label>Apoio ao Desenvolvimento de Negócios</xhtml:label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>

                        </xs:sequence>
                    </xs:complexType>
		        </xs:element>

        </xs:sequence>
    </xs:complexType>
</xs:schema>
