acao-sdh/schemas/Direitos_Humanos/Diversidade_Sexual/sdh-fichaAcompanhamento-informacaoAgressao-LGBT.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-lgtb-fichaacompanhamento-informacaoagressao.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-lgtb-fichaacompanhamento-informacaoagressao.xsd"
	elementFormDefault="qualified">

	<xs:element name="formInformacaoAgressao" type="formInformacaoAgressao">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>05. INFORMAÇÃO DA AGRESSÃO</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Diversidade Sexual,cn=Direitos Humanos</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formInformacaoAgressao">
		<xs:sequence>
			<xs:element name="numeroAtendimento" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número atendimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="quantidadeDeAgressores" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Quantidade de agressores</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="mais de 2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="identificacaoDoAgressor" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Identificação do(a) agressor(a)</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Identificado/a" />
						<xs:enumeration value="Não identificado/a" />
						<xs:enumeration value="Auto-negligente" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="sexoBiologico" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Sexo biológico</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Macho" />
						<xs:enumeration value="Fêmea" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="resideNoMesmoDomicilio" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Reside no mesmo domicílio</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="idade" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Idade</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="menor de 18 anos" />
						<xs:enumeration value="18 a 29 anos" />
						<xs:enumeration value="30 a 39 anos" />
						<xs:enumeration value="40 a 49 anos" />
						<xs:enumeration value="50 a 59 anos" />
						<xs:enumeration value="60 ou mais" />
						<xs:enumeration value="Não informado" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="apresentaRelacaoParentescoComAVitima"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Apresenta relação de parentesco com a vítima
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="casoAfirmativoAssinalarAbaixo"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Caso afirmativo, assinalar abaixo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Pai" />
						<xs:enumeration value="Mãe" />
						<xs:enumeration value="Padrasto" />
						<xs:enumeration value="Madrasta" />
						<xs:enumeration value="Irmão" />
						<xs:enumeration value="Irmã" />
						<xs:enumeration value="Filho" />
						<xs:enumeration value="Filha" />
						<xs:enumeration value="Companheiro" />
						<xs:enumeration value="Companheira" />
						<xs:enumeration value="Genro" />
						<xs:enumeration value="Nora" />
						<xs:enumeration value="Sobrinho" />
						<xs:enumeration value="Sobrinha" />
						<xs:enumeration value="Neto" />
						<xs:enumeration value="Neta" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="casoNegativoAssinalarAbaixo" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Caso negativo, assinalar abaixo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Vizinho/a" />
						<xs:enumeration value="Agregado/a" />
						<xs:enumeration value="Desconhecido/a" />
						<xs:enumeration value="Empregador/a" />
						<xs:enumeration value="Comunidade" />
						<xs:enumeration value="Escola" />
						<xs:enumeration value="Colega de Trabalho" />
						<xs:enumeration value="Agente público" />
						<xs:enumeration value="Outros" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="tipoComunidade">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Caso tenha sido agredido por comunidade, assinale
							abaixo o tipo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType name="tipoDeComunidade">
					<xs:sequence>
						<xs:element name="religiosa" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Religiosa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="cooperativa" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Cooperativa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="territorio" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Território</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outros" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outroTipoComunidade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros tipos de comunidades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="escola" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Caso tenha sido agredido na escola, quem o agrediu</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="agentePublico" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Caso tenha sido agredido por agente público, quem o agrediu</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="outroAgressor" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Caso os agressores não se encaixem nos tipos anteriores, quem o agrediu</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="fazUsoDeAlcoolOuDrogas" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Faz uso de álcool/drogas</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
						<xs:enumeration value="Ignorado" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="tipoDeDrogaQueUsa" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Caso afirmativo, que tipo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="origemDenuncia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Origem da denúncia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Fala Fortaleza" />
						<xs:enumeration value="SEMAS" />
						<xs:enumeration value="DAR/SER" />
						<xs:enumeration value="CRAS" />
						<xs:enumeration value="Ministério Público" />
						<xs:enumeration value="CREAS" />
						<xs:enumeration value="Outros" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

            <xs:element name="especifiqueOutraOrigemDenuncia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique outro</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>


		</xs:sequence>
	</xs:complexType>

</xs:schema>
