acao-sdh/schemas/Direitos_Humanos/Diversidade_Sexual/sdh-fichaAcompanhamento-perfilSocioEconomico-LGBT.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-lgbt-fichaacompanhamento-perfilsocioeconomico.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-lgbt-fichaacompanhamento-perfilsocioeconomico.xsd"
	elementFormDefault="qualified">

	<xs:element name="fromPerfilSocioEconomico" type="fromPerfilSocioEconomico">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>03. PERFIL SOCIO-ECONÔMICO</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Diversidade Sexual,cn=Direitos Humanos</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="fromPerfilSocioEconomico">
		<xs:sequence>

			<xs:element name="numeroInscricao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número atendimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="Escolaridade" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Escolaridade</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ensino Fundamental" />
						<xs:enumeration value="Ensino Médio Incompleto" />
						<xs:enumeration value="Ensino Médio" />
						<xs:enumeration value="Ensino Superior Incompleto" />
						<xs:enumeration value="Ensino Superior" />
						<xs:enumeration value="Pós-Graduação" />
						<xs:enumeration value="Nunca estudou" />
						<xs:enumeration value="Outros" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="trabalhaAtualmente" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Trabalha Atualmente</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="profisssao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Profissão</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="condicaoDeTrabalho" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Condicão de Trabalho</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Servidor/Público" />
						<xs:enumeration value="Autônomo" />
						<xs:enumeration value="Carteira Assinada" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="suaRendaAtualE" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Sua renda atual é:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Até um salário mínimo" />
						<xs:enumeration
							value="A partir de um salário mínimo até dois salário mínimos" />
						<xs:enumeration
							value="A partir de dois salário mínimos até quatro salário mínimos" />
						<xs:enumeration value="A partir de quatro salário mínimos ou mais" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="rendaFamiliar" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Renda Familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Classe E: até R$ 705,00" />
						<xs:enumeration value="Classe D: de R$ 706,00 a R$ 1.125,00" />
						<xs:enumeration value="Classe C: de R$ 1.126,00 a R$ 4.854,00" />
						<xs:enumeration value="Classe B: de R$ 4.855,00 a R$ 6.329,00" />
						<xs:enumeration value="Classe A: a partir de R$ 6.330,00" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="sexoBiologico" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Sexo biológico</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Macho" />
						<xs:enumeration value="Fêmea" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="identidadeDoSexo" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Identidade de gênero</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Masculino/a" />
						<xs:enumeration value="Feminino/a" />
						<xs:enumeration value="Travesti" />
						<xs:enumeration value="Transexual masculino" />
						<xs:enumeration value="Transexual feminino" />
						<xs:enumeration value="Transgênero/a" />
						<xs:enumeration value="Outro" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="especifiqueOutrosIentidadeDoSexo"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique outros</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="orientacaoSexual" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Orientação sexual</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Homossexualidade/Lesbianidade" />
						<xs:enumeration value="Bisexualidade" />
						<xs:enumeration value="Heterossexualidade" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="autoIdentificacao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Auto-identificação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="seTransexualFezCirurgiaDeReadequacao"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se transexual fez cirurgia de readequação
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Não" />
						<xs:enumeration value="Sim (completa)" />
						<xs:enumeration value="Sim (incompleta)" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="especifiqueCirurgia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique cirurgia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="seTransexualHouveRetificacaoNoRegistroCivil"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se transexual ou travesti houve retificacao no registro civil?
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Não" />
						<xs:enumeration value="Sim" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="quantoARacaEetiniaVoceSeConsidera"
				minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Quanto a raça e etinia você se considera
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Negro/a" />
						<xs:enumeration value="Branco/a" />
						<xs:enumeration value="Indígena/a" />
						<xs:enumeration value="Pardo/a" />
						<xs:enumeration value="Não sei" />
						<xs:enumeration value="Outra" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="especifiqueOutraRacaEtinia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique outra</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="suaCorE" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Sua cor é</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Preto/a" />
						<xs:enumeration value="Branco/a" />
						<xs:enumeration value="Amarelo/a" />
						<xs:enumeration value="Não sei" />
						<xs:enumeration value="Outra" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="especifiqueOutraCor" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique outra cor</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="possuiDeficiencia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Possui alguma deficiência</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="especifiqueDeficiencia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se possui deficiência, qual</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="religiao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Religião e/ou orientação espiritual</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Candomblé" />
						<xs:enumeration value="Umbanda" />
						<xs:enumeration value="Católica" />
						<xs:enumeration value="Protestante" />
						<xs:enumeration value="Espírita" />
						<xs:enumeration value="Nenhuma" />
						<xs:enumeration value="Outras" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="especifiqueOutraReligiao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Especifique outra religião</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
