acao-habitafor/schemas/habitafor-revalidacaoCadastro-crf.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/habitafor-revalidacaocadastro-crf.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml" 
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/xsdform/indexhint.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/habitafor-revalidacaocadastro-crf.xsd"
	elementFormDefault="qualified">

	<xs:element name="formRevalidacaoCadastroCRF" type="formRevalidacaoCadastroCRF">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>02. FICHA DE REVALIDAÇÃO DE CADASTROS</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Habitação</class:classificacao>
				</class:classificacoes>
                <idx:index>
                    <idx:hint key="pessoa.nome" xpath="formRevalidacaoCadastroCRF/dadosIdentificacao/atualMorador" />
                    <idx:hint key="pessoa.rg" xpath="formRevalidacaoCadastroCRF/dadosIdentificacao/rg" />
                    <idx:hint key="pessoa.cpf" xpath="formRevalidacaoCadastroCRF/dadosIdentificacao/cpf" />
                    <idx:hint key="pessoa.nome" xpath="formRevalidacaoCadastroCRF/dadosIdentificacao/nomeConjuge" />
                    <idx:hint key="pessoa.rg" xpath="formRevalidacaoCadastroCRF/dadosIdentificacao/rgConjuge" />
                    <idx:hint key="pessoa.cpf" xpath="formRevalidacaoCadastroCRF/dadosIdentificacao/cpfConjuge" />
                </idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formRevalidacaoCadastroCRF">
		<xs:sequence>
			<xs:element name="localizacaoImovel" >
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1. Localização do imóvel
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="conjunto" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Conjunto</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="data" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="rua" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rua</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="fone" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Telefone</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="bloco" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bloco</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="apto" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Apto</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="pontoComercial" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ponto Comercial</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="numPontoComercial" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Número ponto comercial</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dadosIdentificacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2. Dados de identificação
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="atualMorador" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Atual morador</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dataNascimento" type="xs:date"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data de nascimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="rg" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>RG</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="orgaoExp" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Órgão exp</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="cpf" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CPF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="profissao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Profissão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="situacaoCivil" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Situação civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solteiro(a)" />
									<xs:enumeration value="Casado(a)" />
									<xs:enumeration value="União estável" />
									<xs:enumeration value="Viúvo(a)" />
									<xs:enumeration value="Solteiro(a)" />
									<xs:enumeration value="Separado(a) judicialmente" />
									<xs:enumeration value="Separado(a) de corpos" />
									<xs:enumeration value="Divorciado(a)" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="nomeConjuge" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome do cônjuge</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dataNascimentoConjuge" type="xs:date"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data de nascimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="rgConjuge" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>RG</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="orgaoExpConjuge" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Órgão exp</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="cpfConjuge" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CPF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="profissaoConjuge" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Profissão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dadosSociais">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3. Dados sociais
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="rendaFamiliar" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Renda familiar(R$)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>

								<xs:restriction base="xs:string">
									      <xs:maxLength value="255" />

								</xs:restriction>

							</xs:simpleType>
						</xs:element>
						<xs:element name="bolsaFamilia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bolsa família</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="quantidadeCriancas" type="xs:integer"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quantidade de crianças</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="idosos" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Idosos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="deficientes" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Deficientes</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="situacaoImovel">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>4. Situação do imóvel
						</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="situacaoImovel" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Situação do imóvel</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Regular" />
									<xs:enumeration value="Fechado" />
									<xs:enumeration value="Alugado" />
									<xs:enumeration value="Cedido" />
									<xs:enumeration value="Comprado" />
									<xs:enumeration value="Troca regular" />
									<xs:enumeration value="Troca irregular" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="casoAluguelNomeBeneficiario"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Em caso de aluguel/compra/cessão, nome do
										beneficiário/locador/cedente</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="processo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Processo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="alteracaoEstruturaImovel" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Alteração na estrutura do imóvel</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="observacoes"
							minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
