acao-habitafor/schemas/habitafor-assentamento-bic.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/habitafor-assentamento-bic.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/habitafor-assentamento-bic.xsd"
	elementFormDefault="qualified">

	<xs:element name="formAssentamentoBIC" type="formAssentamentoBIC">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>01. BIC - ASSENTAMENTO</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Habitação</class:classificacao>
				</class:classificacoes>
                <idx:index>
                    <idx:hint key="pessoa.nome" xpath="formAssentamentoBIC/identificacao/entrevistador" />
                    <idx:hint key="pessoa.nome" xpath="formAssentamentoBIC/identificacao/tecnicoResponsavel" />
                    <idx:hint key="pessoa.nome" xpath="formAssentamentoBIC/EqpServDisponiveis/organizacaoComunitaria/contato" /> 
                </idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formAssentamentoBIC">
		<xs:sequence>

			<xs:element name="identificacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Identificação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="numeroFormulario" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Formulário Nº</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="data" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="orgaoCadastrador" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Orgão cadastrador</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Habitafor" />
									<xs:enumeration value="SEINF" />
									<xs:enumeration value="SER 1" />
									<xs:enumeration value="SER 2" />
									<xs:enumeration value="SER 3" />
									<xs:enumeration value="SER 4" />
									<xs:enumeration value="SER 5" />
									<xs:enumeration value="SER 6" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="entrevistador" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Entrevistador</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="assentamento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Assentamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoAssentamento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo assentamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Favela" />
									<xs:enumeration value="Cortiço" />
									<xs:enumeration value="Loteamento irregular" />
									<xs:enumeration value="Conjunto habitacional degradado" />
									<xs:enumeration value="Outro" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="especifiqueOutroTipoAssentamento"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tecnicoResponsavel" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Técnico responsável</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="registroProfissional" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Registro profissional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="dadosGerais">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Dados Gerais</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="bairro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bairro</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/bairros</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="regional" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Regional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="SER 1" />
									<xs:enumeration value="SER 2" />
									<xs:enumeration value="SER 3" />
									<xs:enumeration value="SER 4" />
									<xs:enumeration value="SER 5" />
									<xs:enumeration value="SER 6" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="localizacaoCartografica" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Localização cartográfica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="poligonalPontosGeoreferenciados"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Poligonal com pontos georeferenciados
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tempoExistencia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tempo de existência(em meses)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="principaisViasAcesso" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Principais vias de acesso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="situacaoFundiaria" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Situação fundiária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Público" />
									<xs:enumeration value="Privado" />
									<xs:enumeration value="Misto" />
									<xs:enumeration value="Não sabe" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="existeConflitoFundiario" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Existencia de conflito fundiário</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="numeroUnidades" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Número de unidades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="areaM2" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Área (em m2)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="zeis" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>ZEIS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="zeisTipo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>ZEIS/Tipo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="1" />
									<xs:enumeration value="2" />
									<xs:enumeration value="3" />
									<xs:enumeration value="4" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipologiaEdificacoes" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipologia das edificações (predominante)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Horizontal" />
									<xs:enumeration value="Vertical" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="padraoConstrutivo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Padrão construtivo (predominante)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Alvenaria" />
									<xs:enumeration value="Taipa" />
									<xs:enumeration value="Madeira" />
									<xs:enumeration value="Pré-moldado" />
									<xs:enumeration value="Papelão" />
									<xs:enumeration value="Plástico" />
									<xs:enumeration value="Lona" />
									<xs:enumeration value="Mista" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="meioAmbiente">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Meio Ambiente</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="areaRisco" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Área de risco</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


						<xs:element name="tipoRisco" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de Risco</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="alagamento" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Alagamento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="inundacao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inundação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="erosao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Erosão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="viaFerreaRodovia" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Via férrea/Rodovia</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="linhaAltaTensao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Linha de alta tensão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="deslizamentoSoterramento" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Deslisamento/Soterramento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="outros" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="especifiqueOutros" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="areaPreservacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Área de preservação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="recursoHidrico" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Recurso hídrico</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="poluicaoRecursosHidricos" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Poluição de recursos hídricos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="poluicaoAr" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Poluição do ar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="poluicaoSonora" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Poluição sonora</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="acumulacaoLixo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Acumulação de lixo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="observacoes" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="infraEstrutura">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Infra-Estrutura</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="redeAgua" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede de água</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Clandestina" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="redeColetaEsgoto" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede coleta esgoto</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="redeEnergiaElétrica" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede de energia elétrica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Clandestina" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="redeTelefoniaFixa" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede de telefonia fixa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="redeDrenagem" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede de drenagem</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="coletaSistematicaLixo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Coleta sistemática de lixo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pavimentacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pavimentação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="transporteAlternativo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Transporte alternativo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="transporteFerroviario" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Transporte ferroviário</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="linhaOnibus" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Linha de ônibus</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="nomeLinhaOnibus" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome da linha de ônibus</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoPavimentacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo pavimentação (predominante)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Asfalto" />
									<xs:enumeration value="Pedra tosca" />
									<xs:enumeration value="Paralelepípedo" />
									<xs:enumeration value="Piçarra" />
									<xs:enumeration value="Outro" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="especifiqueOutro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="porteSistemaViario" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Porte do sistema viário</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="avenida" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Avenida</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ruasEstreitas" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ruas estreitas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ruasLargas" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ruas estreitas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="becosEstreito" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Becos estreitos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="becosLargos" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Becos largos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="observacoes" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="EqpServDisponiveis">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Equipamentos e Serviços Disponíveis</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="educacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="escolaEnsFund" type="xs:boolean" >
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Escola de ensino fundamental</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeEscEnsFund" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesEscEnsFund" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="escolaEnsMed" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Escola de ensino médio</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeEscEnsMed" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesEscEnsMed" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="instituicaoEnsSup" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição de ensino superior</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeInstituicaoEnsSup" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesInstituicaoEnsSup" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="creche" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Creche</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeCreches" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesCreches" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="instituicaoEnsProf" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição de ensino profissionalizante
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeInstituicaoEnsProf" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesInstituicaoEnsProf"
										minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="saude" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="caps" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>CAPS</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeCaps" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesCaps" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="hospital" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Hospital</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeHospitais" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesHospitais" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="postoSaude" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Posto de saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdePostoSaude" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesPostoSaude" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="ambulatorio" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ambulatorio</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeAmbulatorio" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesAmbulatorio" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="social" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="orgaoAssistenciaSocial" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Orgão de assitência social</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeOrgaoAssistenciaSocial" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesOrgaoAssistenciaSocial"
										minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="associacaoComunitaria" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Associação comunitária</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeAssociacaoComunitaria" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesAssociacaoComunitaria"
										minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="centroComunitario" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Centro comunitário</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeCentroComunitario" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesCentroComunitario" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="oficinaProducao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Oficina de produção</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeOficinaProducao" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesOficinaProducao" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="galpaoComunitario" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Galpão comunitário</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeGalpaoComunitario" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesGalpaoComunitario" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="instituicaoReligiosa" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Instituição religiosa</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeInstituicaoReligiosa" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesInstituicaoReligiosa"
										minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="organizacaoNaoGovernamental" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Organizacao não-governamental</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeOrganizacaoNaoGovernamental"
										type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="nomesOrganizacaoNaoGovernamental"
										minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nomes</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="alimentacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Alimentação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="supermercado" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Supermercado</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeSupermercado" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="mercadinhoMercearia" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Mercadinho/Mercearia</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeMercadinhoMercearia" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="barLanchonete" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Bar/Lanchonete</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeBarLanchonete" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="acougue" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Açougue</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeAcougue" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="padaria" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Padaria</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdePadaria" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="restaurante" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Restaurante</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeRestaurante" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="servicos" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Serviços</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="casaLoterica" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Casa lotérica</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeCasaLoterica" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="correio" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Correio</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeCorreio" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="salaoBeleza" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Salão de beleza</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeSalaoBeleza" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="armarinho" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Armarinho</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeArmarinho" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="farmacia" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Farmácia</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeFarmacia" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="postoCombustivel" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Posto de combustível</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdePostoCombustivel" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="banco" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Banco</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeBanco" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="distritoPolicial" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Distrito Policial</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeDistritoPolicial" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="lazer" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>lazer</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="campoFutebol" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Campo de futebol</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeCampoFutebol" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="quadra" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quadra</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeQuadra" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="playground" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Playground</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdePlayground" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="academia" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Academia</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeAcademia" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="clube" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Clube</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeClube" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="centroSocial" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Centro Social</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdeCentroSocial" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="praca" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Praça</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtdePraca" type="xs:integer" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde.</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="observacoes" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="existeOrganizacaoComunitaria"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Existe organização comunitaria</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="qtdeOrganizacaoComunitaria" type="xs:integer"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qtde.</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="organizacaoComunitaria" minOccurs="0"
							maxOccurs="10">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Organização comunitaria</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="nomeEntidade" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nome entidade</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="tipoEntidade" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tipo da entidade</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Formal" />
												<xs:enumeration value="Informal" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="contato" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nome contato</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="endereco" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Endereço</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="telefone" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nome entidade</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="tempoFuncionamento" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Tempo de funcionamento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="observacoes" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Observações</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
