acao-habitafor/schemas/habitafor-boletimInformacaoCadastral-bic.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/habitafor-boletiminformacaocadastral-bic.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/habitafor-boletiminformacaocadastral-bic.xsd"
	elementFormDefault="qualified">

	<xs:element name="formBoletimInformacaoCadastral" type="formBoletimInformacaoCadastral">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>05. BOLETIM DE INFORMAÇÕES CADASTRAIS</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Habitação</class:classificacao>
				</class:classificacoes>
				<idx:index>
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/identificacao/entrevistador" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/identificacao/tecnicoResponsavel" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/dadosChefeDaFamilia/nome" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/dadosChefeDaFamilia/apelido" />
					<idx:hint key="pessoa.rg" xpath="formAssentamentoBIC/dadosChefeDaFamilia/rg" />
					<idx:hint key="pessoa.cpf"
						xpath="formAssentamentoBIC/dadosChefeDaFamilia/cpf" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/dadosChefeDaFamilia/nomePai" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/dadosChefeDaFamilia/nomeMae" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/dadosCompanheiro/nomeCompanheiro" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/dadosCompanheiro/apelidoCompanheiro" />
					<idx:hint key="pessoa.rg"
						xpath="formAssentamentoBIC/dadosCompanheiro/rgCompanheiro" />
					<idx:hint key="pessoa.cpf"
						xpath="formAssentamentoBIC/dadosCompanheiro/cpfCompanheiro" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/dadosCompanheiro/nomePaiCompanheiro" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/dadosCompanheiro/nomeMaeCompanheiro" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/dadosDoInformante/nomeInformante" />
					<idx:hint key="pessoa.rg"
						xpath="formAssentamentoBIC/dadosCompanheiro/rgInformante" />
					<idx:hint key="pessoa.nome"
						xpath="formAssentamentoBIC/composicaoFamiliar/nome" />
				</idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formBoletimInformacaoCadastral">
		<xs:sequence>

			<xs:element name="identificacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Identificação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="numeroFormulario" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Formulário Nº</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="data" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="orgaoCadastrador" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Orgão cadastrador</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Habitafor" />
									<xs:enumeration value="SEINF" />
									<xs:enumeration value="SER 1" />
									<xs:enumeration value="SER 2" />
									<xs:enumeration value="SER 3" />
									<xs:enumeration value="SER 4" />
									<xs:enumeration value="SER 5" />
									<xs:enumeration value="SER 6" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="entrevistador" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Entrevistador</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="assentamento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Assentamento/Comunidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="condicaoOcupacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Condição de Ocupação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Beneficiario" />
									<xs:enumeration value="Ocupante" />
									<xs:enumeration value="Demandante" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="enderecoImovel">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Endereço do Imóvel</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="logradouro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Logradouro</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/enderecos</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="cep" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CEP</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="numero" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Número</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="complemento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Complemento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="quadra" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quadra</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="lote" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Lote</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="bairro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bairro</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/bairros</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="fone" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Fone</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="localizacaoCartografica" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Localização cartográfica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="dadosSocioEconomico">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Dados Sócio-Econômicos</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="titularidade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qualidade da titularidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Própria" />
									<xs:enumeration value="Composse" />
									<xs:enumeration value="Composse por decisão judicial" />
									<xs:enumeration value="Sucessão" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="condicaoMoradia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Condição de moradia</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Adquirida" />
									<xs:enumeration value="Aludaga" />
									<xs:enumeration value="Cedida" />
									<xs:enumeration value="Ocupada" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoCoabitacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de coabitação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Familiar" />
									<xs:enumeration value="Não familiar" />
									<xs:enumeration value="Não existe" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="procedenciaFamilia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Procedência da família</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Mesmo bairro" />
									<xs:enumeration value="Outro bairro" />
									<xs:enumeration value="Região metropolitana" />
									<xs:enumeration value="Cidade do interior" />
									<xs:enumeration value="Outro estado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tempoMoradia" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tempo de moradia(em meses)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nrFamilias" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nr famílias</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nrMoradores" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nr moradores</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nrMoradoresTrabalhando" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nr moradores trabalhando</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nrMoradoresEstudando" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nr moradores estudando</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nrMenores" minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nr de menores</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nrMenoresTrabalhando" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nr de menores trabalhando</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nrMenoresEstudando" minOccurs="0"
							type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nr de menores estudando</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="vinculoAssociacaoComunitaria"
							minOccurs="0" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Vínculo com associação comunitária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="nomeAssociacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome da associação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="nrPessoaCasaFaixaEtaria" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nr de pessoas na casa por faixa etária
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="_0a4" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 4</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="_5a9" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>5 a 9</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="_10a14" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>10 a 14</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="_15a17" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>15 a 17</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="_18a21" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>18 a 21</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="_22a24" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>22 a 24</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>tipolog

									<xs:element name="_25a29" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>25 a 29</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="_30a39" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>5 a 9</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="_40a49" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>5 a 9</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="_50a59" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>50 a 59</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="_60a65" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>60 a 65</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="acima65" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>acima de 65</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="rendaMensalCasa" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Renda Mesal(casa)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sem renda" />
									<xs:enumeration value="até 1/2" />
									<xs:enumeration value="Mais de 1/2 a 1" />
									<xs:enumeration value="Mais de 1 a 2" />
									<xs:enumeration value="Mais de 2 a 3" />
									<xs:enumeration value="Mais de 3 a 5" />
									<xs:enumeration value="Mais de 5" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="nrDeficientesCasa" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nr de deficientes na casa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="deficienciaAuditiva" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Deficiencia auditiva</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="deficienciaVisual" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Deficiencia visual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="deficienciaMotora" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Deficiencia motora</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="deficienciaMental" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Deficiencia mental</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="tipoDeficienciaMotora" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo deficiência motora</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Paralisia total" />
									<xs:enumeration value="Paralisia membros superiores" />
									<xs:enumeration value="Paralisia membros inferiores" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="nrMoradoresAssistidosProgramasSociais"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nr de moradores assistidos por programas sociais
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="governoFederal" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Governo federal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="governoEstadual" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Governo estadual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="governoMunicipal" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Governo municipal</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="governoOutros" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="nis" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Número de Identificação Social - NIS
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="observacoes" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="caracteristicaImovel">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Característica do Imóvel</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:element name="tipologiaImovel" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipologia do imóvel/terreno</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Em assentamento irregular" />
									<xs:enumeration value="Em assentamento regular" />
									<xs:enumeration value="Com unidade de multirão" />
									<xs:enumeration value="Com unidade edificada" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="localizacaoImovel" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Localização do imóvel</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Quadra loteada" />
									<xs:enumeration value="Leito de rua" />
									<xs:enumeration value="Praça" />
									<xs:enumeration value="Área verde" />
									<xs:enumeration value="Área institucional" />
									<xs:enumeration value="Área de preservação/proteção" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipologiaUso" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipologia de Uso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Residencial" />
									<xs:enumeration value="Comercial" />
									<xs:enumeration value="Serviço" />
									<xs:enumeration value="Misto" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="especifiqueTipologiaUso" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique tipologia de uso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="condicaoFundiaria" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Condição fundiária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Regularizada" />
									<xs:enumeration value="Não regularizada" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tiporegularizacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo regularização</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Por permissão de uso" />
									<xs:enumeration value="Por autorização de uso" />
									<xs:enumeration value="Por concessão de direito real de uso" />
									<xs:enumeration value="Usucapião" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="matricula" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Matrícula</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="cartorio" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Cartório/Zona</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="proprietario" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Proprietário</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="divisaoEdificacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Divisao da edificação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Horizontal" />
									<xs:enumeration value="Vertical" />
									<xs:enumeration value="Não existe" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="areaEstimadaLote" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Área estimada do lote(m2)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Até 20" />
									<xs:enumeration value="Mais de 20 a 40" />
									<xs:enumeration value="Mais de 40 a 60" />
									<xs:enumeration value="Mais de 60 a 80" />
									<xs:enumeration value="Acima de 80" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipologiaConstrucao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipologia construção</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Alvenaria" />
									<xs:enumeration value="Taipa" />
									<xs:enumeration value="Madeira" />
									<xs:enumeration value="Pré-moldado" />
									<xs:enumeration value="Papelão" />
									<xs:enumeration value="Plástico" />
									<xs:enumeration value="Lona" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoCobertura" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo cobertura</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Telha" />
									<xs:enumeration value="Palha" />
									<xs:enumeration value="Plástico/Madeira" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoPiso" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo piso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Barro batido" />
									<xs:enumeration value="Cimentado" />
									<xs:enumeration value="Tábua" />
									<xs:enumeration value="Cerâmica" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoParede" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Revestimento da parede</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Com reboco" />
									<xs:enumeration value="Sem reboco" />
									<xs:enumeration value="Pintura" />
									<xs:enumeration value="Plástico" />
									<xs:enumeration value="Papelão" />
									<xs:enumeration value="Madeira" />
									<xs:enumeration value="Taipa" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="composicaoMoradia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Composição da moradia</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="qtQuartos" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde quartos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtSalas" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde salas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtCozinhas" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde cozinhas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtBanheiros" minOccurs="0"
										type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde banheiros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="qtOutros" minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qtde outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="especiqueOutros" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="casaSituacaoRisco" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Casa em situação de risco</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoRisco" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de risco</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="alagamento" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Alagamento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="inundacao" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inundação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="deslizamentoSoterramento"
										minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Deslizamento/Soterramento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="viaFerreaRodovia" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Via férrea/Rodovia</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="erosao" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Erosão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="linhaAltaTensao" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Linha de alta tensão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="estrutural" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Estrutural</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="insalubridade" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Insalubridade</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="outro" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="especiqueOutros" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="beneficioRecebido" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Benefício recebido</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="kitSanitario" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Kit sanitário</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="casaBela" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Casa bela</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="melhoriaHabitacional" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Melhoria habitacional</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="especiqueQual" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique qual</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="observacoes" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="infraEstrutura">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Infra-Estrutura</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ligacaoRedeAgua" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ligação com rede de água</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Inexistente" />
									<xs:enumeration value="Hidrômetro individual" />
									<xs:enumeration value="Hidrômetro coletivo" />
									<xs:enumeration value="Sem hidrômetro" />
									<xs:enumeration value="Clandestina" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="outrosTiposAbastecimentoAgua"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros tipos de abastecimento de água
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="poco" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Poço</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="chafariz" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Chafariz</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="outro" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="especiqueOutro" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique outro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="ligacaoRedeEsgoto" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ligação com rede de esgoto</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Inexistente" />
									<xs:enumeration value="Com ligação" />
									<xs:enumeration value="Clandestina" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="outrosTiposColetaEsgoto" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros tipos de esgoto
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="fossaSumidouro" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Fossa/Sumidouro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="viaPublica" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Via pública</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="redeDrenagemRecursoHidrico"
										minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Rede de drenagem/recurso hídrico</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="outro" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="especiqueOutro" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique outro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="ligacaoRedeEnergiaElétrica"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ligação com rede energia elétrica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Inexistente" />
									<xs:enumeration value="Oficial" />
									<xs:enumeration value="Clandestina" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pavimentacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pavimentação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Asfalto" />
									<xs:enumeration value="Pedra tosca" />
									<xs:enumeration value="Paralelepípedo" />
									<xs:enumeration value="Piçarra" />
									<xs:enumeration value="Outro" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="especifiqueOutro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="ligacaoTelefonica" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ligação telefônica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Telefone fixo" />
									<xs:enumeration value="Telefone celular " />
									<xs:enumeration value="Telefone público" />
									<xs:enumeration value="Telefone comunitário" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoDrenagem" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de drenagem
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="galeriaSubterranea" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Galeria subterrânea</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="sargeta" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sargeta</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="cursoAguaCanalizado" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Curso d'agua canalizado</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="cursoAguaNaoCanalizado" minOccurs="0"
										type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Curso d'agua não canalizado</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="outro" minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="especiqueOutro" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique outro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="destinacaoLixo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Destinação do lixo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Conteiner" />
									<xs:enumeration value="Terreno baldio " />
									<xs:enumeration value="Recurso hídrico" />
									<xs:enumeration value="Calçada/rua" />
									<xs:enumeration value="Enterrado" />
									<xs:enumeration value="Queimado" />
									<xs:enumeration value="Coletado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="observacoes" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="dadosChefeDaFamilia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Dados do Chefe(a) da Família</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nome" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="apelido" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Apelido</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="titularDoImovel" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Titular do imóvel</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="sexo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Masculino" />
									<xs:enumeration value="Feminino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dataNascimento" type="xs:date"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data de nascimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="estadoCivil" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Estado civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solteiro(a)" />
									<xs:enumeration value="Casado(a)" />
									<xs:enumeration value="Viúvo(a)" />
									<xs:enumeration value="Divorciado(a)" />
									<xs:enumeration value="União estável" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="rg" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>RG</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="orgaoExp" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Órgão expedidor</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="cpf" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CPF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="tituloEleitor" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Título de eleitor</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="zona" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Zona</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="secao" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Seção</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="faixaEtaria" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="15 a 16" />
									<xs:enumeration value="17 a 19" />
									<xs:enumeration value="20 a 24" />
									<xs:enumeration value="25 a 29" />
									<xs:enumeration value="30 a 39" />
									<xs:enumeration value="40 a 49" />
									<xs:enumeration value="50 a 59" />
									<xs:enumeration value="60 a 65" />
									<xs:enumeration value="Acima de 65" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="estudando" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Estudando</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="profissao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Profissão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ocupacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ocupação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="vinculoEmpregaticio" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Vínculo empregatício</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="bairroEmpregoOuTrabalho" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bairro do emprego ou trabalho</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/bairros</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="grauDeEscolaridade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Grau de escolaridade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Analfabeto(a)" />
									<xs:enumeration value="Alfabetizado(a)" />
									<xs:enumeration value="Ensino fundamental incompleto" />
									<xs:enumeration value="Ensino fundamental completo" />
									<xs:enumeration value="Ensino médio incompleto" />
									<xs:enumeration value="Ensino médio completo" />
									<xs:enumeration value="Curso técnico incompleto" />
									<xs:enumeration value="Curso técnico completo" />
									<xs:enumeration value="Curso superior incompleto" />
									<xs:enumeration value="Curso superior completo" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="condicaoFuncional" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Condição Funcional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Empregado(a)" />
									<xs:enumeration value="Aposentado(a)" />
									<xs:enumeration value="Pensionista" />
									<xs:enumeration value="Autônomo(a)" />
									<xs:enumeration value="Cooperado(a)" />
									<xs:enumeration value="Eventual" />
									<xs:enumeration value="Desempregado(a)" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="nomeDoPai" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome do pai</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="nomeDaMae" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome da mãe</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="observacoes" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="dadosCompanheiro">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Dados do(a) Companheiro(a)</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nomeCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="apelidoCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Apelido</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="titularDoImovelCompanheiro"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Titular do imóvel</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="sexoCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Masculino" />
									<xs:enumeration value="Feminino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dataNascimentoCompanheiro" type="xs:date"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data de nascimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="estadoCivilCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Estado civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solteiro(a)" />
									<xs:enumeration value="Casado(a)" />
									<xs:enumeration value="Viúvo(a)" />
									<xs:enumeration value="Divorciado(a)" />
									<xs:enumeration value="União estável" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="rgCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>RG</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="orgaoExpCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Órgão expedidor</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="cpfCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CPF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="tituloEleitorCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Título de eleitor</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="zonaCompanheiro" type="xs:integer"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Zona</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="secaoCompanheiro" type="xs:integer"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Seção</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="faixaEtariaCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Faixa etária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="15 a 16" />
									<xs:enumeration value="17 a 19" />
									<xs:enumeration value="20 a 24" />
									<xs:enumeration value="25 a 29" />
									<xs:enumeration value="30 a 39" />
									<xs:enumeration value="40 a 49" />
									<xs:enumeration value="50 a 59" />
									<xs:enumeration value="60 a 65" />
									<xs:enumeration value="Acima de 65" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="estudandoCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Estudando</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="profissaoCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Profissão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ocupacaoCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Ocupação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="vinculoEmpregaticioCompanheiro"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Vínculo empregatício</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="bairroEmpregoOuTrabalhoCompanheiro"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bairro do emprego ou trabalho</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/bairros</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="grauDeEscolaridadeCompanheiro"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Grau de escolaridade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Analfabeto(a)" />
									<xs:enumeration value="Alfabetizado(a)" />
									<xs:enumeration value="Ensino fundamental incompleto" />
									<xs:enumeration value="Ensino fundamental completo" />
									<xs:enumeration value="Ensino médio incompleto" />
									<xs:enumeration value="Ensino médio completo" />
									<xs:enumeration value="Curso técnico incompleto" />
									<xs:enumeration value="Curso técnico completo" />
									<xs:enumeration value="Curso superior incompleto" />
									<xs:enumeration value="Curso superior completo" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="condicaoFuncionalCompanheiro"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Condição Funcional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Empregado(a)" />
									<xs:enumeration value="Aposentado(a)" />
									<xs:enumeration value="Pensionista" />
									<xs:enumeration value="Autônomo(a)" />
									<xs:enumeration value="Cooperado(a)" />
									<xs:enumeration value="Eventual" />
									<xs:enumeration value="Desempregado(a)" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="nomeDoPaiCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome do pai</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="nomeDaMaeCompanheiro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome da mãe</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="observacoesCompanheiro" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="dadosDoInformante">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Dados do Informante</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nomeInformante" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="rgInformante" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>RG</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="orgaoExpInformante" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Órgão expedidor</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dataNascimentoInformante" type="xs:date"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data de nascimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="relacaoComTitularDoImovel" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Relação com titular do imóvel</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="O próprio" />
									<xs:enumeration value="Parente" />
									<xs:enumeration value="Vizinho(a)" />
									<xs:enumeration value="Companheiro(a)" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="observacoesInformante" type="xs:string"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="copiasEmAnexo" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Cópias em anexo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RG" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>RG</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="CPF" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CPF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="comprovanteResidência" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Comprovante de residência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outros" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="composicaoFamiliar" minOccurs="0" maxOccurs="100">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Composição familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="100">
						<xs:element name="nome" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="relacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Relação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dataNascimento" type="xs:date" >
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data de nascimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="sexo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Sexo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Masculino" />
									<xs:enumeration value="Feminino" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="grauInstrucao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Grau de instrução</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Analfabeto" />
									<xs:enumeration value="Alfabetizado" />
									<xs:enumeration value="Sem idade escolar" />
									<xs:enumeration value="Pré-escola" />
									<xs:enumeration value="Ensino fundamental incompleto" />
									<xs:enumeration value="Ensino fundamental completo" />
									<xs:enumeration value="Ensino médio incompleto" />
									<xs:enumeration value="Ensino médio completo" />
									<xs:enumeration value="Ensino superior incompleto" />
									<xs:enumeration value="Ensino superior completo" />
									<xs:enumeration value="Curso técnico incompleto" />
									<xs:enumeration value="Curso técnico completo" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="estaCursando" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Está cursando</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Sem idade para estudar" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="nomeEscola" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome da escola</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/escolas</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="profissao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Profissão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="trabalha" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Trabalha</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Sem idade para trabalhar" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="tipoVinculo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de vinculo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="CLT" />
									<xs:enumeration value="estatutário" />
									<xs:enumeration value="Cooperado(a)" />
									<xs:enumeration value="Contrato temporário" />
									<xs:enumeration value="Autônomo(a)" />
									<xs:enumeration value="Eventual" />
									<xs:enumeration value="Pensionista" />
									<xs:enumeration value="Aposentado(a)" />
									<xs:enumeration value="Não possui" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="renda" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Renda</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="aguaBeber" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Água de beber</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Filtrada" />
						<xs:enumeration value="Fervida" />
						<xs:enumeration value="Não Tratada" />
						<xs:enumeration value="Outros" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="doecasFrequente" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Doenças mais frequentes nos adultos: (permite a
							marcação de mais de uma alternativa)</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="colera" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Coléra</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="dengeu" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Dengue</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="diarréia" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Diarréia</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="doencaRespiratorias" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Doenças respiratórias</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="verminoses" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Verminoses</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="viroses" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Viroses</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="hipertensao" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Hipertensão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="diabetes" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Diabetes</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="drogas" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Drogas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="nenhuma" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nenhuma</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outros" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="doecasFrequenteCriacas" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Doenças mais frequentes nas crianças e
							adolescentes:
							(permite a marcação de mais de uma alternativa)
								</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="colera" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Coléra</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="dengeu" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Dengue</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="diarréia" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Diarréia</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="doencaRespiratorias" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Doenças respiratórias</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="verminoses" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Verminoses</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="viroses" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Viroses</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="hipertensao" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Hipertensão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="diabetes" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Diabetes</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="drogas" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Drogas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="nenhuma" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nenhuma</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outros" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="participaAtividadeCulturais" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Participa em atividades culturais</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>

				</xs:simpleType>
			</xs:element>
			<xs:element name="qualAtividadeCultural" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Qual</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="interesseParticipar" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Interesse em participar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>

				</xs:simpleType>
			</xs:element>
			<xs:element name="qualInteresse" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Qual</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="opcoesLazer" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Opções de lazer: (permite a marcação de mais de uma
							alternativa)</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="praca" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Praça</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="vizinho" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Vizinho</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="tv" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>TV</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="esportes" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Esportes</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="bar" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="radio" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rádio</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="outro" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="qtdCriacasTemCertidoes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Quantidade de crianças que possuem certidão de
							nascimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="qtdCriacasNaoTemCertidoes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Quantidade de crianças que não possuem certidão de
							nascimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
