acao-habitafor/schemas/habitafor-assentamento-bic.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/habitafor-assentamento-bic.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/habitafor-assentamento-bic.xsd"
	elementFormDefault="qualified">

	<xs:element name="formAssentamentoBIC" type="formAssentamentoBIC">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>01. BIC - ASSENTAMENTO</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Habitação</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formAssentamentoBIC">
		<xs:sequence>

			<xs:element name="identificacao">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Identificação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>


						<xs:element name="numeroFormulario" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Formulário Nº</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="data" minOccurs="0" type="xs:date">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="orgaoCadastrador" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Orgão cadastrador</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Habitafor" />
									<xs:enumeration value="SEINF" />
									<xs:enumeration value="SER 1" />
									<xs:enumeration value="SER 2" />
									<xs:enumeration value="SER 3" />
									<xs:enumeration value="SER 4" />
									<xs:enumeration value="SER 5" />
									<xs:enumeration value="SER 6" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="entrevistador" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Entrevistador</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="assentamento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Assentamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoAssentamento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo assentamento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Favela" />
									<xs:enumeration value="Cortiço" />
									<xs:enumeration value="Loteamento irregular" />
									<xs:enumeration value="Conjunto habitacional degradado" />
									<xs:enumeration value="Outro" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="especifiqueOutroTipoAssentamento"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tecnicoResponsavel" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Técnico responsável</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="registroProfissional" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Registro profissional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="dadosGerais">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Dados Gerais</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="Bairro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bairro</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/bairros</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="regional" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Regional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="SER 1" />
									<xs:enumeration value="SER 2" />
									<xs:enumeration value="SER 3" />
									<xs:enumeration value="SER 4" />
									<xs:enumeration value="SER 5" />
									<xs:enumeration value="SER 6" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="localizacaoCartografica" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Localização cartográfica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="poligonalPontosGeoreferenciados"
							minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Poligonal com pontos georeferenciados
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tempoExistencia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tempo de existência(em meses)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="principaisViasAcesso" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Principais vias de acesso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="situacaoFundiaria" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Situação fundiária</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Público" />
									<xs:enumeration value="Privado" />
									<xs:enumeration value="Misto" />
									<xs:enumeration value="Não sabe" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="existeConflitoFundiario" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Existencia de conflito fundiário</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="numeroUnidades" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Número de unidades</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="areaM2" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Área (em m2)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="zeis" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>ZEIS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="zeisTipo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>ZEIS/Tipo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="1" />
									<xs:enumeration value="2" />
									<xs:enumeration value="3" />
									<xs:enumeration value="4" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipologiaEdificacoes" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipologia das edificações (predominante)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Horizontal" />
									<xs:enumeration value="Vertical" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="padraoConstrutivo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Padrão construtivo (predominante)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Alvenaria" />
									<xs:enumeration value="Taipa" />
									<xs:enumeration value="Madeira" />
									<xs:enumeration value="Pré-moldado" />
									<xs:enumeration value="Papelão" />
									<xs:enumeration value="Plástico" />
									<xs:enumeration value="Lona" />
									<xs:enumeration value="Mista" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="meioAmbiente">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Meio Ambiente</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="areaRisco" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Área de risco</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


						<xs:element name="tipoRisco" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de Risco</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="alagamento" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Alagamento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="inundacao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Inundação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="erosao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Erosão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="viaFerreaRodovia" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Via férrea/Rodovia</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="linhaAltaTensao" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Linha de alta tensão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="deslizamentoSoterramento" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Deslisamento/Soterramento</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="outros" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="especifiqueOutros" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="areaPreservacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Área de preservação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="recursoHidrico" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Recurso hídrico</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="poluicaoRecursosHidricos" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Poluição de recursos hídricos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="poluicaoAr" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Poluição do ar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="poluicaoSonora" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Poluição sonora</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="acumulacaoLixo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Acumulação de lixo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="observacoes" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="infraEstrutura">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Infra-Estrutura</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="redeAgua" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede de água</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Clandestina" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="redeColetEsgoto" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede coleta esgoto</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="redeEnergiaElétrica" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede de energia elétrica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Clandestina" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="redeTelefoniaFixa" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede de telefonia fixa</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="redeDrenagem" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede de drenagem</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="coletaSistematicaLixo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Coleta sistemática de lixo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="pavimentacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pavimentação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="transporteAlternativo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Transporte alternativo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="transporteFerroviario" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Transporte ferroviário</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="linhaOnibus" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Linha de ônibus</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="nomeLinhaOnibus" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome da linha de ônibus</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="tipoPavimentacao" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo pavimentação (predominante)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Asfalto" />
									<xs:enumeration value="Pedra tosca" />
									<xs:enumeration value="Paralelepípedo" />
									<xs:enumeration value="Pirraça" />
									<xs:enumeration value="Outro" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="especifiqueOutro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outro</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="porteSistemaViario" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Porte do sistema viário</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="avenida" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Avenida</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ruasEstreitas" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ruas estreitas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="ruasLargas" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Ruas estreitas</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="becosEstreito" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Becos estreitos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
									<xs:element name="becosLargos" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Becos largos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="observacoes" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
